### How to run this notebook

* Online with [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/joaquimrcarvalho/cipf-comtrade.git/main?labpath=comtrade-api.ipynb):
https://mybinder.org/v2/gh/joaquimrcarvalho/cipf-comtrade.git/main?labpath=comtrade-api.ipynb
* In your own machine: check https://github.com/joaquimrcarvalho/cipf-comtrade.git

# Teste da API UN Comtrade

> The UN COMTRADE is the largest depository of international trade data. It contains well over 5 billion data records since 1962 and is available publicly on the internet. In addition, it offers public and premium data API for easier integration/download.

Informação geral: https://unstats.un.org/wiki/display/comtrade/What+is+UN+Comtrade

API Site: https://comtradedeveloper.un.org 
API specs: https://comtradedeveloper.un.org/api-details#api=comtrade-v1&operation=get-get


Manual metodológico 
* alterações a partir de 2019: https://comtrade.un.org/data/MethodologyGuideforComtradePlus.pdf
* conceitos: https://unstats.un.org/unsd/trade/eg-imts/IMTS%202010%20(English).pdf

Codebook:
* https://unstats.un.org/wiki/display/comtrade/New+Comtrade+FAQ+for+First+Time+Users?preview=/125141443/135004360/ComtradePlus%20-%20data%20items%20-%2017%20Mar%202020.xlsx
* Documentação geral de códigos e categorias: https://unctadstat.unctad.org/EN/Classifications.html

Python package (low level calls):
* https://github.com/uncomtrade/comtradeapicall

Ver também:
* https://wits.worldbank.org/wits/wits/witshelp/Content/Data_Retrieval/T/Intro/B1.Working_with_Trade_Data.htm
* https://wits.worldbank.org/wits/wits/witshelp/Content/Data_Retrieval/T/Intro/B2.Imports_Exports_and_Mirror.htm

## Setup comtrade tools

In [1]:
import comtradetools as comtrade

comtrade.setup()

## Get a free API Key

To access the UN Comtrade via API, you need an access key,
otherwise the results are limited to 500 lines.

To obtain the access key:
* Register at https://comtradedeveloper.un.org/
* Go to _Products_ 
* Select "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Choose _Subscribe to "comtrade - v1"_  
* Wait for the email with the API key (takes a few days)
* Copy the key to the location indicated in the `config.ini` file before running the rest of the notebook.
  running the rest of the notebook.

---

Para aceder à UN Comtrade via API sem limites é necessário uma chave de acesso,
de outro modo os resultados são limitados a 500 linhas.

Para obter a chave de acsso:
* Registo em https://comtradedeveloper.un.org/
* Ir para _Products_ 
* Selecionar "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Escolher _Subscribe to "comtrade - v1"_  
* Esperar pelo email com a chave da API key (demora alguns dias
* Copia a chave para o local indicado no ficheiro `config.ini` antes
  de executar o resto do notebook.

In [2]:
import comtradetools as comtrade

print('Current config file with APIKEY:',comtrade.CONFIG_FILE)

Current config file with APIKEY: config.ini

## init comtrade tools with API Key

In [3]:
import comtradetools as comtrade

APIKEY = comtrade.get_api_key()

comtrade.init(APIKEY, force_init=False)

INFO:root:Loading HS codes from support/harmonized-system.csv

## Columns in the dataset

The following table describes the columns in the dataset.

In [4]:
import comtradetools as comtrade

print(comtrade.DATA_ITEM_DF.to_markdown())

|    |   Unnamed: 0 | dataItem                 | description                                                                              | isInDataAPICommodity   | isInDataAPIServices   | isInBulkFileFinal   | isInBulkFileTariffline   |
|---:|-------------:|:-------------------------|:-----------------------------------------------------------------------------------------|:-----------------------|:----------------------|:--------------------|:-------------------------|
|  0 |            0 | datasetCode              | Combination of several keys to identify specific datasetCode                             | True                   | True                  | True                | True                     |
|  1 |            1 | typeCode                 | Product type: Goods or Services                                                          | True                   | True                  | True                | True                     |
|  2 |            2 | freqCode                 | The time interval at which observations occur                                            | True                   | True                  | True                | True                     |
|  3 |            3 | refPeriodId              | The period of time to which the measured observation is intended to refer                | True                   | True                  | True                | True                     |
|  4 |            4 | refYear                  | Year of observation                                                                      | True                   | True                  | True                | False                    |
|  5 |            5 | refMonth                 | Month of observation. For annual, it would bet set to 52                                 | True                   | True                  | True                | False                    |
|  6 |            6 | period                   | Combination of year and month (for monthly), year for (annual)                           | True                   | True                  | True                | True                     |
|  7 |            7 | reporterCode             | The country or geographic area to which the measured statistical phenomenon relates      | True                   | True                  | True                | True                     |
|  8 |            8 | reporterISO              | ISO 3 code of reporter                                                                   | True                   | True                  | False               | False                    |
|  9 |            9 | reporterDesc             | Description of reporter                                                                  | True                   | True                  | False               | False                    |
| 10 |           10 | flowCategory             | Simplified trade flow: exports or imports                                                | False                  | False                 | False               | True                     |
| 11 |           11 | flowCode                 | Trade flow or sub-flow (exports, re-exports, imports, re-imports, etc.)                  | True                   | True                  | True                | True                     |
| 12 |           12 | flowDesc                 | Description of trade flows                                                               | True                   | True                  | False               | False                    |
| 13 |           13 | partnerCode              | The primary partner country or geographic area for the respective trade flow             | True                   | True                  | True                | True                     |
| 14 |           14 | partnerISO               | ISO 3 code of 1st partner                                                                | True                   | True                  | False               | False                    |
| 15 |           15 | partnerDesc              | Description of 1st partner                                                               | True                   | True                  | False               | False                    |
| 16 |           16 | partner2Code             | A secondary partner country or geographic area for the respective trade flow             | True                   | False                 | True                | True                     |
| 17 |           17 | partner2ISO              | ISO 3 code of 2nd partner                                                                | True                   | False                 | False               | False                    |
| 18 |           18 | partner2Desc             | Description of 2nd partner                                                               | True                   | False                 | False               | False                    |
| 19 |           19 | classificationSearchCode | Additional product classification to assist data search                                  | True                   | True                  | True                | False                    |
| 20 |           20 | classificationCode       | Indicates the product classification used and which version (HS, SITC)                   | True                   | True                  | True                | True                     |
| 21 |           21 | isOriginalClassification | Flag to indicate whether the classification is reported by country or not                | True                   | True                  | True                | False                    |
| 22 |           22 | cmdCode                  | Product code in conjunction with classification code                                     | True                   | True                  | True                | True                     |
| 23 |           23 | cmdDesc                  | Description of commodity /service category                                               | True                   | True                  | False               | False                    |
| 24 |           24 | aggrLevel                | Hierarchical level of commodity/service category                                         | True                   | True                  | False               | False                    |
| 25 |           25 | isLeaf                   | Identification whether a product code has the most basic level (i.e.,sub-heading for HS) | True                   | True                  | False               | False                    |
| 26 |           26 | customsCode              | Customs or statistical procedure                                                         | True                   | False                 | True                | True                     |
| 27 |           27 | customsDesc              | Description of customs procedure                                                         | True                   | False                 | False               | False                    |
| 28 |           28 | mosCode                  | The mode of supply on delivery of services (trade in services only)                      | False                  | True                  | True                | True                     |
| 29 |           29 | mosDesc                  | Description of mode of supply (trade in services only)                                   | False                  | True                  | False               | False                    |
| 30 |           30 | motCode                  | The mode of transport used when goods enter or leave the economic territory of a country | True                   | False                 | True                | True                     |
| 31 |           31 | motDesc                  | Description of mode of transport                                                         | True                   | False                 | False               | False                    |
| 32 |           32 | qtyUnitCode              | Unit of primary quantity                                                                 | True                   | False                 | True                | True                     |
| 33 |           33 | qtyUnitAbbr              | Abbreviation of primary quantity unit                                                    | True                   | False                 | False               | False                    |
| 34 |           34 | qty                      | Value of primary quantity                                                                | True                   | False                 | True                | True                     |
| 35 |           35 | isQtyEstimated           | Flag whether primary quantity is estimated or not                                        | True                   | False                 | True                | False                    |
| 36 |           36 | altQtyUnitCode           | Unit of secondary quantity                                                               | True                   | False                 | True                | True                     |
| 37 |           37 | altQtyUnitAbbr           | Abbreviation of secondary quantity unit                                                  | True                   | False                 | False               | False                    |
| 38 |           38 | altQty                   | Value of secondary quantity                                                              | True                   | False                 | True                | True                     |
| 39 |           39 | isAltQtyEstimated        | Flag whether secondary quantity is estimated or not                                      | True                   | False                 | True                | False                    |
| 40 |           40 | netWgt                   | Net weight                                                                               | True                   | False                 | True                | True                     |
| 41 |           41 | isnetWgtEstimated        | Flag whether net weight is estimated or not                                              | True                   | False                 | True                | False                    |
| 42 |           42 | grossWgt                 | Gross weight                                                                             | True                   | False                 | True                | True                     |
| 43 |           43 | isgrossWgtEstimated      | Flag whether gross weight is estimated or not                                            | True                   | False                 | True                | False                    |
| 44 |           44 | cifValue                 | Trade values in CIF                                                                      | True                   | False                 | True                | True                     |
| 45 |           45 | fobValue                 | Trade values in FOB                                                                      | True                   | False                 | True                | True                     |
| 46 |           46 | primaryValue             | Primary trade values (taken from CIF or FOB values)                                      | True                   | True                  | True                | True                     |
| 47 |           47 | legacyEstimationFlag     | Legacy quantity estimation flag                                                          | True                   | False                 | True                | False                    |
| 48 |           48 | isReported               | Flag to indicate whether a record is reported by country                                 | True                   | True                  | True                | False                    |
| 49 |           49 | isAggregate              | Flag to indicate whether a record is aggregated by UNSD                                  | True                   | True                  | True                | False                    |

### List of columns in the dataset

In [5]:
import comtradetools as comtrade

cols_all = comtrade.DATA_ITEM_DF.dataItem.unique()
cols_all

array(['datasetCode', 'typeCode', 'freqCode', 'refPeriodId', 'refYear',
       'refMonth', 'period', 'reporterCode', 'reporterISO',
       'reporterDesc', 'flowCategory', 'flowCode', 'flowDesc',
       'partnerCode', 'partnerISO', 'partnerDesc', 'partner2Code',
       'partner2ISO', 'partner2Desc', 'classificationSearchCode',
       'classificationCode', 'isOriginalClassification', 'cmdCode',
       'cmdDesc', 'aggrLevel', 'isLeaf', 'customsCode', 'customsDesc',
       'mosCode', 'mosDesc', 'motCode', 'motDesc', 'qtyUnitCode',
       'qtyUnitAbbr', 'qty', 'isQtyEstimated', 'altQtyUnitCode',
       'altQtyUnitAbbr', 'altQty', 'isAltQtyEstimated', 'netWgt',
       'isnetWgtEstimated', 'grossWgt', 'isgrossWgtEstimated', 'cifValue',
       'fobValue', 'primaryValue', 'legacyEstimationFlag', 'isReported',
       'isAggregate'], dtype=object)

# Codebooks

List of codebooks for the different columns

In [6]:
import comtradeapicall

comtradeapicall.listReference()

,category,variable,description,fileuri
0,dataitem,Trade data items,List of data items/variables used in UN Comtrade,https://comtradeapi.un.org/files/v1/app/refere...
1,freq,Frequency,The time interval at which observations occur,https://comtradeapi.un.org/files/v1/app/refere...
2,flow,Trade Flow,"Trade flow or sub-flow (exports, re-exports, i...",https://comtradeapi.un.org/files/v1/app/refere...
3,mot,Mode of Transports,The mode of transport used when goods enter or...,https://comtradeapi.un.org/files/v1/app/refere...
4,partner,Partner country/area,The partner country or geographic area for the...,https://comtradeapi.un.org/files/v1/app/refere...
5,reporter,Reporter,The country or geographic area to which the me...,https://comtradeapi.un.org/files/v1/app/refere...
6,qtyunit,Units of quantity,The unit for quantity and alternate quantity d...,https://comtradeapi.un.org/files/v1/app/refere...
7,cmd:B4,Product,The classification of BEC Rev.4 – goods and se...,https://comtradeapi.un.org/files/v1/app/refere...
8,cmd:B5,Product,The classification of BEC Rev.5 – goods or ser...,https://comtradeapi.un.org/files/v1/app/refere...
9,customs,Customs Procedure Code,Customs or statistical procedure,https://comtradeapi.un.org/files/v1/app/refere...
10,cmd:EB02,Product,The classification of EBOPS 2002 – services,https://comtradeapi.un.org/files/v1/app/refere...
11,cmd:EB10,Product,The classification of EBOPS 2010 – services,https://comtradeapi.un.org/files/v1/app/refere...
12,cmd:EB10S,Product,The classification of EBOPS 2010 SDMX – services,https://comtradeapi.un.org/files/v1/app/refere...
13,cmd:EB,Product,The classification of Combined EBOPS – services,https://comtradeapi.un.org/files/v1/app/refere...
14,cmd:H0,Product,The classification of HS 1992 – goods,https://comtradeapi.un.org/files/v1/app/refere...
15,cmd:H1,Product,The classification of HS 1996 – goods,https://comtradeapi.un.org/files/v1/app/refere...
16,cmd:H2,Product,The classification of HS 2002 – goods,https://comtradeapi.un.org/files/v1/app/refere...
17,cmd:H3,Product,The classification of HS 2007 – goods,https://comtradeapi.un.org/files/v1/app/refere...
18,cmd:H4,Product,The classification of HS 2012 – goods,https://comtradeapi.un.org/files/v1/app/refere...
19,cmd:H5,Product,The classification of HS 2017 – goods,https://comtradeapi.un.org/files/v1/app/refere...
20,cmd:H6,Product,The classification of HS 2022 – goods,https://comtradeapi.un.org/files/v1/app/refere...
21,cmd:HS,Product,The classification of Combined HS – goods,https://comtradeapi.un.org/files/v1/app/refere...
22,cmd:S1,Product,The classification of SITC Rev.1 – goods,https://comtradeapi.un.org/files/v1/app/refere...
23,cmd:S2,Product,The classification of SITC Rev.2 – goods,https://comtradeapi.un.org/files/v1/app/refere...
24,cmd:S3,Product,The classification of SITC Rev.3 – goods,https://comtradeapi.un.org/files/v1/app/refere...
25,cmd:S4,Product,The classification of SITC Rev.4 – goods,https://comtradeapi.un.org/files/v1/app/refere...
26,cmd:SS,Product,The classification of Combined SITC – goods,https://comtradeapi.un.org/files/v1/app/refere...
27,ais:dataitems,AIS Data Items,Data items used in experimental seaborne trade...,https://comtradeapi.un.org/files/v1/app/refere...
28,ais:countriesareas,AIS Countries/Areas,Countries and Areas used in experimental seabo...,https://comtradeapi.un.org/files/v1/app/refere...
29,ais:flows,AIS Trade Flow,Trade flows used in experimental seaborne trad...,https://comtradeapi.un.org/files/v1/app/refere...
30,ais:vesseltypes,AIS Vessel Types,Vessel types used in experimental seaborne tra...,https://comtradeapi.un.org/files/v1/app/refere...

## List of partners (countries, regiões, blocks)

The list includes countries but also:
* trade blocks (EU, LAIA, Africa CAMEU ...)
* former countries (e.g. USSR, Yugoslavia, Czechoslovakia, East Germany, West Germany, Serbia and Montenegro, Sudan and South Sudan, etc.)
* combinations (USA+Porto Rico)

In [7]:
import comtradetools as comtrade

print(comtrade.PARTNER_DF.to_markdown())

|     |   Unnamed: 0 |   id | text                                         |   PartnerCode | PartnerDesc                                  | partnerNote                                                              | PartnerCodeIsoAlpha2   | PartnerCodeIsoAlpha3   | entryEffectiveDate   | isGroup   | entryExpiredDate    |
|----:|-------------:|-----:|:---------------------------------------------|--------------:|:---------------------------------------------|:-------------------------------------------------------------------------|:-----------------------|:-----------------------|:---------------------|:----------|:--------------------|
|   0 |            0 |    4 | Afghanistan                                  |             4 | Afghanistan                                  | Afghanistan                                                              | AF                     | AFG                    | 1900-01-01T00:00:00  | False     | nan                 |
|   1 |            1 |  472 | Africa CAMEU region, nes                     |           472 | Africa CAMEU region, nes                     | Africa CAMEU region, not elsewhere specified                             | nan                    | _AC                    | 1900-01-01T00:00:00  | False     | nan                 |
|   2 |            2 |  248 | Åland Islands                                |           248 | Åland Islands                                | nan                                                                      | AX                     | ALA                    | 1900-01-01T00:00:00  | False     | nan                 |
|   3 |            3 |    8 | Albania                                      |             8 | Albania                                      | Albania                                                                  | AL                     | ALB                    | 1900-01-01T00:00:00  | False     | nan                 |
|   4 |            4 |   12 | Algeria                                      |            12 | Algeria                                      | Algeria                                                                  | DZ                     | DZA                    | 1900-01-01T00:00:00  | False     | nan                 |
|   5 |            5 |   16 | American Samoa                               |            16 | American Samoa                               | American Samoa                                                           | AS                     | ASM                    | 1900-01-01T00:00:00  | False     | nan                 |
|   6 |            6 |   20 | Andorra                                      |            20 | Andorra                                      | Andorra                                                                  | AD                     | AND                    | 1900-01-01T00:00:00  | False     | nan                 |
|   7 |            7 |   24 | Angola                                       |            24 | Angola                                       | Angola                                                                   | AO                     | AGO                    | 1900-01-01T00:00:00  | False     | nan                 |
|   8 |            8 |  660 | Anguilla                                     |           660 | Anguilla                                     | Anguilla                                                                 | AI                     | AIA                    | 1981-01-01T00:00:00  | False     | nan                 |
|   9 |            9 |   10 | Antarctica                                   |            10 | Antarctica                                   | Antarctica                                                               | AQ                     | ATA                    | 1900-01-01T00:00:00  | False     | nan                 |
|  10 |           10 |   28 | Antigua and Barbuda                          |            28 | Antigua and Barbuda                          | Antigua and Barbuda                                                      | AG                     | ATG                    | 1900-01-01T00:00:00  | False     | nan                 |
|  11 |           11 |  886 | Arab Rep. of Yemen (...1990)                 |           886 | Arab Rep. of Yemen (...1990)                 | Former Arab Republic of Yemen                                            | YE                     | YEM                    | 1900-01-01T00:00:00  | False     | 1990-12-31T00:00:00 |
|  12 |           12 |  899 | Areas, nes                                   |           899 | Areas, nes                                   | Areas, not elsewhere specified                                           | nan                    | _X                     | 1900-01-01T00:00:00  | False     | nan                 |
|  13 |           13 |   32 | Argentina                                    |            32 | Argentina                                    | Argentina                                                                | AR                     | ARG                    | 1900-01-01T00:00:00  | False     | nan                 |
|  14 |           14 |   51 | Armenia                                      |            51 | Armenia                                      | Armenia                                                                  | AM                     | ARM                    | 1992-01-01T00:00:00  | False     | nan                 |
|  15 |           15 |  533 | Aruba                                        |           533 | Aruba                                        | Aruba                                                                    | AW                     | ABW                    | 1988-01-01T00:00:00  | False     | nan                 |
|  16 |           16 |   36 | Australia                                    |            36 | Australia                                    | Australia                                                                | AU                     | AUS                    | 1900-01-01T00:00:00  | False     | nan                 |
|  17 |           17 |   40 | Austria                                      |            40 | Austria                                      | Austria                                                                  | AT                     | AUT                    | 1900-01-01T00:00:00  | False     | nan                 |
|  18 |           18 |   31 | Azerbaijan                                   |            31 | Azerbaijan                                   | Azerbaijan                                                               | AZ                     | AZE                    | 1992-01-01T00:00:00  | False     | nan                 |
|  19 |           19 |   44 | Bahamas                                      |            44 | Bahamas                                      | Bahamas                                                                  | BS                     | BHS                    | 1900-01-01T00:00:00  | False     | nan                 |
|  20 |           20 |   48 | Bahrain                                      |            48 | Bahrain                                      | Bahrain                                                                  | BH                     | BHR                    | 1900-01-01T00:00:00  | False     | nan                 |
|  21 |           21 |   50 | Bangladesh                                   |            50 | Bangladesh                                   | Bangladesh                                                               | BD                     | BGD                    | 1972-01-01T00:00:00  | False     | nan                 |
|  22 |           22 |   52 | Barbados                                     |            52 | Barbados                                     | Barbados                                                                 | BB                     | BRB                    | 1900-01-01T00:00:00  | False     | nan                 |
|  23 |           23 |  112 | Belarus                                      |           112 | Belarus                                      | Belarus                                                                  | BY                     | BLR                    | 1992-01-01T00:00:00  | False     | nan                 |
|  24 |           24 |   56 | Belgium                                      |            56 | Belgium                                      | Belgium                                                                  | BE                     | BEL                    | 1999-01-01T00:00:00  | False     | nan                 |
|  25 |           25 |   58 | Belgium-Luxembourg (...1998)                 |            58 | Belgium-Luxembourg (...1998)                 | Belgium-Luxembourg                                                       | BE                     | BEL                    | 1900-01-01T00:00:00  | False     | 1998-12-31T00:00:00 |
|  26 |           26 |   84 | Belize                                       |            84 | Belize                                       | Belize                                                                   | BZ                     | BLZ                    | 1900-01-01T00:00:00  | False     | nan                 |
|  27 |           27 |  204 | Benin                                        |           204 | Benin                                        | Benin                                                                    | BJ                     | BEN                    | 1900-01-01T00:00:00  | False     | nan                 |
|  28 |           28 |   60 | Bermuda                                      |            60 | Bermuda                                      | Bermuda                                                                  | BM                     | BMU                    | 1900-01-01T00:00:00  | False     | nan                 |
|  29 |           29 |   64 | Bhutan                                       |            64 | Bhutan                                       | Bhutan                                                                   | BT                     | BTN                    | 1900-01-01T00:00:00  | False     | nan                 |
|  30 |           30 |   68 | Bolivia (Plurinational State of)             |            68 | Bolivia (Plurinational State of)             | Plurinational State of Bolivia                                           | BO                     | BOL                    | 1900-01-01T00:00:00  | False     | nan                 |
|  31 |           31 |  535 | Bonaire                                      |           535 | Bonaire                                      | Bonaire, Saint Eustatius and Saba                                        | BQ                     | BES                    | 2010-11-01T00:00:00  | False     | nan                 |
|  32 |           32 |   70 | Bosnia Herzegovina                           |            70 | Bosnia Herzegovina                           | Bosnia Herzegovina                                                       | BA                     | BIH                    | 1992-01-01T00:00:00  | False     | nan                 |
|  33 |           33 |   72 | Botswana                                     |            72 | Botswana                                     | Botswana                                                                 | BW                     | BWA                    | 2000-01-01T00:00:00  | False     | nan                 |
|  34 |           34 |   74 | Bouvet Island                                |            74 | Bouvet Island                                | Ile Bouvet                                                               | BV                     | BVT                    | 1900-01-01T00:00:00  | False     | nan                 |
|  35 |           35 |   80 | Br. Antarctic Terr.                          |            80 | Br. Antarctic Terr.                          | British Antarctic Territories                                            | BQ                     | ATB                    | 1900-01-01T00:00:00  | False     | nan                 |
|  36 |           36 |   86 | Br. Indian Ocean Terr.                       |            86 | Br. Indian Ocean Terr.                       | British Indian Ocean Territories                                         | IO                     | IOT                    | 1900-01-01T00:00:00  | False     | nan                 |
|  37 |           37 |   92 | Br. Virgin Isds                              |            92 | Br. Virgin Isds                              | British Virgin Islands                                                   | VG                     | VGB                    | 1900-01-01T00:00:00  | False     | nan                 |
|  38 |           38 |   76 | Brazil                                       |            76 | Brazil                                       | Brazil                                                                   | BR                     | BRA                    | 1900-01-01T00:00:00  | False     | nan                 |
|  39 |           39 |   96 | Brunei Darussalam                            |            96 | Brunei Darussalam                            | Brunei Darussalam                                                        | BN                     | BRN                    | 1900-01-01T00:00:00  | False     | nan                 |
|  40 |           40 |  100 | Bulgaria                                     |           100 | Bulgaria                                     | Bulgaria                                                                 | BG                     | BGR                    | 1900-01-01T00:00:00  | False     | nan                 |
|  41 |           41 |  837 | Bunkers                                      |           837 | Bunkers                                      | Bunkers                                                                  | nan                    | X1                     | 1900-01-01T00:00:00  | False     | nan                 |
|  42 |           42 |  854 | Burkina Faso                                 |           854 | Burkina Faso                                 | Burkina Faso                                                             | BF                     | BFA                    | 1900-01-01T00:00:00  | False     | nan                 |
|  43 |           43 |  108 | Burundi                                      |           108 | Burundi                                      | Burundi                                                                  | BI                     | BDI                    | 1900-01-01T00:00:00  | False     | nan                 |
|  44 |           44 |  132 | Cabo Verde                                   |           132 | Cabo Verde                                   | Cabo Verde                                                               | CV                     | CPV                    | 1900-01-01T00:00:00  | False     | nan                 |
|  45 |           45 |  471 | CACM, nes                                    |           471 | CACM, nes                                    | CACM, not elsewhere specified                                            | nan                    | R91                    | 1900-01-01T00:00:00  | False     | nan                 |
|  46 |           46 |  116 | Cambodia                                     |           116 | Cambodia                                     | Cambodia                                                                 | KH                     | KHM                    | 1900-01-01T00:00:00  | False     | nan                 |
|  47 |           47 |  120 | Cameroon                                     |           120 | Cameroon                                     | Cameroon                                                                 | CM                     | CMR                    | 1900-01-01T00:00:00  | False     | nan                 |
|  48 |           48 |  124 | Canada                                       |           124 | Canada                                       | Canada                                                                   | CA                     | CAN                    | 1900-01-01T00:00:00  | False     | nan                 |
|  49 |           49 |  129 | Caribbean, nes                               |           129 | Caribbean, nes                               | Caribbean, not elsewhere specified                                       | nan                    | A49                    | 1900-01-01T00:00:00  | False     | nan                 |
|  50 |           50 |  136 | Cayman Isds                                  |           136 | Cayman Isds                                  | Cayman Islands                                                           | KY                     | CYM                    | 1900-01-01T00:00:00  | False     | nan                 |
|  51 |           51 |  140 | Central African Rep.                         |           140 | Central African Rep.                         | Central African Republic                                                 | CF                     | CAF                    | 1900-01-01T00:00:00  | False     | nan                 |
|  52 |           52 |  148 | Chad                                         |           148 | Chad                                         | Chad                                                                     | TD                     | TCD                    | 1900-01-01T00:00:00  | False     | nan                 |
|  53 |           53 |  830 | Channel Islands                              |           830 | Channel Islands                              | nan                                                                      | nan                    | _CI                    | 1900-01-01T00:00:00  | False     | nan                 |
|  54 |           54 |  152 | Chile                                        |           152 | Chile                                        | Chile                                                                    | CL                     | CHL                    | 1900-01-01T00:00:00  | False     | nan                 |
|  55 |           55 |  156 | China                                        |           156 | China                                        | China                                                                    | CN                     | CHN                    | 1900-01-01T00:00:00  | False     | nan                 |
|  56 |           56 |  344 | China, Hong Kong SAR                         |           344 | China, Hong Kong SAR                         | China, Hong Kong Special Administrative Region                           | HK                     | HKG                    | 1900-01-01T00:00:00  | False     | nan                 |
|  57 |           57 |  446 | China, Macao SAR                             |           446 | China, Macao SAR                             | China, Macao Special Administrative Region                               | MO                     | MAC                    | 1900-01-01T00:00:00  | False     | nan                 |
|  58 |           58 |  162 | Christmas Isds                               |           162 | Christmas Isds                               | Christmas Islands                                                        | CX                     | CXR                    | 1900-01-01T00:00:00  | False     | nan                 |
|  59 |           59 |  166 | Cocos Isds                                   |           166 | Cocos Isds                                   | Cocos Islands                                                            | CC                     | CCK                    | 1900-01-01T00:00:00  | False     | nan                 |

## List of "reporters" 

Countries that provide information for the database

In [8]:
import comtradetools as ctt

print(ctt.REPORTER_DF.to_markdown())

|     |   Unnamed: 0 |   id | text                                      |   reporterCode | reporterDesc                              | reporterNote                                   | reporterCodeIsoAlpha2   | reporterCodeIsoAlpha3   | entryEffectiveDate   | isGroup   | entryExpiredDate    |
|----:|-------------:|-----:|:------------------------------------------|---------------:|:------------------------------------------|:-----------------------------------------------|:------------------------|:------------------------|:---------------------|:----------|:--------------------|
|   0 |            0 |    4 | Afghanistan                               |              4 | Afghanistan                               | Afghanistan                                    | AF                      | AFG                     | 1900-01-01T00:00:00  | False     | nan                 |
|   1 |            1 |    8 | Albania                                   |              8 | Albania                                   | Albania                                        | AL                      | ALB                     | 1900-01-01T00:00:00  | False     | nan                 |
|   2 |            2 |   12 | Algeria                                   |             12 | Algeria                                   | Algeria                                        | DZ                      | DZA                     | 1900-01-01T00:00:00  | False     | nan                 |
|   3 |            3 |   20 | Andorra                                   |             20 | Andorra                                   | Andorra                                        | AD                      | AND                     | 1900-01-01T00:00:00  | False     | nan                 |
|   4 |            4 |   24 | Angola                                    |             24 | Angola                                    | Angola                                         | AO                      | AGO                     | 1900-01-01T00:00:00  | False     | nan                 |
|   5 |            5 |  660 | Anguilla                                  |            660 | Anguilla                                  | Anguilla                                       | AI                      | AIA                     | 1981-01-01T00:00:00  | False     | nan                 |
|   6 |            6 |   28 | Antigua and Barbuda                       |             28 | Antigua and Barbuda                       | Antigua and Barbuda                            | AG                      | ATG                     | 1900-01-01T00:00:00  | False     | nan                 |
|   7 |            7 |  886 | Arab Rep. of Yemen (...1990)              |            886 | Arab Rep. of Yemen (...1990)              | Former Arab Republic of Yemen                  | YE                      | YEM                     | 1900-01-01T00:00:00  | False     | 1990-12-31T00:00:00 |
|   8 |            8 |   32 | Argentina                                 |             32 | Argentina                                 | Argentina                                      | AR                      | ARG                     | 1900-01-01T00:00:00  | False     | nan                 |
|   9 |            9 |   51 | Armenia                                   |             51 | Armenia                                   | Armenia                                        | AM                      | ARM                     | 1992-01-01T00:00:00  | False     | nan                 |
|  10 |           10 |  533 | Aruba                                     |            533 | Aruba                                     | Aruba                                          | AW                      | ABW                     | 1988-01-01T00:00:00  | False     | nan                 |
|  11 |           11 |  975 | ASEAN                                     |            975 | ASEAN                                     | ASEAN                                          | R4                      | R4                      | 1967-08-01T00:00:00  | True      | nan                 |
|  12 |           12 |   36 | Australia                                 |             36 | Australia                                 | Australia                                      | AU                      | AUS                     | 1900-01-01T00:00:00  | False     | nan                 |
|  13 |           13 |   40 | Austria                                   |             40 | Austria                                   | Austria                                        | AT                      | AUT                     | 1900-01-01T00:00:00  | False     | nan                 |
|  14 |           14 |   31 | Azerbaijan                                |             31 | Azerbaijan                                | Azerbaijan                                     | AZ                      | AZE                     | 1992-01-01T00:00:00  | False     | nan                 |
|  15 |           15 |   44 | Bahamas                                   |             44 | Bahamas                                   | Bahamas                                        | BS                      | BHS                     | 1900-01-01T00:00:00  | False     | nan                 |
|  16 |           16 |   48 | Bahrain                                   |             48 | Bahrain                                   | Bahrain                                        | BH                      | BHR                     | 1900-01-01T00:00:00  | False     | nan                 |
|  17 |           17 |   50 | Bangladesh                                |             50 | Bangladesh                                | Bangladesh                                     | BD                      | BGD                     | 1972-01-01T00:00:00  | False     | nan                 |
|  18 |           18 |   52 | Barbados                                  |             52 | Barbados                                  | Barbados                                       | BB                      | BRB                     | 1900-01-01T00:00:00  | False     | nan                 |
|  19 |           19 |  112 | Belarus                                   |            112 | Belarus                                   | Belarus                                        | BY                      | BLR                     | 1992-01-01T00:00:00  | False     | nan                 |
|  20 |           20 |   56 | Belgium                                   |             56 | Belgium                                   | Belgium                                        | BE                      | BEL                     | 1999-01-01T00:00:00  | False     | nan                 |
|  21 |           21 |   58 | Belgium-Luxembourg (...1998)              |             58 | Belgium-Luxembourg (...1998)              | Belgium-Luxembourg                             | BE                      | BEL                     | 1900-01-01T00:00:00  | False     | 1998-12-31T00:00:00 |
|  22 |           22 |   84 | Belize                                    |             84 | Belize                                    | Belize                                         | BZ                      | BLZ                     | 1900-01-01T00:00:00  | False     | nan                 |
|  23 |           23 |  204 | Benin                                     |            204 | Benin                                     | Benin                                          | BJ                      | BEN                     | 1900-01-01T00:00:00  | False     | nan                 |
|  24 |           24 |   60 | Bermuda                                   |             60 | Bermuda                                   | Bermuda                                        | BM                      | BMU                     | 1900-01-01T00:00:00  | False     | nan                 |
|  25 |           25 |   64 | Bhutan                                    |             64 | Bhutan                                    | Bhutan                                         | BT                      | BTN                     | 1900-01-01T00:00:00  | False     | nan                 |
|  26 |           26 |   68 | Bolivia (Plurinational State of)          |             68 | Bolivia (Plurinational State of)          | Plurinational State of Bolivia                 | BO                      | BOL                     | 1900-01-01T00:00:00  | False     | nan                 |
|  27 |           27 |  535 | Bonaire                                   |            535 | Bonaire                                   | Bonaire, Saint Eustatius and Saba              | BQ                      | BES                     | 2010-11-01T00:00:00  | False     | nan                 |
|  28 |           28 |   70 | Bosnia Herzegovina                        |             70 | Bosnia Herzegovina                        | Bosnia Herzegovina                             | BA                      | BIH                     | 1992-01-01T00:00:00  | False     | nan                 |
|  29 |           29 |   72 | Botswana                                  |             72 | Botswana                                  | Botswana                                       | BW                      | BWA                     | 2000-01-01T00:00:00  | False     | nan                 |
|  30 |           30 |   92 | Br. Virgin Isds                           |             92 | Br. Virgin Isds                           | British Virgin Islands                         | VG                      | VGB                     | 1900-01-01T00:00:00  | False     | nan                 |
|  31 |           31 |   76 | Brazil                                    |             76 | Brazil                                    | Brazil                                         | BR                      | BRA                     | 1900-01-01T00:00:00  | False     | nan                 |
|  32 |           32 |   96 | Brunei Darussalam                         |             96 | Brunei Darussalam                         | Brunei Darussalam                              | BN                      | BRN                     | 1900-01-01T00:00:00  | False     | nan                 |
|  33 |           33 |  100 | Bulgaria                                  |            100 | Bulgaria                                  | Bulgaria                                       | BG                      | BGR                     | 1900-01-01T00:00:00  | False     | nan                 |
|  34 |           34 |  854 | Burkina Faso                              |            854 | Burkina Faso                              | Burkina Faso                                   | BF                      | BFA                     | 1900-01-01T00:00:00  | False     | nan                 |
|  35 |           35 |  108 | Burundi                                   |            108 | Burundi                                   | Burundi                                        | BI                      | BDI                     | 1900-01-01T00:00:00  | False     | nan                 |
|  36 |           36 |  132 | Cabo Verde                                |            132 | Cabo Verde                                | Cabo Verde                                     | CV                      | CPV                     | 1900-01-01T00:00:00  | False     | nan                 |
|  37 |           37 |  116 | Cambodia                                  |            116 | Cambodia                                  | Cambodia                                       | KH                      | KHM                     | 1900-01-01T00:00:00  | False     | nan                 |
|  38 |           38 |  120 | Cameroon                                  |            120 | Cameroon                                  | Cameroon                                       | CM                      | CMR                     | 1900-01-01T00:00:00  | False     | nan                 |
|  39 |           39 |  124 | Canada                                    |            124 | Canada                                    | Canada                                         | CA                      | CAN                     | 1900-01-01T00:00:00  | False     | nan                 |
|  40 |           40 |  136 | Cayman Isds                               |            136 | Cayman Isds                               | Cayman Islands                                 | KY                      | CYM                     | 1900-01-01T00:00:00  | False     | nan                 |
|  41 |           41 |  140 | Central African Rep.                      |            140 | Central African Rep.                      | Central African Republic                       | CF                      | CAF                     | 1900-01-01T00:00:00  | False     | nan                 |
|  42 |           42 |  148 | Chad                                      |            148 | Chad                                      | Chad                                           | TD                      | TCD                     | 1900-01-01T00:00:00  | False     | nan                 |
|  43 |           43 |  152 | Chile                                     |            152 | Chile                                     | Chile                                          | CL                      | CHL                     | 1900-01-01T00:00:00  | False     | nan                 |
|  44 |           44 |  156 | China                                     |            156 | China                                     | China                                          | CN                      | CHN                     | 1900-01-01T00:00:00  | False     | nan                 |
|  45 |           45 |  344 | China, Hong Kong SAR                      |            344 | China, Hong Kong SAR                      | China, Hong Kong Special Administrative Region | HK                      | HKG                     | 1900-01-01T00:00:00  | False     | nan                 |
|  46 |           46 |  446 | China, Macao SAR                          |            446 | China, Macao SAR                          | China, Macao Special Administrative Region     | MO                      | MAC                     | 1900-01-01T00:00:00  | False     | nan                 |
|  47 |           47 |  170 | Colombia                                  |            170 | Colombia                                  | Colombia                                       | CO                      | COL                     | 1900-01-01T00:00:00  | False     | nan                 |
|  48 |           48 |  174 | Comoros                                   |            174 | Comoros                                   | Comoros                                        | KM                      | COM                     | 1900-01-01T00:00:00  | False     | nan                 |
|  49 |           49 |  178 | Congo                                     |            178 | Congo                                     | Congo                                          | CG                      | COG                     | 1900-01-01T00:00:00  | False     | nan                 |
|  50 |           50 |  184 | Cook Isds                                 |            184 | Cook Isds                                 | Cook Islands                                   | CK                      | COK                     | 1900-01-01T00:00:00  | False     | nan                 |
|  51 |           51 |  188 | Costa Rica                                |            188 | Costa Rica                                | Costa Rica                                     | CR                      | CRI                     | 1900-01-01T00:00:00  | False     | nan                 |
|  52 |           52 |  384 | Côte d'Ivoire                             |            384 | Côte d'Ivoire                             | Côte d'Ivoire                                  | CI                      | CIV                     | 1900-01-01T00:00:00  | False     | nan                 |
|  53 |           53 |  191 | Croatia                                   |            191 | Croatia                                   | Croatia                                        | HR                      | HRV                     | 1992-01-01T00:00:00  | False     | nan                 |
|  54 |           54 |  192 | Cuba                                      |            192 | Cuba                                      | Cuba                                           | CU                      | CUB                     | 1900-01-01T00:00:00  | False     | nan                 |
|  55 |           55 |  531 | Curaçao                                   |            531 | Curaçao                                   | Curaçao                                        | CW                      | CUW                     | 2010-11-01T00:00:00  | False     | nan                 |
|  56 |           56 |  196 | Cyprus                                    |            196 | Cyprus                                    | Cyprus                                         | CY                      | CYP                     | 1900-01-01T00:00:00  | False     | nan                 |
|  57 |           57 |  203 | Czechia                                   |            203 | Czechia                                   | Czechia                                        | CZ                      | CZE                     | 1993-01-01T00:00:00  | False     | nan                 |
|  58 |           58 |  200 | Czechoslovakia (...1992)                  |            200 | Czechoslovakia (...1992)                  | Czechoslovakia                                 | CS                      | CSK                     | 1900-01-01T00:00:00  | False     | 1992-12-31T00:00:00 |
|  59 |           59 |  408 | Dem. People's Rep. of Korea               |            408 | Dem. People's Rep. of Korea               | Democratic People's Republic of Korea          | KP                      | PRK                     | 1900-01-01T00:00:00  | False     | nan                 |
|  60 |           60 |  278 | Dem. Rep. of Germany (...1990)            |            278 | Dem. Rep. of Germany (...1990)            | Former Democratic Republic of Germany          | DD                      | DDR                     | 1900-01-01T00:00:00  | False     | 1990-12-31T00:00:00 |
|  61 |           61 |  180 | Dem. Rep. of the Congo                    |            180 | Dem. Rep. of the Congo                    | Democratic Republic of the Congo               | CD                      | COD                     | 1900-01-01T00:00:00  | False     | nan                 |
|  62 |           62 |  866 | Dem. Rep. of Vietnam (...1974)            |            866 | Dem. Rep. of Vietnam (...1974)            | Former Democratic Republic of Vietnam          | VD                      | VDR                     | 1900-01-01T00:00:00  | False     | 1974-12-31T00:00:00 |
|  63 |           63 |  720 | Dem. Yemen (...1990)                      |            720 | Dem. Yemen (...1990)                      | Former Democratic Yemen                        | YD                      | YMD                     | 1900-01-01T00:00:00  | False     | 1990-12-31T00:00:00 |
|  64 |           64 |  208 | Denmark                                   |            208 | Denmark                                   | Denmark                                        | DK                      | DNK                     | 1900-01-01T00:00:00  | False     | nan                 |
|  65 |           65 |  262 | Djibouti                                  |            262 | Djibouti                                  | Djibouti                                       | DJ                      | DJI                     | 1900-01-01T00:00:00  | False     | nan                 |

In [9]:
import comtradetools as comtrade

comtrade.COUNTRY_CODES

{4: 'Afghanistan',
 472: 'Africa CAMEU region, nes',
 248: 'Åland Islands ',
 8: 'Albania',
 12: 'Algeria',
 16: 'American Samoa',
 20: 'Andorra',
 24: 'Angola',
 660: 'Anguilla',
 10: 'Antarctica',
 28: 'Antigua and Barbuda',
 886: 'Arab Rep. of Yemen (...1990)',
 899: 'Areas, nes',
 32: 'Argentina',
 51: 'Armenia',
 533: 'Aruba',
 36: 'Australia',
 40: 'Austria',
 31: 'Azerbaijan',
 44: 'Bahamas',
 48: 'Bahrain',
 50: 'Bangladesh',
 52: 'Barbados',
 112: 'Belarus',
 56: 'Belgium',
 58: 'Belgium-Luxembourg (...1998)',
 84: 'Belize',
 204: 'Benin',
 60: 'Bermuda',
 64: 'Bhutan',
 68: 'Bolivia (Plurinational State of)',
 535: 'Bonaire',
 70: 'Bosnia Herzegovina',
 72: 'Botswana',
 74: 'Bouvet Island',
 80: 'Br. Antarctic Terr.',
 86: 'Br. Indian Ocean Terr.',
 92: 'Br. Virgin Isds',
 76: 'Brazil',
 96: 'Brunei Darussalam',
 100: 'Bulgaria',
 837: 'Bunkers',
 854: 'Burkina Faso',
 108: 'Burundi',
 132: 'Cabo Verde',
 471: 'CACM, nes',
 116: 'Cambodia',
 120: 'Cameroon',
 124: 'Canada',
 129: 'Caribbean, nes',
 136: 'Cayman Isds',
 140: 'Central African Rep.',
 148: 'Chad',
 830: 'Channel Islands ',
 152: 'Chile',
 156: 'China',
 344: 'China, Hong Kong SAR',
 446: 'China, Macao SAR',
 162: 'Christmas Isds',
 166: 'Cocos Isds',
 170: 'Colombia',
 174: 'Comoros',
 178: 'Congo',
 184: 'Cook Isds',
 188: 'Costa Rica',
 384: "Côte d'Ivoire",
 191: 'Croatia',
 192: 'Cuba',
 531: 'Curaçao',
 196: 'Cyprus',
 203: 'Czechia',
 200: 'Czechoslovakia (...1992)',
 408: "Dem. People's Rep. of Korea",
 278: 'Dem. Rep. of Germany (...1990)',
 180: 'Dem. Rep. of the Congo',
 866: 'Dem. Rep. of Vietnam (...1974)',
 720: 'Dem. Yemen (...1990)',
 208: 'Denmark',
 262: 'Djibouti',
 212: 'Dominica',
 214: 'Dominican Rep.',
 588: 'East and West Pakistan (...1971)',
 221: 'Eastern Europe, nes',
 218: 'Ecuador',
 818: 'Egypt',
 222: 'El Salvador',
 226: 'Equatorial Guinea',
 232: 'Eritrea',
 233: 'Estonia',
 748: 'Eswatini',
 231: 'Ethiopia',
 230: 'Ethiopia (...1992)',
 697: 'Europe EFTA, nes',
 492: 'Europe EU, nes',
 234: 'Faeroe Isds',
 238: 'Falkland Isds (Malvinas)',
 280: 'Fed. Rep. of Germany (...1990)',
 242: 'Fiji',
 246: 'Finland',
 260: 'Fr. South Antarctic Terr.',
 251: 'France',
 838: 'Free Zones',
 254: 'French Guiana (Overseas France)',
 258: 'French Polynesia',
 583: 'FS Micronesia',
 266: 'Gabon',
 270: 'Gambia',
 268: 'Georgia',
 276: 'Germany',
 288: 'Ghana',
 292: 'Gibraltar',
 300: 'Greece',
 304: 'Greenland',
 308: 'Grenada',
 312: 'Guadeloupe (Overseas France)',
 316: 'Guam',
 320: 'Guatemala',
 831: 'Guernsey',
 324: 'Guinea',
 624: 'Guinea-Bissau',
 328: 'Guyana',
 332: 'Haiti',
 334: 'Heard Island and McDonald Islands',
 336: 'Holy See (Vatican City State)',
 340: 'Honduras',
 348: 'Hungary',
 352: 'Iceland',
 699: 'India',
 356: 'India (...1974)',
 360: 'Indonesia',
 364: 'Iran',
 368: 'Iraq',
 372: 'Ireland',
 833: 'Isle of Man ',
 376: 'Israel',
 380: 'Italy',
 388: 'Jamaica',
 392: 'Japan',
 832: 'Jersey',
 400: 'Jordan',
 398: 'Kazakhstan',
 404: 'Kenya',
 296: 'Kiribati',
 412: 'Kosovo',
 414: 'Kuwait',
 417: 'Kyrgyzstan',
 473: 'LAIA, nes',
 418: "Lao People's Dem. Rep.",
 428: 'Latvia',
 422: 'Lebanon',
 426: 'Lesotho',
 430: 'Liberia',
 434: 'Libya',
 438: 'Liechtenstein ',
 440: 'Lithuania',
 442: 'Luxembourg',
 450: 'Madagascar',
 454: 'Malawi',
 458: 'Malaysia',
 462: 'Maldives',
 466: 'Mali',
 470: 'Malta',
 584: 'Marshall Isds',
 474: 'Martinique (Overseas France)',
 478: 'Mauritania',
 480: 'Mauritius',
 175: 'Mayotte (Overseas France)',
 250: 'Metropolitan France',
 484: 'Mexico',
 488: 'Midway Islands',
 496: 'Mongolia',
 499: 'Montenegro',
 500: 'Montserrat',
 504: 'Morocco',
 508: 'Mozambique',
 104: 'Myanmar',
 580: 'N. Mariana Isds',
 516: 'Namibia',
 520: 'Nauru',
 524: 'Nepal',
 528: 'Netherlands',
 530: 'Netherlands Antilles (...2010)',
 532: 'Netherlands Antilles and Aruba (...1985)',
 536: 'Neutral Zone',
 540: 'New Caledonia',
 554: 'New Zealand',
 558: 'Nicaragua',
 562: 'Niger',
 566: 'Nigeria',
 570: 'Niue',
 574: 'Norfolk Isds',
 637: 'North America and Central America, nes',
 807: 'North Macedonia',
 290: 'Northern Africa, nes',
 579: 'Norway',
 578: 'Norway, excluding Svalbard and Jan Mayen',
 527: 'Oceania, nes',
 512: 'Oman',
 577: 'Other Africa, nes',
 490: 'Other Asia, nes',
 568: 'Other Europe, nes',
 582: 'Pacific Isds (...1991)',
 586: 'Pakistan',
 585: 'Palau',
 591: 'Panama',
 590: 'Panama, excl.Canal Zone (...1977)',
 592: 'Panama-Canal-Zone (...1977)',
 598: 'Papua New Guinea',
 600: 'Paraguay',
 459: 'Peninsula Malaysia (...1963)',
 604: 'Peru',
 608: 'Philippines',
 612: 'Pitcairn',
 616: 'Poland',
 620: 'Portugal',
 630: 'Puerto Rico ',
 634: 'Qatar',
 410: 'Rep. of Korea',
 498: 'Rep. of Moldova',
 868: 'Rep. of Vietnam (...1974)',
 636: 'Rest of America, nes',
 638: 'Réunion (Overseas France)',
 717: 'Rhodesia Nyas (...1964)',
 642: 'Romania',
 643: 'Russian Federation',
 646: 'Rwanda',
 647: 'Ryukyu Isd',
 461: 'Sabah (...1963)',
 652: 'Saint Barthélemy',
 654: 'Saint Helena',
 659: 'Saint Kitts and Nevis',
 658: 'Saint Kitts, Nevis and Anguilla (...1980)',
 662: 'Saint Lucia',
 534: 'Saint Maarten',
 663: 'Saint Martin (French part) ',
 666: 'Saint Pierre and Miquelon',
 670: 'Saint Vincent and the Grenadines',
 882: 'Samoa',
 674: 'San Marino',
 678: 'Sao Tome and Principe',
 457: 'Sarawak',
 682: 'Saudi Arabia',
 686: 'Senegal',
 688: 'Serbia',
 891: 'Serbia and Montenegro (...2005)',
 690: 'Seychelles',
 694: 'Sierra Leone',
 698: 'Sikkim, Protectorate of India (...1974)',
 702: 'Singapore',
 703: 'Slovakia',
 705: 'Slovenia',
 90: 'Solomon Isds',
 706: 'Somalia',
 710: 'South Africa',
 239: 'South Georgia and the South Sandwich Islands',
 728: 'South Sudan',
 711: 'Southern African Customs Union (...1999)',
 724: 'Spain',
 839: 'Special Categories',
 144: 'Sri Lanka',
 275: 'State of Palestine',
 729: 'Sudan',
 736: 'Sudan (...2011)',
 740: 'Suriname',
 744: 'Svalbard and Jan Mayen Islands ',
 752: 'Sweden',
 756: 'Switzerland ',
 757: 'Switzerland',
 760: 'Syria',
 158: 'Taiwan, Province of China',
 762: 'Tajikistan',
 835: 'Tanganyika (...1964)',
 764: 'Thailand',
 626: 'Timor-Leste',
 768: 'Togo',
 772: 'Tokelau',
 776: 'Tonga',
 780: 'Trinidad and Tobago',
 788: 'Tunisia',
 792: 'Türkiye',
 795: 'Turkmenistan',
 796: 'Turks and Caicos Isds',
 798: 'Tuvalu',
 800: 'Uganda',
 804: 'Ukraine',
 784: 'United Arab Emirates',
 826: 'United Kingdom',
 834: 'United Rep. of Tanzania',
 581: 'United States Minor Outlying Islands',
 840: 'United States of America',
 858: 'Uruguay',
 849: 'US Misc. Pacific Isds',
 850: 'US Virgin Isds (...1980)',
 842: 'USA',
 841: 'USA and Puerto Rico (...1980)',
 810: 'USSR (...1990)',
 860: 'Uzbekistan',
 548: 'Vanuatu',
 862: 'Venezuela',
 704: 'Viet Nam',
 872: 'Wake Island',
 876: 'Wallis and Futuna Isds',
 879: 'Western Asia, nes',
 732: 'Western Sahara',
 0: 'World',
 887: 'Yemen',
 890: 'Yugoslavia (...1991)',
 894: 'Zambia',
 836: 'Zanzibar and Pemba Isd (...1964)',
 716: 'Zimbabwe',
 975: 'ASEAN',
 97: 'European Union'}

##  Modes of transport

In [10]:
import comtradeapicall

comtradeapicall.getReference('mot')

      id                                           text
0      0                       TOTAL modes of transport
1   1000                                            Air
2   2000                                          Water
3   2100                                            Sea
4   2200                                Inland waterway
5   2900                     Water, not else classified
6   3000                                           Land
7   3100                                        Railway
8   3200                                           Road
9   3900                      Land, not else classified
10  9000                       Not elsewhere classified
11  9100                           Pipelines and cables
12  9110                                      Pipelines
13  9120                                         Cables
14  9190      Pipelines and cables, not else classified
15  9200  Postal consignments, mail or courier shipment
16  9300                           Self propelled goods
17  9900                                          Other

## Flow

In [1]:
import comtradeapicall

comtradeapicall.getReference('flow')

    id                                      text
0    M                                    Import
1    X                                    Export
2   DX                           Domestic Export
3   FM                            Foreign Import
4  MIP     Import of goods for inward processing
5  MOP  Import of goods after outward processing
6   RM                                 Re-import
7   RX                                 Re-export
8  XIP   Export of goods after inward processing
9  XOP    Export of goods for outward processing

## HS Codes

In [19]:
import comtradeapicall


hs = comtradeapicall.getReference('cmd:H5')

In [25]:
import pandas as pd
pd.set_option('display.max_colwidth', 200)

hs[hs['text'].str.contains('Durum', case=False)]

,id,text,parent
658,100111,"100111 - Cereals; wheat and meslin, durum wheat, seed",1001
659,100119,"100119 - Cereals; wheat and meslin, durum wheat, other than seed",1001
660,100191,"100191 - Cereals; wheat and meslin, other than durum wheat, seed",1001
661,100199,"100199 - Cereals; wheat and meslin, other than durum wheat, other than seed",1001

# Tests

Reproducing calls to python API from comtrade. See: https://github.com/uncomtrade/comtradeapicall

* Extract Australia imports of commodity codes 90 and 91 from all partners in classic mode in May 2022

In [11]:
import comtradeapicall

mydf = comtradeapicall.getFinalData(APIKEY, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                    reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)
mydf.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.388227e+08,8.012504e+08,8.388227e+08,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,1.852201e+03,1.726534e+03,1.852201e+03,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,3.695805e+03,3.224809e+03,3.695805e+03,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.190824e+05,1.114879e+05,1.190824e+05,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,6.946143e+06,6.808902e+06,6.946143e+06,4,False,True

In [12]:
import comtradetools

mydf = comtradetools.getFinalData(APIKEY, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                    reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)
mydf.head()

INFO:root:Calling getFinalData for period 202205

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.388227e+08,8.012504e+08,8.388227e+08,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,1.852201e+03,1.726534e+03,1.852201e+03,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,3.695805e+03,3.224809e+03,3.695805e+03,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.190824e+05,1.114879e+05,1.190824e+05,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,6.946143e+06,6.808902e+06,6.946143e+06,4,False,True

## Países de consignação

### Partner2

O `partner2` é uma novidade dos dados comtrade. Procura registar o país de "consignação".

No caso das importações é o país que despachou os bens para o país que importa,
sem que tenha ocorrido entre o país de origem (_partner_) nenhuma transação
que modifique o estatuto legal (denominação de origem?) dos bens:

> The country of consignment in the case of imports is the country from which goods
 were dispatched to the importing country, without any commercial transactions 
 or other operations that change the legal status of the goods taking 
 place in any intermediate country.

#### Resultados quand o partner2Code não é especificado na pesquisa



Se a pesquisa não especifica partner2Code, alguns anos produzem mais do que uma linha por par _reporter/partner_  
com diferentes valores. Por exemplo, se a China for o `reporter` e a Guiné Equatorial o `partner` nos anos 2015, 2016, 2017 aparece::
* Uma linha por `partner2Code`, incluindo uma linha em que o `partner2` é igual ao `partner` (importações diretas).
* Uma linha adicional com `partner2Code` igual a zero que contém o total agregado das outras linhas com `partner2Code` explícito.
* Isso significa que existe duplicação do total.
  
|    | reporterDesc   | partnerDesc       |   partner2Code | partner2Desc         |   refYear | cmdCode   | flowCode   | primaryValueFormated   |
|---:|:---------------|:------------------|---------------:|:---------------------|----------:|:----------|:-----------|:-----------------------|
|  3 | China          | Equatorial Guinea |            344 | China, Hong Kong SAR |      2015 | TOTAL     | M          | 59.0                   |
|  1 | China          | Equatorial Guinea |             56 | Belgium              |      2015 | TOTAL     | M          | 2,435.0                |
|  2 | China          | Equatorial Guinea |            226 | Equatorial Guinea    |      2015 | TOTAL     | M          | 1,166,493,970.0        |
|  0 | China          | Equatorial Guinea |              0 | nan                  |      2015 | TOTAL     | M          | 1,166,496,464.0        |


Para evitar isso tem de se chamar a API com partner2Code = 0, para que os resultados de 2015,2016,2017 excluam
a decomposição. Se partner2Code=None as linhas adicionais aparecem.

Exemplo de resultados se o `partner2Code` for None.

Alterar as variáveis seguintes para testar.

In [31]:
period = "2015" ## if freqCode M  use aaaamm
flow = "M"
cmdCode = 'TOTAL'
reporterCode = m49_china
partnerCode = m49_guine_equatorial
# None: total and subtotal per country
# 0: only total
# > 0: only this country code
partner2Code = None

Exemplo como com `partner2Code = None` aparecem linhas
com detalhe de partner linhas de total

In [32]:
import comtradetools

partner2Code = None

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '{:,.2f}'.format

cols_partner2 = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear',
        'flowDesc','primaryValue','cmdCode','qty','qtyUnitCode','qtyUnitAbbr','customsCode']
cols_partner2_qty_weight = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear','cmdDesc',
        'flowCode','primaryValue',
        'qty','qtyUnitCode','qty','isQtyEstimated','altQtyUnitCode', 'altQtyUnitAbbr', 'altQty', 'isAltQtyEstimated',
       'netWgt', 'isNetWgtEstimated', 'grossWgt', 'isGrossWgtEstimated',
        'motCode']

df = comtradetools.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flow,
                     reporterCode=reporterCode,
                     partnerCode=partnerCode,
                     partner2Code=partner2Code,
                     cmdCode=cmdCode,
                     customsCode=None,
                     qtyUnitCodeFilter=-1,
                     period=period,
                     timeout=30, echo_url=True
                     )
result = df.sort_values(['partner2Code','primaryValue'], ascending=[True,False])[cols_partner2]
# print(result.to_markdown())
result

https://comtradeapi.un.org/public/v1/preview//C/A/HS?reporterCode=156&period=2015&partnerCode=226&cmdCode=TOTAL&flowCode=M

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode
0,China,Equatorial Guinea,0,World,2015,Import,"1,166,496,464.00",TOTAL,0.00,-1,NaN,C00
1,China,Equatorial Guinea,56,Belgium,2015,Import,"2,435.00",TOTAL,0.00,-1,NaN,C00
2,China,Equatorial Guinea,226,Equatorial Guinea,2015,Import,"1,166,493,970.00",TOTAL,0.00,-1,NaN,C00
3,China,Equatorial Guinea,344,China Hong Kong,2015,Import,59.00,TOTAL,0.00,-1,NaN,C00

A função `call_uncomtrade` passou a colocar `partner2Code = 0` quando não especificado,
para evitar o problema.

Neste exemplo não se inclui o parâmetro `partner2Code` e a função coloca a zero para obter o resultado
correcto.

In [33]:
df = comtradetools.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flow,
                     reporterCode=m49_china,
                     partnerCode=partnerCode,
                     cmdCode='TOTAL',
                     period=period,
                     timeout=60,
                     echo_url=True
                     )
result = df.sort_values(['partnerDesc','flowCode'])[cols_partner2]
# print(result.to_markdown())
result

https://comtradeapi.un.org/public/v1/preview//C/A/HS?reporterCode=156&period=2015&partnerCode=226&partner2Code=0&cmdCode=TOTAL&flowCode=M&customsCode=C00

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode
0,China,Equatorial Guinea,0,World,2015,Import,"1,166,496,464.00",TOTAL,0.00,-1,NaN,C00

#### Cobertura de informação sobre parter2

Não parece ser possível obter as informações referentes a partner2
 senão nos anos 2015-2017, quando o `reporter` é a China.

In [37]:
yrange = comtradetools.year_range(2014,2023)
reporterCode = m49_china

In [38]:

df = comtradetools.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flow,
                     reporterCode=reporterCode,
                     partnerCode=partnerCode,
                     partner2Code=None,
                     cmdCode='TOTAL',
                     period=yrange,
                     timeout=10,
                     echo_url=True
                     )
result = df.sort_values(['partnerDesc','refYear','flowCode'])[cols_partner2]
# print(result.to_markdown())
result

https://comtradeapi.un.org/public/v1/preview//C/A/HS?reporterCode=156&period=2014%2C2015%2C2016%2C2017%2C2018%2C2019%2C2020%2C2021%2C2022&partnerCode=226&cmdCode=TOTAL&flowCode=M&customsCode=C00

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode
0,China,Equatorial Guinea,0,World,2014,Import,"3,217,190,248.00",TOTAL,NaN,-1,NaN,C00
1,China,Equatorial Guinea,0,World,2015,Import,"1,166,496,464.00",TOTAL,0.00,-1,NaN,C00
2,China,Equatorial Guinea,56,Belgium,2015,Import,"2,435.00",TOTAL,0.00,-1,NaN,C00
3,China,Equatorial Guinea,226,Equatorial Guinea,2015,Import,"1,166,493,970.00",TOTAL,0.00,-1,NaN,C00
4,China,Equatorial Guinea,344,China Hong Kong,2015,Import,59.00,TOTAL,0.00,-1,NaN,C00
5,China,Equatorial Guinea,0,World,2016,Import,"631,851,506.00",TOTAL,0.00,-1,NaN,C00
6,China,Equatorial Guinea,24,Angola,2016,Import,"396,344.00",TOTAL,0.00,-1,NaN,C00
7,China,Equatorial Guinea,178,Congo,2016,Import,"1,457,849.00",TOTAL,0.00,-1,NaN,C00
8,China,Equatorial Guinea,226,Equatorial Guinea,2016,Import,"589,959,003.00",TOTAL,0.00,-1,NaN,C00
9,China,Equatorial Guinea,251,France and Monaco,2016,Import,"1,341.00",TOTAL,0.00,-1,NaN,C00
10,China,Equatorial Guinea,344,China Hong Kong,2016,Import,634.00,TOTAL,0.00,-1,NaN,C00
11,China,Equatorial Guinea,458,Malaysia,2016,Import,"40,036,318.00",TOTAL,0.00,-1,NaN,C00
12,China,Equatorial Guinea,490,"Asia, not elsewhere specified",2016,Import,17.00,TOTAL,0.00,-1,NaN,C00
13,China,Equatorial Guinea,0,World,2017,Import,"1,483,835,026.00",TOTAL,0.00,-1,NaN,C00
14,China,Equatorial Guinea,24,Angola,2017,Import,"8,468.00",TOTAL,0.00,-1,NaN,C00
15,China,Equatorial Guinea,124,Canada,2017,Import,20.00,TOTAL,0.00,-1,NaN,C00
16,China,Equatorial Guinea,226,Equatorial Guinea,2017,Import,"1,422,618,641.00",TOTAL,0.00,-1,NaN,C00
17,China,Equatorial Guinea,344,China Hong Kong,2017,Import,46.00,TOTAL,0.00,-1,NaN,C00
18,China,Equatorial Guinea,392,Japan,2017,Import,10.00,TOTAL,0.00,-1,NaN,C00
19,China,Equatorial Guinea,458,Malaysia,2017,Import,"59,992,784.00",TOTAL,0.00,-1,NaN,C00
20,China,Equatorial Guinea,704,Vietnam,2017,Import,"1,215,057.00",TOTAL,0.00,-1,NaN,C00
21,China,Equatorial Guinea,0,World,2018,Import,"2,139,372,096.00",TOTAL,0.00,-1,NaN,C00
22,China,Equatorial Guinea,0,World,2019,Import,"1,723,064,057.00",TOTAL,0.00,-1,NaN,C00
23,China,Equatorial Guinea,0,World,2020,Import,"1,182,549,225.00",TOTAL,0.00,-1,NaN,C00
24,China,Equatorial Guinea,0,World,2021,Import,"1,215,142,465.00",TOTAL,0.00,-1,NaN,C00

Mas outros países incluem esses dados em outros anos, por exemplo, Portugal

In [40]:
cmdCode = 'TOTAL'

period = "2018" ## if freqCode M  use aaaamm
flow = "X"
reporterCode=m49_portugal
partnerCode = m49_brazil
cmdCode='TOTAL'

df = comtradetools.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flow,
                     reporterCode=reporterCode,
                     partnerCode=partnerCode,
                     partner2Code=None,
                     cmdCode=cmdCode,
                     customsCode=None,
                     period=period,
                     timeout=None,
                     echo_url=True
                     )
interesting_cols = [col for col in df.columns if len(df[col].unique())>1]
print(interesting_cols)
show_cols = cols_partner2 + list(set(interesting_cols)-set(cols_partner2))
result = df.sort_values(['partner2Code','flowCode'])[show_cols]

# print(result.to_markdown())
result

https://comtradeapi.un.org/public/v1/preview//C/A/HS?reporterCode=620&period=2018&partnerCode=76&cmdCode=TOTAL&flowCode=X
['partner2Code', 'partner2Desc', 'motCode', 'motDesc', 'isNetWgtEstimated', 'fobvalue', 'primaryValue', 'primaryValueFormated']

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode,fobvalue,motCode,motDesc,isNetWgtEstimated,primaryValueFormated
0,Portugal,Brazil,0,World,2018,Export,"1,083,984,874.36",TOTAL,0.00,-1,NaN,C00,"1,083,984,874.36",0,All modes of transport,True,"1,083,984,874.361"
1,Portugal,Brazil,0,World,2018,Export,"52,669,113.05",TOTAL,0.00,-1,NaN,C00,"52,669,113.05",1000,Air,True,"52,669,113.046"
2,Portugal,Brazil,0,World,2018,Export,"1,027,354,167.57",TOTAL,0.00,-1,NaN,C00,"1,027,354,167.57",2100,Sea,True,"1,027,354,167.565"
3,Portugal,Brazil,0,World,2018,Export,"3,801,817.75",TOTAL,0.00,-1,NaN,C00,"3,801,817.75",3200,Road,True,"3,801,817.747"
4,Portugal,Brazil,0,World,2018,Export,"159,776.00",TOTAL,0.00,-1,NaN,C00,"159,776.00",9200,"Postal consignments, mail or courier shipment",True,"159,776.003"
5,Portugal,Brazil,251,France and Monaco,2018,Export,"56,538.91",TOTAL,0.00,-1,NaN,C00,"56,538.91",0,All modes of transport,False,"56,538.906"
6,Portugal,Brazil,251,France and Monaco,2018,Export,"56,538.91",TOTAL,0.00,-1,NaN,C00,"56,538.91",1000,Air,False,"56,538.906"
7,Portugal,Brazil,276,Germany,2018,Export,"18,143.93",TOTAL,0.00,-1,NaN,C00,"18,143.93",0,All modes of transport,False,"18,143.928"
8,Portugal,Brazil,276,Germany,2018,Export,"16,982.24",TOTAL,0.00,-1,NaN,C00,"16,982.24",1000,Air,False,"16,982.235"
9,Portugal,Brazil,276,Germany,2018,Export,"1,161.69",TOTAL,0.00,-1,NaN,C00,"1,161.69",2100,Sea,False,"1,161.694"
10,Portugal,Brazil,300,Greece,2018,Export,"235,517.71",TOTAL,0.00,-1,NaN,C00,"235,517.71",0,All modes of transport,False,"235,517.715"
11,Portugal,Brazil,300,Greece,2018,Export,"235,517.71",TOTAL,0.00,-1,NaN,C00,"235,517.71",1000,Air,False,"235,517.715"
12,Portugal,Brazil,380,Italy,2018,Export,"50,945.52",TOTAL,0.00,-1,NaN,C00,"50,945.52",0,All modes of transport,False,"50,945.523"
13,Portugal,Brazil,380,Italy,2018,Export,"50,945.52",TOTAL,0.00,-1,NaN,C00,"50,945.52",1000,Air,False,"50,945.523"
14,Portugal,Brazil,528,Netherlands,2018,Export,"15,883.18",TOTAL,0.00,-1,NaN,C00,"15,883.18",0,All modes of transport,False,"15,883.176"
15,Portugal,Brazil,528,Netherlands,2018,Export,"15,883.18",TOTAL,0.00,-1,NaN,C00,"15,883.18",2100,Sea,False,"15,883.176"
16,Portugal,Brazil,642,Romania,2018,Export,"26,405.78",TOTAL,0.00,-1,NaN,C00,"26,405.78",0,All modes of transport,False,"26,405.78"
17,Portugal,Brazil,642,Romania,2018,Export,"26,405.78",TOTAL,0.00,-1,NaN,C00,"26,405.78",2100,Sea,False,"26,405.78"
18,Portugal,Brazil,724,Spain,2018,Export,"16,145,881.59",TOTAL,0.00,-1,NaN,C00,"16,145,881.59",0,All modes of transport,True,"16,145,881.586"
19,Portugal,Brazil,724,Spain,2018,Export,"3,550,776.12",TOTAL,0.00,-1,NaN,C00,"3,550,776.12",1000,Air,True,"3,550,776.118"
20,Portugal,Brazil,724,Spain,2018,Export,"12,595,105.47",TOTAL,0.00,-1,NaN,C00,"12,595,105.47",2100,Sea,False,"12,595,105.468"
21,Portugal,Brazil,826,United Kingdom,2018,Export,"1,626.13",TOTAL,0.00,-1,NaN,C00,"1,626.13",0,All modes of transport,False,"1,626.135"
22,Portugal,Brazil,826,United Kingdom,2018,Export,"1,626.13",TOTAL,0.00,-1,NaN,C00,"1,626.13",1000,Air,False,"1,626.135"
23,Portugal,Brazil,899,"Areas, not elsewhere specified",2018,Export,"1,067,433,931.61",TOTAL,0.00,-1,NaN,C00,"1,067,433,931.61",0,All modes of transport,True,"1,067,433,931.612"
24,Portugal,Brazil,899,"Areas, not elsewhere specified",2018,Export,"48,756,726.41",TOTAL,0.00,-1,NaN,C00,"48,756,726.41",1000,Air,True,"48,756,726.415"
25,Portugal,Brazil,899,"Areas, not elsewhere specified",2018,Export,"1,014,715,611.45",TOTAL,0.00,-1,NaN,C00,"1,014,715,611.45",2100,Sea,True,"1,014,715,611.447"
26,Portugal,Brazil,899,"Areas, not elsewhere specified",2018,Export,"3,801,817.75",TOTAL,0.00,-1,NaN,C00,"3,801,817.75",3200,Road,True,"3,801,817.747"
27,Portugal,Brazil,899,"Areas, not elsewhere specified",2018,Export,"159,776.00",TOTAL,0.00,-1,NaN,C00,"159,776.00",9200,"Postal consignments, mail or courier shipment",True,"159,776.003"

Note-se a duplicação de linhas para o mesmo terceto _reporterCode-partnerCode-partner2Code_

Essa duplicação deve-se a desdobramento `motCode` (_mode of transport_) e `partner2Code`. Se filtrarmos só por motCode == 0 
e partner2Code != 0 obtemos a lista de combinações reporter-partner-partner2 para todos os modos de tranporte, sem
valores agregados por partner.

In [41]:
result[(result.motCode==0)&(result.partner2Code != 0)][list(set(['refYear','reporterDesc','partnerDesc',]+interesting_cols))]

,fobvalue,refYear,primaryValue,motCode,motDesc,isNetWgtEstimated,reporterDesc,primaryValueFormated,partner2Desc,partnerDesc,partner2Code
5,"56,538.91",2018,"56,538.91",0,All modes of transport,False,Portugal,"56,538.906",France and Monaco,Brazil,251
7,"18,143.93",2018,"18,143.93",0,All modes of transport,False,Portugal,"18,143.928",Germany,Brazil,276
10,"235,517.71",2018,"235,517.71",0,All modes of transport,False,Portugal,"235,517.715",Greece,Brazil,300
12,"50,945.52",2018,"50,945.52",0,All modes of transport,False,Portugal,"50,945.523",Italy,Brazil,380
14,"15,883.18",2018,"15,883.18",0,All modes of transport,False,Portugal,"15,883.176",Netherlands,Brazil,528
16,"26,405.78",2018,"26,405.78",0,All modes of transport,False,Portugal,"26,405.78",Romania,Brazil,642
18,"16,145,881.59",2018,"16,145,881.59",0,All modes of transport,True,Portugal,"16,145,881.586",Spain,Brazil,724
21,"1,626.13",2018,"1,626.13",0,All modes of transport,False,Portugal,"1,626.135",United Kingdom,Brazil,826
23,"1,067,433,931.61",2018,"1,067,433,931.61",0,All modes of transport,True,Portugal,"1,067,433,931.612","Areas, not elsewhere specified",Brazil,899

Gravar em Excel (nome do ficheiro automaticamente reflecte o valor das variáveis relevantes)

In [42]:
result.to_excel(f"./downloads/partner2_{m49_reporter_codes_map[reporterCode]}_{m49_reporter_codes_map[partnerCode]}_{flow}_{period}.xlsx")

## Testes

In [45]:
import comtradetools

period = "2016" ## if freqCode M  use aaaamm
flow = "M,X"
cmdCode = 'TOTAL'
reporterCode = m49_portugal
partnerCode = m49_angola

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '${:,.2f}'.format

cols_partner2 = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear',
        'flowCode','qtyUnitCode','primaryValue','isAggregate']
cols_partner2_qty_weight = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear','cmdDesc',
        'flowCode','primaryValue',
        'qtyUnitCode','qty','isQtyEstimated','altQtyUnitCode', 'altQtyUnitAbbr', 'altQty', 'isAltQtyEstimated',
       'netWgt', 'isNetWgtEstimated', 'grossWgt', 'isGrossWgtEstimated',
        'motCode']


df = comtradetools.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flow,
                     reporterCode=reporterCode,
                     partnerCode=partnerCode,
                     partner2Code=None,
                     cmdCode=cmdCode,
                     more_pars={'customsCode':None},
                     period=period,
                     timeout=30, echo_url=True
                     )

interesting_cols = [col for col in df.columns if len(df[col].unique())>1]
print(interesting_cols)
show_cols = cols_partner2 +  list(set(interesting_cols)-set(cols_partner2))
result = df.sort_values(['partnerDesc','flowCode'])[show_cols]
result

https://comtradeapi.un.org/public/v1/preview//C/A/HS?reporterCode=620&period=2016&partnerCode=24&cmdCode=TOTAL&flowCode=M%2CX
['flowCode', 'flowDesc', 'partner2Code', 'partner2Desc', 'motCode', 'motDesc', 'isNetWgtEstimated', 'cifvalue', 'fobvalue', 'primaryValue', 'primaryValueFormated']

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowCode,qtyUnitCode,primaryValue,isAggregate,fobvalue,cifvalue,motCode,motDesc,flowDesc,isNetWgtEstimated,primaryValueFormated
0,Portugal,Angola,0,World,2016,M,-1,"$895,881,332.31",True,NaN,"$895,881,332.31",0,All modes of transport,Import,True,"895,881,332.307"
2,Portugal,Angola,0,World,2016,M,-1,"$1,689,952.90",True,NaN,"$1,689,952.90",1000,Air,Import,True,"1,689,952.899"
4,Portugal,Angola,0,World,2016,M,-1,"$894,117,557.93",True,NaN,"$894,117,557.93",2100,Sea,Import,True,"894,117,557.927"
8,Portugal,Angola,0,World,2016,M,-1,"$1,080.88",True,NaN,"$1,080.88",9200,"Postal consignments, mail or courier shipment",Import,False,"1,080.876"
10,Portugal,Angola,0,World,2016,M,-1,"$72,740.61",True,NaN,"$72,740.61",9300,Self propelled goods,Import,False,"72,740.606"
12,Portugal,Angola,24,Angola,2016,M,-1,"$895,440,525.34",True,NaN,"$895,440,525.34",0,All modes of transport,Import,True,"895,440,525.343"
13,Portugal,Angola,24,Angola,2016,M,-1,"$1,689,952.90",True,NaN,"$1,689,952.90",1000,Air,Import,True,"1,689,952.899"
14,Portugal,Angola,24,Angola,2016,M,-1,"$893,676,750.96",True,NaN,"$893,676,750.96",2100,Sea,Import,True,"893,676,750.962"
15,Portugal,Angola,24,Angola,2016,M,-1,"$1,080.88",True,NaN,"$1,080.88",9200,"Postal consignments, mail or courier shipment",Import,False,"1,080.876"
16,Portugal,Angola,24,Angola,2016,M,-1,"$72,740.61",True,NaN,"$72,740.61",9300,Self propelled goods,Import,False,"72,740.606"
31,Portugal,Angola,446,China Macau,2016,M,-1,"$25,895.66",True,NaN,"$25,895.66",0,All modes of transport,Import,False,"25,895.656"
32,Portugal,Angola,446,China Macau,2016,M,-1,"$25,895.66",True,NaN,"$25,895.66",2100,Sea,Import,False,"25,895.656"
36,Portugal,Angola,516,Namibia,2016,M,-1,"$149,642.08",True,NaN,"$149,642.08",0,All modes of transport,Import,False,"149,642.085"
37,Portugal,Angola,516,Namibia,2016,M,-1,"$149,642.08",True,NaN,"$149,642.08",2100,Sea,Import,False,"149,642.085"
51,Portugal,Angola,784,United Arab Emirates,2016,M,-1,"$265,269.22",True,NaN,"$265,269.22",0,All modes of transport,Import,False,"265,269.224"
52,Portugal,Angola,784,United Arab Emirates,2016,M,-1,"$265,269.22",True,NaN,"$265,269.22",2100,Sea,Import,False,"265,269.224"
1,Portugal,Angola,0,World,2016,X,-1,"$1,661,634,876.01",True,"$1,661,634,876.01",NaN,0,All modes of transport,Export,True,"1,661,634,876.005"
3,Portugal,Angola,0,World,2016,X,-1,"$183,592,668.29",True,"$183,592,668.29",NaN,1000,Air,Export,True,"183,592,668.286"
5,Portugal,Angola,0,World,2016,X,-1,"$1,467,656,645.59",True,"$1,467,656,645.59",NaN,2100,Sea,Export,True,"1,467,656,645.585"
6,Portugal,Angola,0,World,2016,X,-1,"$24,380.52",True,"$24,380.52",NaN,3100,Railway,Export,False,"24,380.519"
7,Portugal,Angola,0,World,2016,X,-1,"$4,096,846.75",True,"$4,096,846.75",NaN,3200,Road,Export,True,"4,096,846.754"
9,Portugal,Angola,0,World,2016,X,-1,"$2,033,114.18",True,"$2,033,114.18",NaN,9200,"Postal consignments, mail or courier shipment",Export,True,"2,033,114.177"
11,Portugal,Angola,0,World,2016,X,-1,"$4,231,220.68",True,"$4,231,220.68",NaN,9300,Self propelled goods,Export,False,"4,231,220.683"
17,Portugal,Angola,40,Austria,2016,X,-1,"$118,407.96",True,"$118,407.96",NaN,0,All modes of transport,Export,False,"118,407.965"
18,Portugal,Angola,40,Austria,2016,X,-1,"$118,407.96",True,"$118,407.96",NaN,2100,Sea,Export,False,"118,407.965"
19,Portugal,Angola,56,Belgium,2016,X,-1,"$47,071.27",True,"$47,071.27",NaN,0,All modes of transport,Export,True,"47,071.266"
20,Portugal,Angola,56,Belgium,2016,X,-1,"$14,465.42",True,"$14,465.42",NaN,1000,Air,Export,True,"14,465.42"
21,Portugal,Angola,56,Belgium,2016,X,-1,"$32,605.85",True,"$32,605.85",NaN,2100,Sea,Export,False,"32,605.846"
22,Portugal,Angola,208,Denmark,2016,X,-1,"$1,704.16",True,"$1,704.16",NaN,0,All modes of transport,Export,False,"1,704.158"
23,Portugal,Angola,208,Denmark,2016,X,-1,"$1,704.16",True,"$1,704.16",NaN,2100,Sea,Export,False,"1,704.158"
24,Portugal,Angola,251,France and Monaco,2016,X,-1,"$77,544.70",True,"$77,544.70",NaN,0,All modes of transport,Export,False,"77,544.701"
25,Portugal,Angola,251,France and Monaco,2016,X,-1,"$77,544.70",True,"$77,544.70",NaN,2100,Sea,Export,False,"77,544.701"
26,Portugal,Angola,276,Germany,2016,X,-1,"$354,239.02",True,"$354,239.02",NaN,0,All modes of transport,Export,False,"354,239.024"
27,Portugal,Angola,276,Germany,2016,X,-1,"$354,239.02",True,"$354,239.02",NaN,2100,Sea,Export,False,"354,239.024"
28,Portugal,Angola,380,Italy,2016,X,-1,"$2,713,237.92",True,"$2,713,237.92",NaN,0,All modes of transport,Export,False,"2,713,237.921"
29,Portugal,Angola,380,Italy,2016,X,-1,"$174,550.00",True,"$174,550.00",NaN,1000,Air,Export,False,"174,549.997"
30,Portugal,Angola,380,Italy,2016,X,-1,"$2,538,687.92",True,"$2,538,687.92",NaN,2100,Sea,Export,False,"2,538,687.925"
33,Portugal,Angola,470,Malta,2016,X,-1,"$129,929.84",True,"$129,929.84",NaN,0,All modes of transport,Export,False,"129,929.84"
34,Portugal,Angola,470,Malta,2016,X,-1,"$78,059.27",True,"$78,059.27",NaN,1000,Air,Export,False,"78,059.268"
35,Portugal,Angola,470,Malta,2016,X,-1,"$51,870.57",True,"$51,870.57",NaN,2100,Sea,Export,False,"51,870.572"
38,Portugal,Angola,528,Netherlands,2016,X,-1,"$1,249,792.63",True,"$1,249,792.63",NaN,0,All modes of transport,Export,True,"1,249,792.628"
39,Portugal,Angola,528,Netherlands,2016,X,-1,"$44,023.70",True,"$44,023.70",NaN,1000,Air,Export,False,"44,023.701"
40,Portugal,Angola,528,Netherlands,2016,X,-1,"$1,205,768.93",True,"$1,205,768.93",NaN,2100,Sea,Export,True,"1,205,768.926"
41,Portugal,Angola,620,Portugal,2016,X,-1,"$1,639,927,292.82",True,"$1,639,927,292.82",NaN,0,All modes of transport,Export,True,"1,639,927,292.821"
42,Portugal,Angola,620,Portugal,2016,X,-1,"$182,751,511.61",True,"$182,751,511.61",NaN,1000,Air,Export,True,"182,751,511.613"
43,Portugal,Angola,620,Portugal,2016,X,-1,"$1,446,790,219.07",True,"$1,446,790,219.07",NaN,2100,Sea,Export,True,"1,446,790,219.074"
44,Portugal,Angola,620,Portugal,2016,X,-1,"$24,380.52",True,"$24,380.52",NaN,3100,Railway,Export,False,"24,380.519"
45,Portugal,Angola,620,Portugal,2016,X,-1,"$4,096,846.75",True,"$4,096,846.75",NaN,3200,Road,Export,True,"4,096,846.754"
46,Portugal,Angola,620,Portugal,2016,X,-1,"$2,033,114.18",True,"$2,033,114.18",NaN,9200,"Postal consignments, mail or courier shipment",Export,True,"2,033,114.177"
47,Portugal,Angola,620,Portugal,2016,X,-1,"$4,231,220.68",True,"$4,231,220.68",NaN,9300,Self propelled goods,Export,False,"4,231,220.683"
48,Portugal,Angola,724,Spain,2016,X,-1,"$16,399,166.73",True,"$16,399,166.73",NaN,0,All modes of transport,Export,True,"16,399,166.728"
49,Portugal,Angola,724,Spain,2016,X,-1,"$530,058.29",True,"$530,058.29",NaN,1000,Air,Export,True,"530,058.286"
50,Portugal,Angola,724,Spain,2016,X,-1,"$15,869,108.44",True,"$15,869,108.44",NaN,2100,Sea,Export,True,"15,869,108.442"
53,Portugal,Angola,826,United Kingdom,2016,X,-1,"$616,488.95",True,"$616,488.95",NaN,0,All modes of transport,Export,False,"616,488.952"
54,Portugal,Angola,826,United Kingdom,2016,X,-1,"$616,488.95",True,"$616,488.95",NaN,2100,Sea,Export,False,"616,488.952"