### How to run this notebook

* Online with [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/joaquimrcarvalho/cipf-comtrade.git/main?labpath=comtrade-api.ipynb):
https://mybinder.org/v2/gh/joaquimrcarvalho/cipf-comtrade.git/main?labpath=comtrade-api.ipynb
* In your own machine: check https://github.com/joaquimrcarvalho/cipf-comtrade.git

# Acesso à API UN Comtrade

> The UN COMTRADE is the largest depository of international trade data. It contains well over 5 billion data records since 1962 and is available publicly on the internet. In addition, it offers public and premium data API for easier integration/download.

Informação geral: https://unstats.un.org/wiki/display/comtrade/What+is+UN+Comtrade

API Site: https://comtradedeveloper.un.org 
API specs: https://comtradedeveloper.un.org/api-details#api=comtrade-v1&operation=get-get


Manual metodológico 
* alterações a partir de 2019: https://comtrade.un.org/data/MethodologyGuideforComtradePlus.pdf
* conceitos: https://unstats.un.org/unsd/trade/eg-imts/IMTS%202010%20(English).pdf

Codebook:
* https://unstats.un.org/wiki/display/comtrade/New+Comtrade+FAQ+for+First+Time+Users?preview=/125141443/135004360/ComtradePlus%20-%20data%20items%20-%2017%20Mar%202020.xlsx
* Documentação geral de códigos e categorias: https://unctadstat.unctad.org/EN/Classifications.html

Python package (low level calls):
* https://github.com/uncomtrade/comtradeapicall

Ver também:
* https://wits.worldbank.org/wits/wits/witshelp/Content/Data_Retrieval/T/Intro/B1.Working_with_Trade_Data.htm
* https://wits.worldbank.org/wits/wits/witshelp/Content/Data_Retrieval/T/Intro/B2.Imports_Exports_and_Mirror.htm

## Setup comtrade tools

In [2]:
import comtradetools as comtrade

comtrade.setup()

## Get a free API Key

To access the UN Comtrade via API, you need an access key,
otherwise the results are limited to 500 lines.

To obtain the access key:
* Register at https://comtradedeveloper.un.org/
* Go to _Products_ 
* Select "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Choose _Subscribe to "comtrade - v1"_  
* Wait for the email with the API key (takes a few days)
* Copy the key to the location indicated in the `config.ini` file before running the rest of the notebook.
  running the rest of the notebook.

---

Para aceder à UN Comtrade via API sem limites é necessário uma chave de acesso,
de outro modo os resultados são limitados a 500 linhas.

Para obter a chave de acsso:
* Registo em https://comtradedeveloper.un.org/
* Ir para _Products_ 
* Selecionar "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Escolher _Subscribe to "comtrade - v1"_  
* Esperar pelo email com a chave da API key (demora alguns dias
* Copia a chave para o local indicado no ficheiro `config.ini` antes
  de executar o resto do notebook.

In [2]:
import comtradetools as comtrade

print('Current config file with APIKEY:',comtrade.CONFIG_FILE)

Current config file with APIKEY: config.ini

## init comtrade tools with API Key

In [3]:
import comtradetools as comtrade

APIKEY = comtrade.get_api_key()

comtrade.init(APIKEY, force_init=False)

INFO:root:Loading HS codes from support/harmonized-system.csv

## Columns in the dataset

The following table describes the columns in the dataset.

In [4]:
import comtradetools as comtrade

print(comtrade.DATA_ITEM_DF.to_markdown())

|    |   Unnamed: 0 | dataItem                 | description                                                                              | isInDataAPICommodity   | isInDataAPIServices   | isInBulkFileFinal   | isInBulkFileTariffline   |
|---:|-------------:|:-------------------------|:-----------------------------------------------------------------------------------------|:-----------------------|:----------------------|:--------------------|:-------------------------|
|  0 |            0 | datasetCode              | Combination of several keys to identify specific datasetCode                             | True                   | True                  | True                | True                     |
|  1 |            1 | typeCode                 | Product type: Goods or Services                                                          | True                   | True                  | True                | True                     |
|  2 |            2 | freqCode                 | The time interval at which observations occur                                            | True                   | True                  | True                | True                     |
|  3 |            3 | refPeriodId              | The period of time to which the measured observation is intended to refer                | True                   | True                  | True                | True                     |
|  4 |            4 | refYear                  | Year of observation                                                                      | True                   | True                  | True                | False                    |
|  5 |            5 | refMonth                 | Month of observation. For annual, it would bet set to 52                                 | True                   | True                  | True                | False                    |
|  6 |            6 | period                   | Combination of year and month (for monthly), year for (annual)                           | True                   | True                  | True                | True                     |
|  7 |            7 | reporterCode             | The country or geographic area to which the measured statistical phenomenon relates      | True                   | True                  | True                | True                     |
|  8 |            8 | reporterISO              | ISO 3 code of reporter                                                                   | True                   | True                  | False               | False                    |
|  9 |            9 | reporterDesc             | Description of reporter                                                                  | True                   | True                  | False               | False                    |
| 10 |           10 | flowCategory             | Simplified trade flow: exports or imports                                                | False                  | False                 | False               | True                     |
| 11 |           11 | flowCode                 | Trade flow or sub-flow (exports, re-exports, imports, re-imports, etc.)                  | True                   | True                  | True                | True                     |
| 12 |           12 | flowDesc                 | Description of trade flows                                                               | True                   | True                  | False               | False                    |
| 13 |           13 | partnerCode              | The primary partner country or geographic area for the respective trade flow             | True                   | True                  | True                | True                     |
| 14 |           14 | partnerISO               | ISO 3 code of 1st partner                                                                | True                   | True                  | False               | False                    |
| 15 |           15 | partnerDesc              | Description of 1st partner                                                               | True                   | True                  | False               | False                    |
| 16 |           16 | partner2Code             | A secondary partner country or geographic area for the respective trade flow             | True                   | False                 | True                | True                     |
| 17 |           17 | partner2ISO              | ISO 3 code of 2nd partner                                                                | True                   | False                 | False               | False                    |
| 18 |           18 | partner2Desc             | Description of 2nd partner                                                               | True                   | False                 | False               | False                    |
| 19 |           19 | classificationSearchCode | Additional product classification to assist data search                                  | True                   | True                  | True                | False                    |
| 20 |           20 | classificationCode       | Indicates the product classification used and which version (HS, SITC)                   | True                   | True                  | True                | True                     |
| 21 |           21 | isOriginalClassification | Flag to indicate whether the classification is reported by country or not                | True                   | True                  | True                | False                    |
| 22 |           22 | cmdCode                  | Product code in conjunction with classification code                                     | True                   | True                  | True                | True                     |
| 23 |           23 | cmdDesc                  | Description of commodity /service category                                               | True                   | True                  | False               | False                    |
| 24 |           24 | aggrLevel                | Hierarchical level of commodity/service category                                         | True                   | True                  | False               | False                    |
| 25 |           25 | isLeaf                   | Identification whether a product code has the most basic level (i.e.,sub-heading for HS) | True                   | True                  | False               | False                    |
| 26 |           26 | customsCode              | Customs or statistical procedure                                                         | True                   | False                 | True                | True                     |
| 27 |           27 | customsDesc              | Description of customs procedure                                                         | True                   | False                 | False               | False                    |
| 28 |           28 | mosCode                  | The mode of supply on delivery of services (trade in services only)                      | False                  | True                  | True                | True                     |
| 29 |           29 | mosDesc                  | Description of mode of supply (trade in services only)                                   | False                  | True                  | False               | False                    |
| 30 |           30 | motCode                  | The mode of transport used when goods enter or leave the economic territory of a country | True                   | False                 | True                | True                     |
| 31 |           31 | motDesc                  | Description of mode of transport                                                         | True                   | False                 | False               | False                    |
| 32 |           32 | qtyUnitCode              | Unit of primary quantity                                                                 | True                   | False                 | True                | True                     |
| 33 |           33 | qtyUnitAbbr              | Abbreviation of primary quantity unit                                                    | True                   | False                 | False               | False                    |
| 34 |           34 | qty                      | Value of primary quantity                                                                | True                   | False                 | True                | True                     |
| 35 |           35 | isQtyEstimated           | Flag whether primary quantity is estimated or not                                        | True                   | False                 | True                | False                    |
| 36 |           36 | altQtyUnitCode           | Unit of secondary quantity                                                               | True                   | False                 | True                | True                     |
| 37 |           37 | altQtyUnitAbbr           | Abbreviation of secondary quantity unit                                                  | True                   | False                 | False               | False                    |
| 38 |           38 | altQty                   | Value of secondary quantity                                                              | True                   | False                 | True                | True                     |
| 39 |           39 | isAltQtyEstimated        | Flag whether secondary quantity is estimated or not                                      | True                   | False                 | True                | False                    |
| 40 |           40 | netWgt                   | Net weight                                                                               | True                   | False                 | True                | True                     |
| 41 |           41 | isnetWgtEstimated        | Flag whether net weight is estimated or not                                              | True                   | False                 | True                | False                    |
| 42 |           42 | grossWgt                 | Gross weight                                                                             | True                   | False                 | True                | True                     |
| 43 |           43 | isgrossWgtEstimated      | Flag whether gross weight is estimated or not                                            | True                   | False                 | True                | False                    |
| 44 |           44 | cifValue                 | Trade values in CIF                                                                      | True                   | False                 | True                | True                     |
| 45 |           45 | fobValue                 | Trade values in FOB                                                                      | True                   | False                 | True                | True                     |
| 46 |           46 | primaryValue             | Primary trade values (taken from CIF or FOB values)                                      | True                   | True                  | True                | True                     |
| 47 |           47 | legacyEstimationFlag     | Legacy quantity estimation flag                                                          | True                   | False                 | True                | False                    |
| 48 |           48 | isReported               | Flag to indicate whether a record is reported by country                                 | True                   | True                  | True                | False                    |
| 49 |           49 | isAggregate              | Flag to indicate whether a record is aggregated by UNSD                                  | True                   | True                  | True                | False                    |

### List of columns in the dataset

In [5]:
import comtradetools as comtrade

cols_all = comtrade.DATA_ITEM_DF.dataItem.unique()
cols_all

array(['datasetCode', 'typeCode', 'freqCode', 'refPeriodId', 'refYear',
       'refMonth', 'period', 'reporterCode', 'reporterISO',
       'reporterDesc', 'flowCategory', 'flowCode', 'flowDesc',
       'partnerCode', 'partnerISO', 'partnerDesc', 'partner2Code',
       'partner2ISO', 'partner2Desc', 'classificationSearchCode',
       'classificationCode', 'isOriginalClassification', 'cmdCode',
       'cmdDesc', 'aggrLevel', 'isLeaf', 'customsCode', 'customsDesc',
       'mosCode', 'mosDesc', 'motCode', 'motDesc', 'qtyUnitCode',
       'qtyUnitAbbr', 'qty', 'isQtyEstimated', 'altQtyUnitCode',
       'altQtyUnitAbbr', 'altQty', 'isAltQtyEstimated', 'netWgt',
       'isnetWgtEstimated', 'grossWgt', 'isgrossWgtEstimated', 'cifValue',
       'fobValue', 'primaryValue', 'legacyEstimationFlag', 'isReported',
       'isAggregate'], dtype=object)

# Codebooks

List of codebooks for the different columns

In [1]:
import comtradeapicall   # this is the UN supplied library

codebooks = comtradeapicall.listReference()
codebooks

,category,variable,description,fileuri
0,dataitem,Trade data items,List of data items/variables used in UN Comtrade,https://comtradeapi.un.org/files/v1/app/refere...
1,freq,Frequency,The time interval at which observations occur,https://comtradeapi.un.org/files/v1/app/refere...
2,flow,Trade Flow,"Trade flow or sub-flow (exports, re-exports, i...",https://comtradeapi.un.org/files/v1/app/refere...
3,mot,Mode of Transports,The mode of transport used when goods enter or...,https://comtradeapi.un.org/files/v1/app/refere...
4,partner,Partner country/area,The partner country or geographic area for the...,https://comtradeapi.un.org/files/v1/app/refere...
5,reporter,Reporter,The country or geographic area to which the me...,https://comtradeapi.un.org/files/v1/app/refere...
6,qtyunit,Units of quantity,The unit for quantity and alternate quantity d...,https://comtradeapi.un.org/files/v1/app/refere...
7,mos,Mode of Supply,The mode of supply on delivery of services (tr...,https://comtradeapi.un.org/files/v1/app/refere...
8,cmd:B4,Product,The classification of BEC Rev.4 – goods and se...,https://comtradeapi.un.org/files/v1/app/refere...
9,cmd:B5,Product,The classification of BEC Rev.5 – goods or ser...,https://comtradeapi.un.org/files/v1/app/refere...
10,customs,Customs Procedure Code,Customs or statistical procedure,https://comtradeapi.un.org/files/v1/app/refere...
11,cmd:EB02,Product,The classification of EBOPS 2002 – services,https://comtradeapi.un.org/files/v1/app/refere...
12,cmd:EB10,Product,The classification of EBOPS 2010 – services,https://comtradeapi.un.org/files/v1/app/refere...
13,cmd:EB10S,Product,The classification of EBOPS 2010 SDMX – services,https://comtradeapi.un.org/files/v1/app/refere...
14,cmd:EB,Product,The classification of Combined EBOPS – services,https://comtradeapi.un.org/files/v1/app/refere...
15,cmd:H0,Product,The classification of HS 1992 – goods,https://comtradeapi.un.org/files/v1/app/refere...
16,cmd:H1,Product,The classification of HS 1996 – goods,https://comtradeapi.un.org/files/v1/app/refere...
17,cmd:H2,Product,The classification of HS 2002 – goods,https://comtradeapi.un.org/files/v1/app/refere...
18,cmd:H3,Product,The classification of HS 2007 – goods,https://comtradeapi.un.org/files/v1/app/refere...
19,cmd:H4,Product,The classification of HS 2012 – goods,https://comtradeapi.un.org/files/v1/app/refere...
20,cmd:H5,Product,The classification of HS 2017 – goods,https://comtradeapi.un.org/files/v1/app/refere...
21,cmd:H6,Product,The classification of HS 2022 – goods,https://comtradeapi.un.org/files/v1/app/refere...
22,cmd:HS,Product,The classification of Combined HS – goods,https://comtradeapi.un.org/files/v1/app/refere...
23,cmd:S1,Product,The classification of SITC Rev.1 – goods,https://comtradeapi.un.org/files/v1/app/refere...
24,cmd:S2,Product,The classification of SITC Rev.2 – goods,https://comtradeapi.un.org/files/v1/app/refere...
25,cmd:S3,Product,The classification of SITC Rev.3 – goods,https://comtradeapi.un.org/files/v1/app/refere...
26,cmd:S4,Product,The classification of SITC Rev.4 – goods,https://comtradeapi.un.org/files/v1/app/refere...
27,cmd:SS,Product,The classification of Combined SITC – goods,https://comtradeapi.un.org/files/v1/app/refere...
28,ais:dataitems,AIS Data Items,Data items used in experimental seaborne trade...,https://comtradeapi.un.org/files/v1/app/refere...
29,ais:countriesareas,AIS Countries/Areas,Countries and Areas used in experimental seabo...,https://comtradeapi.un.org/files/v1/app/refere...
30,ais:flows,AIS Trade Flow,Trade flows used in experimental seaborne trad...,https://comtradeapi.un.org/files/v1/app/refere...
31,ais:vesseltypes,AIS Vessel Types,Vessel types used in experimental seaborne tra...,https://comtradeapi.un.org/files/v1/app/refere...

Get specific codebook

In [22]:
cbk = 'cmd:H6'
codebook = comtradeapicall.getReference(cbk)
codebook.head(10)

,id,text,parent,isLeaf,aggrlevel,standardUnitAbbr
0,TOTAL,Total - All H6 commodities,#,0,0,n/a
1,01,01 - Animals; live,TOTAL,0,2,n/a
2,0101,"0101 - Horses, asses, mules and hinnies; live",01,0,4,n/a
3,010121,"010121 - Horses; live, pure-bred breeding animals",0101,1,6,u
4,010129,"010129 - Horses; live, other than pure-bred br...",0101,1,6,u
5,010130,010130 - Asses; live,0101,1,6,u
6,010190,010190 - Mules and hinnies; live,0101,1,6,u
7,0102,0102 - Bovine animals; live,01,0,4,n/a
8,010221,"010221 - Cattle; live, pure-bred breeding animals",0102,1,6,u
9,010229,"010229 - Cattle; live, other than pure-bred br...",0102,1,6,u

## List of partners (countries, regiões, blocks)

The list includes countries but also:
* trade blocks (EU, LAIA, Africa CAMEU ...)
* former countries (e.g. USSR, Yugoslavia, Czechoslovakia, East Germany, West Germany, Serbia and Montenegro, Sudan and South Sudan, etc.)
* combinations (USA+Porto Rico)

In [33]:
import comtradeapicall

partners = comtradeapicall.getReference('partner')
partners.head(10)

,id,text,PartnerCode,PartnerDesc,partnerNote,PartnerCodeIsoAlpha2,PartnerCodeIsoAlpha3,entryEffectiveDate,isGroup,entryExpiredDate
0,4,Afghanistan,4,Afghanistan,Afghanistan,AF,AFG,1900-01-01T00:00:00,False,NaN
1,472,"Africa CAMEU region, nes",472,"Africa CAMEU region, nes","Africa CAMEU region, not elsewhere specified",NaN,_AC,1900-01-01T00:00:00,False,NaN
2,248,Åland Islands,248,Åland Islands,NaN,AX,ALA,1900-01-01T00:00:00,False,NaN
3,8,Albania,8,Albania,Albania,AL,ALB,1900-01-01T00:00:00,False,NaN
4,12,Algeria,12,Algeria,Algeria,DZ,DZA,1900-01-01T00:00:00,False,NaN
5,16,American Samoa,16,American Samoa,American Samoa,AS,ASM,1900-01-01T00:00:00,False,NaN
6,20,Andorra,20,Andorra,Andorra,AD,AND,1900-01-01T00:00:00,False,NaN
7,24,Angola,24,Angola,Angola,AO,AGO,1900-01-01T00:00:00,False,NaN
8,660,Anguilla,660,Anguilla,Anguilla,AI,AIA,1981-01-01T00:00:00,False,NaN
9,10,Antarctica,10,Antarctica,Antarctica,AQ,ATA,1900-01-01T00:00:00,False,NaN

List groups in partners list

In [25]:
partners[partners.isGroup].head(10)

,id,text,PartnerCode,PartnerDesc,partnerNote,PartnerCodeIsoAlpha2,PartnerCodeIsoAlpha3,entryEffectiveDate,isGroup,entryExpiredDate
304,0,World,0,World,World,NaN,W00,1901-01-01T00:00:00,True,NaN

## List of "reporters" 

Countries that provide information for the database

In [35]:
import comtradeapicall

reporters = comtradeapicall.getReference('reporter')
reporters.head(10)

,id,text,reporterCode,reporterDesc,reporterNote,reporterCodeIsoAlpha2,reporterCodeIsoAlpha3,entryEffectiveDate,isGroup,entryExpiredDate
0,4,Afghanistan,4,Afghanistan,Afghanistan,AF,AFG,1900-01-01T00:00:00,False,NaN
1,8,Albania,8,Albania,Albania,AL,ALB,1900-01-01T00:00:00,False,NaN
2,12,Algeria,12,Algeria,Algeria,DZ,DZA,1900-01-01T00:00:00,False,NaN
3,20,Andorra,20,Andorra,Andorra,AD,AND,1900-01-01T00:00:00,False,NaN
4,24,Angola,24,Angola,Angola,AO,AGO,1900-01-01T00:00:00,False,NaN
5,660,Anguilla,660,Anguilla,Anguilla,AI,AIA,1981-01-01T00:00:00,False,NaN
6,28,Antigua and Barbuda,28,Antigua and Barbuda,Antigua and Barbuda,AG,ATG,1900-01-01T00:00:00,False,NaN
7,886,Arab Rep. of Yemen (...1990),886,Arab Rep. of Yemen (...1990),Former Arab Republic of Yemen,YE,YEM,1900-01-01T00:00:00,False,1990-12-31T00:00:00
8,32,Argentina,32,Argentina,Argentina,AR,ARG,1900-01-01T00:00:00,False,NaN
9,51,Armenia,51,Armenia,Armenia,AM,ARM,1992-01-01T00:00:00,False,NaN

In [36]:
reporters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     255 non-null    int64
 1   text                   255 non-null    object
 2   reporterCode           255 non-null    int64
 3   reporterDesc           255 non-null    object
 4   reporterNote           254 non-null    object
 5   reporterCodeIsoAlpha2  248 non-null    object
 6   reporterCodeIsoAlpha3  255 non-null    object
 7   entryEffectiveDate     255 non-null    object
 8   isGroup                255 non-null    bool
 9   entryExpiredDate       33 non-null     object
dtypes: bool(1), int64(2), object(7)
memory usage: 18.3+ KB

In [37]:
# create a dict called country_codes with data from "partners" data frame
# and reporters data frame

country_codes =  dict(zip(reporters['reporterCode'], reporters['reporterDesc']))
country_codes.update(dict(zip(partners['PartnerCode'], partners['PartnerDesc'])))
country_codes

{4: 'Afghanistan',
 8: 'Albania',
 12: 'Algeria',
 20: 'Andorra',
 24: 'Angola',
 660: 'Anguilla',
 28: 'Antigua and Barbuda',
 886: 'Arab Rep. of Yemen (...1990)',
 32: 'Argentina',
 51: 'Armenia',
 533: 'Aruba',
 975: 'ASEAN',
 36: 'Australia',
 40: 'Austria',
 31: 'Azerbaijan',
 44: 'Bahamas',
 48: 'Bahrain',
 50: 'Bangladesh',
 52: 'Barbados',
 112: 'Belarus',
 56: 'Belgium',
 58: 'Belgium-Luxembourg (...1998)',
 84: 'Belize',
 204: 'Benin',
 60: 'Bermuda',
 64: 'Bhutan',
 68: 'Bolivia (Plurinational State of)',
 535: 'Bonaire',
 70: 'Bosnia Herzegovina',
 72: 'Botswana',
 92: 'Br. Virgin Isds',
 76: 'Brazil',
 96: 'Brunei Darussalam',
 100: 'Bulgaria',
 854: 'Burkina Faso',
 108: 'Burundi',
 132: 'Cabo Verde',
 116: 'Cambodia',
 120: 'Cameroon',
 124: 'Canada',
 136: 'Cayman Isds',
 140: 'Central African Rep.',
 148: 'Chad',
 152: 'Chile',
 156: 'China',
 344: 'China, Hong Kong SAR',
 446: 'China, Macao SAR',
 170: 'Colombia',
 174: 'Comoros',
 178: 'Congo',
 184: 'Cook Isds',
 188: 'Costa Rica',
 384: "Côte d'Ivoire",
 191: 'Croatia',
 192: 'Cuba',
 531: 'Curaçao',
 196: 'Cyprus',
 203: 'Czechia',
 200: 'Czechoslovakia (...1992)',
 408: "Dem. People's Rep. of Korea",
 278: 'Dem. Rep. of Germany (...1990)',
 180: 'Dem. Rep. of the Congo',
 866: 'Dem. Rep. of Vietnam (...1974)',
 720: 'Dem. Yemen (...1990)',
 208: 'Denmark',
 262: 'Djibouti',
 212: 'Dominica',
 214: 'Dominican Rep.',
 588: 'East and West Pakistan (...1971)',
 218: 'Ecuador',
 818: 'Egypt',
 222: 'El Salvador',
 226: 'Equatorial Guinea',
 232: 'Eritrea',
 233: 'Estonia',
 748: 'Eswatini',
 231: 'Ethiopia',
 230: 'Ethiopia (...1992)',
 97: 'European Union',
 234: 'Faeroe Isds',
 280: 'Fed. Rep. of Germany (...1990)',
 242: 'Fiji',
 246: 'Finland',
 251: 'France',
 254: 'French Guiana (Overseas France)',
 258: 'French Polynesia',
 583: 'FS Micronesia',
 266: 'Gabon',
 270: 'Gambia',
 268: 'Georgia',
 276: 'Germany',
 288: 'Ghana',
 292: 'Gibraltar',
 300: 'Greece',
 304: 'Greenland',
 308: 'Grenada',
 312: 'Guadeloupe (Overseas France)',
 320: 'Guatemala',
 324: 'Guinea',
 624: 'Guinea-Bissau',
 328: 'Guyana',
 332: 'Haiti',
 336: 'Holy See (Vatican City State)',
 340: 'Honduras',
 348: 'Hungary',
 352: 'Iceland',
 699: 'India',
 356: 'India (...1974)',
 360: 'Indonesia',
 364: 'Iran',
 368: 'Iraq',
 372: 'Ireland',
 376: 'Israel',
 380: 'Italy',
 388: 'Jamaica',
 392: 'Japan',
 400: 'Jordan',
 398: 'Kazakhstan',
 404: 'Kenya',
 296: 'Kiribati',
 414: 'Kuwait',
 417: 'Kyrgyzstan',
 418: "Lao People's Dem. Rep.",
 428: 'Latvia',
 422: 'Lebanon',
 426: 'Lesotho',
 430: 'Liberia',
 434: 'Libya',
 440: 'Lithuania',
 442: 'Luxembourg',
 450: 'Madagascar',
 454: 'Malawi',
 458: 'Malaysia',
 462: 'Maldives',
 466: 'Mali',
 470: 'Malta',
 584: 'Marshall Isds',
 474: 'Martinique (Overseas France)',
 478: 'Mauritania',
 480: 'Mauritius',
 175: 'Mayotte (Overseas France)',
 484: 'Mexico',
 496: 'Mongolia',
 499: 'Montenegro',
 500: 'Montserrat',
 504: 'Morocco',
 508: 'Mozambique',
 104: 'Myanmar',
 580: 'N. Mariana Isds',
 516: 'Namibia',
 520: 'Nauru',
 524: 'Nepal',
 528: 'Netherlands',
 530: 'Netherlands Antilles (...2010)',
 532: 'Netherlands Antilles and Aruba (...1985)',
 540: 'New Caledonia',
 554: 'New Zealand',
 558: 'Nicaragua',
 562: 'Niger',
 566: 'Nigeria',
 570: 'Niue',
 807: 'North Macedonia',
 579: 'Norway',
 512: 'Oman',
 490: 'Other Asia, nes',
 582: 'Pacific Isds (...1991)',
 586: 'Pakistan',
 585: 'Palau',
 591: 'Panama',
 590: 'Panama, excl.Canal Zone (...1977)',
 592: 'Panama-Canal-Zone (...1977)',
 598: 'Papua New Guinea',
 600: 'Paraguay',
 459: 'Peninsula Malaysia (...1963)',
 604: 'Peru',
 608: 'Philippines',
 616: 'Poland',
 620: 'Portugal',
 634: 'Qatar',
 410: 'Rep. of Korea',
 498: 'Rep. of Moldova',
 868: 'Rep. of Vietnam (...1974)',
 638: 'Réunion (Overseas France)',
 717: 'Rhodesia Nyas (...1964)',
 642: 'Romania',
 643: 'Russian Federation',
 646: 'Rwanda',
 461: 'Sabah (...1963)',
 652: 'Saint Barthélemy',
 654: 'Saint Helena',
 659: 'Saint Kitts and Nevis',
 658: 'Saint Kitts, Nevis and Anguilla (...1980)',
 662: 'Saint Lucia',
 534: 'Saint Maarten',
 666: 'Saint Pierre and Miquelon',
 670: 'Saint Vincent and the Grenadines',
 882: 'Samoa',
 674: 'San Marino',
 678: 'Sao Tome and Principe',
 682: 'Saudi Arabia',
 686: 'Senegal',
 688: 'Serbia',
 891: 'Serbia and Montenegro (...2005)',
 690: 'Seychelles',
 694: 'Sierra Leone',
 702: 'Singapore',
 703: 'Slovakia',
 705: 'Slovenia',
 90: 'Solomon Isds',
 706: 'Somalia',
 710: 'South Africa',
 728: 'South Sudan',
 711: 'Southern African Customs Union (...1999)',
 724: 'Spain',
 144: 'Sri Lanka',
 275: 'State of Palestine',
 729: 'Sudan',
 736: 'Sudan (...2011)',
 740: 'Suriname',
 752: 'Sweden',
 757: 'Switzerland',
 760: 'Syria',
 762: 'Tajikistan',
 835: 'Tanganyika (...1964)',
 764: 'Thailand',
 626: 'Timor-Leste',
 768: 'Togo',
 772: 'Tokelau',
 776: 'Tonga',
 780: 'Trinidad and Tobago',
 788: 'Tunisia',
 792: 'Türkiye',
 795: 'Turkmenistan',
 796: 'Turks and Caicos Isds',
 798: 'Tuvalu',
 800: 'Uganda',
 804: 'Ukraine',
 784: 'United Arab Emirates',
 826: 'United Kingdom',
 834: 'United Rep. of Tanzania',
 858: 'Uruguay',
 850: 'US Virgin Isds (...1980)',
 842: 'USA',
 841: 'USA and Puerto Rico (...1980)',
 810: 'USSR (...1990)',
 860: 'Uzbekistan',
 548: 'Vanuatu',
 862: 'Venezuela',
 704: 'Viet Nam',
 876: 'Wallis and Futuna Isds',
 887: 'Yemen',
 890: 'Yugoslavia (...1991)',
 894: 'Zambia',
 836: 'Zanzibar and Pemba Isd (...1964)',
 716: 'Zimbabwe',
 472: 'Africa CAMEU region, nes',
 248: 'Åland Islands ',
 16: 'American Samoa',
 10: 'Antarctica',
 899: 'Areas, nes',
 74: 'Bouvet Island',
 80: 'Br. Antarctic Terr.',
 86: 'Br. Indian Ocean Terr.',
 837: 'Bunkers',
 471: 'CACM, nes',
 129: 'Caribbean, nes',
 830: 'Channel Islands ',
 162: 'Christmas Isds',
 166: 'Cocos Isds',
 221: 'Eastern Europe, nes',
 697: 'Europe EFTA, nes',
 492: 'Europe EU, nes',
 238: 'Falkland Isds (Malvinas)',
 260: 'Fr. South Antarctic Terr.',
 838: 'Free Zones',
 316: 'Guam',
 831: 'Guernsey',
 334: 'Heard Island and McDonald Islands',
 833: 'Isle of Man ',
 832: 'Jersey',
 412: 'Kosovo',
 473: 'LAIA, nes',
 438: 'Liechtenstein ',
 250: 'Metropolitan France',
 488: 'Midway Islands',
 536: 'Neutral Zone',
 574: 'Norfolk Isds',
 637: 'North America and Central America, nes',
 290: 'Northern Africa, nes',
 578: 'Norway, excluding Svalbard and Jan Mayen',
 527: 'Oceania, nes',
 577: 'Other Africa, nes',
 568: 'Other Europe, nes',
 612: 'Pitcairn',
 630: 'Puerto Rico ',
 636: 'Rest of America, nes',
 647: 'Ryukyu Isd',
 663: 'Saint Martin (French part) ',
 457: 'Sarawak',
 698: 'Sikkim, Protectorate of India (...1974)',
 239: 'South Georgia and the South Sandwich Islands',
 839: 'Special Categories',
 744: 'Svalbard and Jan Mayen Islands ',
 756: 'Switzerland ',
 158: 'Taiwan, Province of China',
 581: 'United States Minor Outlying Islands',
 840: 'United States of America',
 849: 'US Misc. Pacific Isds',
 872: 'Wake Island',
 879: 'Western Asia, nes',
 732: 'Western Sahara',
 0: 'World'}

##  Modes of transport

In [38]:
import comtradeapicall

comtradeapicall.getReference('mot')

      id                                           text
0      0                       TOTAL modes of transport
1   1000                                            Air
2   2000                                          Water
3   2100                                            Sea
4   2200                                Inland waterway
5   2900                     Water, not else classified
6   3000                                           Land
7   3100                                        Railway
8   3200                                           Road
9   3900                      Land, not else classified
10  9000                       Not elsewhere classified
11  9100                           Pipelines and cables
12  9110                                      Pipelines
13  9120                                         Cables
14  9190      Pipelines and cables, not else classified
15  9200  Postal consignments, mail or courier shipment
16  9300                           Self propelled goods
17  9900                                          Other

## Flow

In [39]:
import comtradeapicall

comtradeapicall.getReference('flow')

    id                                      text
0    M                                    Import
1    X                                    Export
2   DX                           Domestic Export
3   FM                            Foreign Import
4  MIP     Import of goods for inward processing
5  MOP  Import of goods after outward processing
6   RM                                 Re-import
7   RX                                 Re-export
8  XIP   Export of goods after inward processing
9  XOP    Export of goods for outward processing

## HS Codes

In [43]:
import comtradeapicall


hs_codes = comtradeapicall.getReference('cmd:H5') # also cmd:H2, cmd:H6

Filter HS codes

In [50]:
import pandas as pd
pd.set_option('display.max_colwidth', 200)

text = 'telephone'

hs_codes[hs_codes['text'].str.contains(text, case=False)]

,id,text,parent,isLeaf,aggrlevel,standardUnitAbbr
5867,8517,"8517 - Telephone sets, including telephones for cellular networks or for other wireless networks; other apparatus for the transmission or reception of voice, images or other data (including wired/...",85,0,4,n/a
5868,851711,851711 - Line telephone sets with cordless handsets,8517,1,6,u
5869,851712,851712 - Telephones for cellular networks or for other wireless networks,8517,1,6,u
5870,851718,851718 - Telephone sets n.e.c. in item no. 8517.1,8517,1,6,u
5872,851762,"851762 - Communication apparatus (excluding telephone sets or base stations); machines for the reception, conversion and transmission or regeneration of voice, images or other data, including swit...",8517,1,6,u
5873,851769,"851769 - Communication apparatus (excluding telephone sets or base stations); machines for the transmission or reception of voice, images or other data (including wired/wireless networks), n.e.c. ...",8517,1,6,u
5874,851770,"851770 - Telephone sets and other apparatus for the transmission or reception of voice, images or other data, via a wired or wireless network; parts",8517,1,6,kg
5887,851950,851950 - Sound recording or reproducing apparatus; telephone answering machines,8519,1,6,u

# Tests

Reproducing calls to python API from comtrade. 

comtradetools.getFinalData() interfaces to UN supplied comtradeapicall.getFinalData() adding:
* rate management, so that too many calls errors are avoided
* long lists of periods: original function can only take 12 periods, comtradetools breaks longer lists into less
   than 12 and concatenates the results
* cache management: calls are cached to avoid repetitive access to Comtrade servers.

See: https://github.com/uncomtrade/comtradeapicall

* Extract Australia imports of commodity codes 90 and 91 from all partners in classic mode in May 2022

In [52]:
import comtradeapicall
import comtradetools

APIKEY = comtradetools.get_api_key()

mydf = comtradeapicall.getFinalData(APIKEY, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                    reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)
mydf.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.388227e+08,8.012504e+08,8.388227e+08,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,1.852201e+03,1.726534e+03,1.852201e+03,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,3.695805e+03,3.224809e+03,3.695805e+03,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.190824e+05,1.114879e+05,1.190824e+05,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,6.946143e+06,6.808902e+06,6.946143e+06,4,False,True

In [12]:
import comtradetools

mydf = comtradetools.getFinalData(APIKEY,
                                    typeCode='C',
                                    freqCode='M',
                                    clCode='HS',
                                    period='202205',
                                    reporterCode='36',
                                    cmdCode='91,90',
                                    flowCode='M',
                                    partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None,
                                    motCode=None,
                                    maxRecords=2500,
                                    format_output='JSON',
                                    aggregateBy=None,
                                    breakdownMode='classic',
                                    countOnly=None,
                                    includeDesc=True)
mydf.head()

INFO:root:Calling getFinalData for period 202205

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.388227e+08,8.012504e+08,8.388227e+08,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,1.852201e+03,1.726534e+03,1.852201e+03,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,3.695805e+03,3.224809e+03,3.695805e+03,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.190824e+05,1.114879e+05,1.190824e+05,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,6.946143e+06,6.808902e+06,6.946143e+06,4,False,True

## Países de consignação

### Partner2

O `partner2` é uma novidade dos dados comtrade. Procura registar o país de "consignação".

No caso das importações é o país que despachou os bens para o país que importa,
sem que tenha ocorrido entre o país de origem (_partner_) nenhuma transação
que modifique o estatuto legal (denominação de origem?) dos bens:

> The country of consignment in the case of imports is the country from which goods
 were dispatched to the importing country, without any commercial transactions 
 or other operations that change the legal status of the goods taking 
 place in any intermediate country.

#### Resultados quand o partner2Code não é especificado na pesquisa



Se a pesquisa não especifica partner2Code, alguns anos produzem mais do que uma linha por par _reporter/partner_  
com diferentes valores. Por exemplo, se a China for o `reporter` e a Guiné Equatorial o `partner` nos anos 2015, 2016, 2017 aparece::
* Uma linha por `partner2Code`, incluindo uma linha em que o `partner2` é igual ao `partner` (importações diretas).
* Uma linha adicional com `partner2Code` igual a zero que contém o total agregado das outras linhas com `partner2Code` explícito.
* Isso significa que existe duplicação do total.
  
|    | reporterDesc   | partnerDesc       |   partner2Code | partner2Desc         |   refYear | cmdCode   | flowCode   | primaryValueFormated   |
|---:|:---------------|:------------------|---------------:|:---------------------|----------:|:----------|:-----------|:-----------------------|
|  3 | China          | Equatorial Guinea |            344 | China, Hong Kong SAR |      2015 | TOTAL     | M          | 59.0                   |
|  1 | China          | Equatorial Guinea |             56 | Belgium              |      2015 | TOTAL     | M          | 2,435.0                |
|  2 | China          | Equatorial Guinea |            226 | Equatorial Guinea    |      2015 | TOTAL     | M          | 1,166,493,970.0        |
|  0 | China          | Equatorial Guinea |              0 | nan                  |      2015 | TOTAL     | M          | 1,166,496,464.0        |


Para evitar isso tem de se chamar a API com partner2Code = 0, para que os resultados de 2015,2016,2017 excluam
a decomposição. Se partner2Code=None as linhas adicionais aparecem.

Exemplo de resultados se o `partner2Code` for None.

Alterar as variáveis seguintes para testar.

In [18]:
import comtradetools

period = "2015" ## if freqCode M  use aaaamm
flow = "M"
cmdCode = 'TOTAL'
reporterCode = comtradetools.m49_china
partnerCode = comtradetools.m49_guine_equatorial
# None: total and subtotal per country
# 0: only total
# > 0: only this country code
partner2Code = None

Exemplo como com `partner2Code = None` aparecem linhas
com detalhe de partner linhas de total

In [19]:
import comtradetools
import pandas as pd


APIKEY = comtradetools.get_api_key()

partner2Code = None

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '{:,.2f}'.format

cols_partner2 = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear',
        'flowDesc','primaryValue','cmdCode','qty','qtyUnitCode','qtyUnitAbbr','customsCode','motDesc']
cols_partner2_qty_weight = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear','cmdDesc',
        'flowCode','primaryValue',
        'qty','qtyUnitCode','qty','isQtyEstimated','altQtyUnitCode', 'altQtyUnitAbbr', 'altQty', 'isAltQtyEstimated',
       'netWgt', 'isNetWgtEstimated', 'grossWgt', 'isGrossWgtEstimated',
        'motCode']

df = comtradetools.getFinalData(
                APIKEY,
                typeCode="C",# C for commodities, S for Services
                freqCode="A",# (freqCode) A for annual and M for monthly
                flowCode=flow,
                reporterCode=reporterCode,
                partnerCode=partnerCode,
                partner2Code=partner2Code,
                clCode='HS',
                cmdCode=cmdCode,
                customsCode=None,
                motCode=None,
                period=period,
                includeDesc=True,

                )
result = df.sort_values(['partner2Code','primaryValue'], ascending=[True,False])[cols_partner2]
# print(result.to_markdown())
result

INFO:root:Calling getFinalData for period 2015
INFO:root:Using cached results for period 2015

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode,motDesc
0,China,Equatorial Guinea,0,World,2015,Import,"1,166,496,464.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
1,China,Equatorial Guinea,56,Belgium,2015,Import,"2,435.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
2,China,Equatorial Guinea,226,Equatorial Guinea,2015,Import,"1,166,493,970.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
3,China,Equatorial Guinea,344,"China, Hong Kong SAR",2015,Import,59.00,TOTAL,0.00,-1,N/A,C00,TOTAL MOT

A função `comtradetools.getFinalData` passou a colocar `partner2Code = 0` quando não especificado,
para evitar o problema.

Neste exemplo não se inclui o parâmetro `partner2Code` e a função coloca a zero para obter o resultado
correcto.

In [20]:
import comtradetools

df = comtradetools.getFinalData(
                APIKEY,
                typeCode="C",# C for commodities, S for Services
                freqCode="A",# (freqCode) A for annual and M for monthly
                flowCode=flow,
                reporterCode=comtradetools.m49_china,
                partnerCode=partnerCode,
                motCode=None,
                customsCode=None,
                clCode='HS',
                cmdCode='TOTAL',
                period=period,
                includeDesc=True
                )
result = df.sort_values(['partnerDesc','flowCode'])[cols_partner2]
# print(result.to_markdown())
result

INFO:root:Calling getFinalData for period 2015
INFO:root:Using cached results for period 2015

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode,motDesc
0,China,Equatorial Guinea,0,World,2015,Import,"1,166,496,464.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT

#### Cobertura de informação sobre parter2

Não parece ser possível obter as informações referentes a partner2
 senão nos anos 2015-2017, quando o `reporter` é a China.

In [23]:
import comtradetools

yrange = comtradetools.year_range(2014,2023)
reporterCode = comtradetools.m49_china
partnerCode = comtradetools.m49_guine_equatorial

In [24]:

df = comtradetools.getFinalData(
    typeCode="C",# C for commodities, S for Services
    freqCode="A",# (freqCode) A for annual and M for monthly
    flowCode=flow,
    reporterCode=reporterCode,
    partnerCode=partnerCode,
    partner2Code=None,
    motCode=None,
    customsCode=None,
    clCode='HS',
    cmdCode='TOTAL',
    period=yrange,
    includeDesc=True,
    )
result = df.sort_values(['partnerDesc','refYear','flowCode','motDesc'])[cols_partner2]
# print(result.to_markdown())
result

INFO:root:Calling getFinalData for period 2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
INFO:root:Using cached results for period 2014,2015,2016,2017,2018,2019,2020,2021,2022,2023

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode,motDesc
0,China,Equatorial Guinea,0,World,2014,Import,"3,217,190,248.00",TOTAL,NaN,-1,N/A,C00,TOTAL MOT
1,China,Equatorial Guinea,0,World,2015,Import,"1,166,496,464.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
2,China,Equatorial Guinea,56,Belgium,2015,Import,"2,435.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
3,China,Equatorial Guinea,226,Equatorial Guinea,2015,Import,"1,166,493,970.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
4,China,Equatorial Guinea,344,"China, Hong Kong SAR",2015,Import,59.00,TOTAL,0.00,-1,N/A,C00,TOTAL MOT
5,China,Equatorial Guinea,0,World,2016,Import,"631,851,506.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
6,China,Equatorial Guinea,24,Angola,2016,Import,"396,344.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
7,China,Equatorial Guinea,178,Congo,2016,Import,"1,457,849.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
8,China,Equatorial Guinea,226,Equatorial Guinea,2016,Import,"589,959,003.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
9,China,Equatorial Guinea,251,France,2016,Import,"1,341.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
10,China,Equatorial Guinea,344,"China, Hong Kong SAR",2016,Import,634.00,TOTAL,0.00,-1,N/A,C00,TOTAL MOT
11,China,Equatorial Guinea,458,Malaysia,2016,Import,"40,036,318.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
12,China,Equatorial Guinea,490,"Other Asia, nes",2016,Import,17.00,TOTAL,0.00,-1,N/A,C00,TOTAL MOT
13,China,Equatorial Guinea,0,World,2017,Import,"1,483,835,026.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
14,China,Equatorial Guinea,24,Angola,2017,Import,"8,468.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
15,China,Equatorial Guinea,124,Canada,2017,Import,20.00,TOTAL,0.00,-1,N/A,C00,TOTAL MOT
16,China,Equatorial Guinea,226,Equatorial Guinea,2017,Import,"1,422,618,641.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
17,China,Equatorial Guinea,344,"China, Hong Kong SAR",2017,Import,46.00,TOTAL,0.00,-1,N/A,C00,TOTAL MOT
18,China,Equatorial Guinea,392,Japan,2017,Import,10.00,TOTAL,0.00,-1,N/A,C00,TOTAL MOT
19,China,Equatorial Guinea,458,Malaysia,2017,Import,"59,992,784.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
20,China,Equatorial Guinea,704,Viet Nam,2017,Import,"1,215,057.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
21,China,Equatorial Guinea,0,World,2018,Import,"2,139,372,096.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
22,China,Equatorial Guinea,0,World,2019,Import,"1,723,064,057.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
23,China,Equatorial Guinea,0,World,2020,Import,"1,182,549,225.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
24,China,Equatorial Guinea,0,World,2021,Import,"1,215,192,615.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
25,China,Equatorial Guinea,0,World,2022,Import,"1,516,383,585.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT
26,China,Equatorial Guinea,0,World,2023,Import,"1,371,085,246.00",TOTAL,0.00,-1,N/A,C00,TOTAL MOT

Mas outros países incluem esses dados em outros anos, por exemplo, Portugal.

No exemplo com reporter = Portugal e partner = Brasil não só se obtém linhas a discriminar
o partner2 mas também, sem motCode=0, linhas a discriminar os "Mode of Transport"

In [26]:
import comtradetools

period = "2018" ## if freqCode M  use aaaamm
flow = "X"
reporterCode=comtradetools.m49_portugal
partnerCode = comtradetools.m49_brazil
cmdCode='TOTAL'

df = comtradetools.getFinalData(
                    typeCode="C",# C for commodities, S for Services
                    freqCode="A",# (freqCode) A for annual and M for monthly
                    flowCode=flow,
                    reporterCode=reporterCode,
                    partnerCode=partnerCode,
                    partner2Code=None,
                    motCode=None,
                    customsCode=None,
                    clCode='HS',
                    cmdCode=cmdCode,
                    period=period,
                    includeDesc=True,
                    )
interesting_cols = [col for col in df.columns if len(df[col].unique())>1]
print(interesting_cols)
show_cols = cols_partner2 + list(set(interesting_cols)-set(cols_partner2))
result = df.sort_values(['partner2Code','flowCode'])[show_cols]

# print(result.to_markdown())
result

INFO:root:Calling getFinalData for period 2018
INFO:root:Using cached results for period 2018

['partner2Code', 'partner2ISO', 'partner2Desc', 'motCode', 'motDesc', 'isNetWgtEstimated', 'fobvalue', 'primaryValue']

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowDesc,primaryValue,cmdCode,qty,qtyUnitCode,qtyUnitAbbr,customsCode,motDesc,fobvalue,partner2ISO,motCode,isNetWgtEstimated
0,Portugal,Brazil,0,World,2018,Export,"1,083,984,874.36",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"1,083,984,874.36",W00,0,True
1,Portugal,Brazil,0,World,2018,Export,"52,669,113.05",TOTAL,0.00,-1,N/A,C00,Air,"52,669,113.05",W00,1000,True
2,Portugal,Brazil,0,World,2018,Export,"1,027,354,167.57",TOTAL,0.00,-1,N/A,C00,Sea,"1,027,354,167.57",W00,2100,True
3,Portugal,Brazil,0,World,2018,Export,"3,801,817.75",TOTAL,0.00,-1,N/A,C00,Road,"3,801,817.75",W00,3200,True
4,Portugal,Brazil,0,World,2018,Export,"159,776.00",TOTAL,0.00,-1,N/A,C00,"Postal consignments, mail or courier shipment","159,776.00",W00,9200,True
5,Portugal,Brazil,251,France,2018,Export,"56,538.91",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"56,538.91",FRA,0,False
6,Portugal,Brazil,251,France,2018,Export,"56,538.91",TOTAL,0.00,-1,N/A,C00,Air,"56,538.91",FRA,1000,False
7,Portugal,Brazil,276,Germany,2018,Export,"18,143.93",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"18,143.93",DEU,0,False
8,Portugal,Brazil,276,Germany,2018,Export,"16,982.24",TOTAL,0.00,-1,N/A,C00,Air,"16,982.24",DEU,1000,False
9,Portugal,Brazil,276,Germany,2018,Export,"1,161.69",TOTAL,0.00,-1,N/A,C00,Sea,"1,161.69",DEU,2100,False
10,Portugal,Brazil,300,Greece,2018,Export,"235,517.71",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"235,517.71",GRC,0,False
11,Portugal,Brazil,300,Greece,2018,Export,"235,517.71",TOTAL,0.00,-1,N/A,C00,Air,"235,517.71",GRC,1000,False
12,Portugal,Brazil,380,Italy,2018,Export,"50,945.52",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"50,945.52",ITA,0,False
13,Portugal,Brazil,380,Italy,2018,Export,"50,945.52",TOTAL,0.00,-1,N/A,C00,Air,"50,945.52",ITA,1000,False
14,Portugal,Brazil,528,Netherlands,2018,Export,"15,883.18",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"15,883.18",NLD,0,False
15,Portugal,Brazil,528,Netherlands,2018,Export,"15,883.18",TOTAL,0.00,-1,N/A,C00,Sea,"15,883.18",NLD,2100,False
16,Portugal,Brazil,642,Romania,2018,Export,"26,405.78",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"26,405.78",ROU,0,False
17,Portugal,Brazil,642,Romania,2018,Export,"26,405.78",TOTAL,0.00,-1,N/A,C00,Sea,"26,405.78",ROU,2100,False
18,Portugal,Brazil,724,Spain,2018,Export,"16,145,881.59",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"16,145,881.59",ESP,0,True
19,Portugal,Brazil,724,Spain,2018,Export,"3,550,776.12",TOTAL,0.00,-1,N/A,C00,Air,"3,550,776.12",ESP,1000,True
20,Portugal,Brazil,724,Spain,2018,Export,"12,595,105.47",TOTAL,0.00,-1,N/A,C00,Sea,"12,595,105.47",ESP,2100,False
21,Portugal,Brazil,826,United Kingdom,2018,Export,"1,626.13",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"1,626.13",GBR,0,False
22,Portugal,Brazil,826,United Kingdom,2018,Export,"1,626.13",TOTAL,0.00,-1,N/A,C00,Air,"1,626.13",GBR,1000,False
23,Portugal,Brazil,899,"Areas, nes",2018,Export,"1,067,433,931.61",TOTAL,0.00,-1,N/A,C00,TOTAL MOT,"1,067,433,931.61",_X,0,True
24,Portugal,Brazil,899,"Areas, nes",2018,Export,"48,756,726.41",TOTAL,0.00,-1,N/A,C00,Air,"48,756,726.41",_X,1000,True
25,Portugal,Brazil,899,"Areas, nes",2018,Export,"1,014,715,611.45",TOTAL,0.00,-1,N/A,C00,Sea,"1,014,715,611.45",_X,2100,True
26,Portugal,Brazil,899,"Areas, nes",2018,Export,"3,801,817.75",TOTAL,0.00,-1,N/A,C00,Road,"3,801,817.75",_X,3200,True
27,Portugal,Brazil,899,"Areas, nes",2018,Export,"159,776.00",TOTAL,0.00,-1,N/A,C00,"Postal consignments, mail or courier shipment","159,776.00",_X,9200,True

Note-se a duplicação de linhas para o mesmo terceto _reporterCode-partnerCode-partner2Code_

Essa duplicação deve-se a desdobramento `motCode` (_mode of transport_) e `partner2Code`. Se filtrarmos só por motCode == 0 
e partner2Code != 0 obtemos a lista de combinações reporter-partner-partner2 para todos os modos de tranporte, sem
valores agregados por partner.

In [27]:
result[(result.motCode==0)&(result.partner2Code != 0)][list(set(['refYear','reporterDesc','partnerDesc',]+interesting_cols))]

,partnerDesc,refYear,partner2Desc,primaryValue,partner2ISO,reporterDesc,partner2Code,motCode,motDesc,isNetWgtEstimated,fobvalue
5,Brazil,2018,France,"56,538.91",FRA,Portugal,251,0,TOTAL MOT,False,"56,538.91"
7,Brazil,2018,Germany,"18,143.93",DEU,Portugal,276,0,TOTAL MOT,False,"18,143.93"
10,Brazil,2018,Greece,"235,517.71",GRC,Portugal,300,0,TOTAL MOT,False,"235,517.71"
12,Brazil,2018,Italy,"50,945.52",ITA,Portugal,380,0,TOTAL MOT,False,"50,945.52"
14,Brazil,2018,Netherlands,"15,883.18",NLD,Portugal,528,0,TOTAL MOT,False,"15,883.18"
16,Brazil,2018,Romania,"26,405.78",ROU,Portugal,642,0,TOTAL MOT,False,"26,405.78"
18,Brazil,2018,Spain,"16,145,881.59",ESP,Portugal,724,0,TOTAL MOT,True,"16,145,881.59"
21,Brazil,2018,United Kingdom,"1,626.13",GBR,Portugal,826,0,TOTAL MOT,False,"1,626.13"
23,Brazil,2018,"Areas, nes","1,067,433,931.61",_X,Portugal,899,0,TOTAL MOT,True,"1,067,433,931.61"

Gravar em Excel (nome do ficheiro automaticamente reflecte o valor das variáveis relevantes)

In [31]:
import comtradetools

result.to_excel(f"./reports/partner2_{comtradetools.decode_country(reporterCode)}_{comtradetools.decode_country(partnerCode)}_{flow}_{period}.xlsx")

## Testes

In [34]:
import comtradetools

period = "2016" ## if freqCode M  use aaaamm
flow = "M,X"
cmdCode = 'TOTAL'
reporterCode = comtradetools.m49_portugal
partnerCode = comtradetools.m49_angola

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '${:,.2f}'.format

cols_partner2 = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear',
        'flowCode','qtyUnitCode','primaryValue','isAggregate']
cols_partner2_qty_weight = ['reporterDesc','partnerDesc','partner2Code','partner2Desc','refYear','cmdDesc',
        'flowCode','primaryValue',
        'qtyUnitCode','qty','isQtyEstimated','altQtyUnitCode', 'altQtyUnitAbbr', 'altQty', 'isAltQtyEstimated',
       'netWgt', 'isNetWgtEstimated', 'grossWgt', 'isGrossWgtEstimated',
        'motCode']


df = comtradetools.getFinalData(
        typeCode="C",# C for commodities, S for Services
        freqCode="A",# (freqCode) A for annual and M for monthly
        flowCode=flow,
        period=period,
        reporterCode=reporterCode,
        partnerCode=partnerCode,
        partner2Code=None,
        motCode=None,
        customsCode=None,
        clCode='HS',
        cmdCode=cmdCode,
        includeDesc=True
        )

interesting_cols = [col for col in df.columns if len(df[col].unique())>1]
print(interesting_cols)
show_cols = cols_partner2 +  list(set(interesting_cols)-set(cols_partner2))
result = df.sort_values(['partnerDesc','flowCode'])[show_cols]
result

INFO:root:Calling getFinalData for period 2016

['flowCode', 'flowDesc', 'partner2Code', 'partner2ISO', 'partner2Desc', 'motCode', 'motDesc', 'isNetWgtEstimated', 'cifvalue', 'fobvalue', 'primaryValue']

,reporterDesc,partnerDesc,partner2Code,partner2Desc,refYear,flowCode,qtyUnitCode,primaryValue,isAggregate,flowDesc,cifvalue,partner2ISO,motCode,motDesc,isNetWgtEstimated,fobvalue
0,Portugal,Angola,0,World,2016,M,-1,"$895,881,332.31",True,Import,"$895,881,332.31",W00,0,TOTAL MOT,True,NaN
2,Portugal,Angola,0,World,2016,M,-1,"$1,689,952.90",True,Import,"$1,689,952.90",W00,1000,Air,True,NaN
4,Portugal,Angola,0,World,2016,M,-1,"$894,117,557.93",True,Import,"$894,117,557.93",W00,2100,Sea,True,NaN
8,Portugal,Angola,0,World,2016,M,-1,"$1,080.88",True,Import,"$1,080.88",W00,9200,"Postal consignments, mail or courier shipment",False,NaN
10,Portugal,Angola,0,World,2016,M,-1,"$72,740.61",True,Import,"$72,740.61",W00,9300,Self propelled goods,False,NaN
12,Portugal,Angola,24,Angola,2016,M,-1,"$895,440,525.34",True,Import,"$895,440,525.34",AGO,0,TOTAL MOT,True,NaN
13,Portugal,Angola,24,Angola,2016,M,-1,"$1,689,952.90",True,Import,"$1,689,952.90",AGO,1000,Air,True,NaN
14,Portugal,Angola,24,Angola,2016,M,-1,"$893,676,750.96",True,Import,"$893,676,750.96",AGO,2100,Sea,True,NaN
15,Portugal,Angola,24,Angola,2016,M,-1,"$1,080.88",True,Import,"$1,080.88",AGO,9200,"Postal consignments, mail or courier shipment",False,NaN
16,Portugal,Angola,24,Angola,2016,M,-1,"$72,740.61",True,Import,"$72,740.61",AGO,9300,Self propelled goods,False,NaN
31,Portugal,Angola,446,"China, Macao SAR",2016,M,-1,"$25,895.66",True,Import,"$25,895.66",MAC,0,TOTAL MOT,False,NaN
32,Portugal,Angola,446,"China, Macao SAR",2016,M,-1,"$25,895.66",True,Import,"$25,895.66",MAC,2100,Sea,False,NaN
36,Portugal,Angola,516,Namibia,2016,M,-1,"$149,642.08",True,Import,"$149,642.08",NAM,0,TOTAL MOT,False,NaN
37,Portugal,Angola,516,Namibia,2016,M,-1,"$149,642.08",True,Import,"$149,642.08",NAM,2100,Sea,False,NaN
51,Portugal,Angola,784,United Arab Emirates,2016,M,-1,"$265,269.22",True,Import,"$265,269.22",ARE,0,TOTAL MOT,False,NaN
52,Portugal,Angola,784,United Arab Emirates,2016,M,-1,"$265,269.22",True,Import,"$265,269.22",ARE,2100,Sea,False,NaN
1,Portugal,Angola,0,World,2016,X,-1,"$1,661,634,876.01",True,Export,NaN,W00,0,TOTAL MOT,True,"$1,661,634,876.01"
3,Portugal,Angola,0,World,2016,X,-1,"$183,592,668.29",True,Export,NaN,W00,1000,Air,True,"$183,592,668.29"
5,Portugal,Angola,0,World,2016,X,-1,"$1,467,656,645.59",True,Export,NaN,W00,2100,Sea,True,"$1,467,656,645.59"
6,Portugal,Angola,0,World,2016,X,-1,"$24,380.52",True,Export,NaN,W00,3100,Railway,False,"$24,380.52"
7,Portugal,Angola,0,World,2016,X,-1,"$4,096,846.75",True,Export,NaN,W00,3200,Road,True,"$4,096,846.75"
9,Portugal,Angola,0,World,2016,X,-1,"$2,033,114.18",True,Export,NaN,W00,9200,"Postal consignments, mail or courier shipment",True,"$2,033,114.18"
11,Portugal,Angola,0,World,2016,X,-1,"$4,231,220.68",True,Export,NaN,W00,9300,Self propelled goods,False,"$4,231,220.68"
17,Portugal,Angola,40,Austria,2016,X,-1,"$118,407.96",True,Export,NaN,AUT,0,TOTAL MOT,False,"$118,407.96"
18,Portugal,Angola,40,Austria,2016,X,-1,"$118,407.96",True,Export,NaN,AUT,2100,Sea,False,"$118,407.96"
19,Portugal,Angola,56,Belgium,2016,X,-1,"$47,071.27",True,Export,NaN,BEL,0,TOTAL MOT,True,"$47,071.27"
20,Portugal,Angola,56,Belgium,2016,X,-1,"$14,465.42",True,Export,NaN,BEL,1000,Air,True,"$14,465.42"
21,Portugal,Angola,56,Belgium,2016,X,-1,"$32,605.85",True,Export,NaN,BEL,2100,Sea,False,"$32,605.85"
22,Portugal,Angola,208,Denmark,2016,X,-1,"$1,704.16",True,Export,NaN,DNK,0,TOTAL MOT,False,"$1,704.16"
23,Portugal,Angola,208,Denmark,2016,X,-1,"$1,704.16",True,Export,NaN,DNK,2100,Sea,False,"$1,704.16"
24,Portugal,Angola,251,France,2016,X,-1,"$77,544.70",True,Export,NaN,FRA,0,TOTAL MOT,False,"$77,544.70"
25,Portugal,Angola,251,France,2016,X,-1,"$77,544.70",True,Export,NaN,FRA,2100,Sea,False,"$77,544.70"
26,Portugal,Angola,276,Germany,2016,X,-1,"$354,239.02",True,Export,NaN,DEU,0,TOTAL MOT,False,"$354,239.02"
27,Portugal,Angola,276,Germany,2016,X,-1,"$354,239.02",True,Export,NaN,DEU,2100,Sea,False,"$354,239.02"
28,Portugal,Angola,380,Italy,2016,X,-1,"$2,713,237.92",True,Export,NaN,ITA,0,TOTAL MOT,False,"$2,713,237.92"
29,Portugal,Angola,380,Italy,2016,X,-1,"$174,550.00",True,Export,NaN,ITA,1000,Air,False,"$174,550.00"
30,Portugal,Angola,380,Italy,2016,X,-1,"$2,538,687.92",True,Export,NaN,ITA,2100,Sea,False,"$2,538,687.92"
33,Portugal,Angola,470,Malta,2016,X,-1,"$129,929.84",True,Export,NaN,MLT,0,TOTAL MOT,False,"$129,929.84"
34,Portugal,Angola,470,Malta,2016,X,-1,"$78,059.27",True,Export,NaN,MLT,1000,Air,False,"$78,059.27"
35,Portugal,Angola,470,Malta,2016,X,-1,"$51,870.57",True,Export,NaN,MLT,2100,Sea,False,"$51,870.57"
38,Portugal,Angola,528,Netherlands,2016,X,-1,"$1,249,792.63",True,Export,NaN,NLD,0,TOTAL MOT,True,"$1,249,792.63"
39,Portugal,Angola,528,Netherlands,2016,X,-1,"$44,023.70",True,Export,NaN,NLD,1000,Air,False,"$44,023.70"
40,Portugal,Angola,528,Netherlands,2016,X,-1,"$1,205,768.93",True,Export,NaN,NLD,2100,Sea,True,"$1,205,768.93"
41,Portugal,Angola,620,Portugal,2016,X,-1,"$1,639,927,292.82",True,Export,NaN,PRT,0,TOTAL MOT,True,"$1,639,927,292.82"
42,Portugal,Angola,620,Portugal,2016,X,-1,"$182,751,511.61",True,Export,NaN,PRT,1000,Air,True,"$182,751,511.61"
43,Portugal,Angola,620,Portugal,2016,X,-1,"$1,446,790,219.07",True,Export,NaN,PRT,2100,Sea,True,"$1,446,790,219.07"
44,Portugal,Angola,620,Portugal,2016,X,-1,"$24,380.52",True,Export,NaN,PRT,3100,Railway,False,"$24,380.52"
45,Portugal,Angola,620,Portugal,2016,X,-1,"$4,096,846.75",True,Export,NaN,PRT,3200,Road,True,"$4,096,846.75"
46,Portugal,Angola,620,Portugal,2016,X,-1,"$2,033,114.18",True,Export,NaN,PRT,9200,"Postal consignments, mail or courier shipment",True,"$2,033,114.18"
47,Portugal,Angola,620,Portugal,2016,X,-1,"$4,231,220.68",True,Export,NaN,PRT,9300,Self propelled goods,False,"$4,231,220.68"
48,Portugal,Angola,724,Spain,2016,X,-1,"$16,399,166.73",True,Export,NaN,ESP,0,TOTAL MOT,True,"$16,399,166.73"
49,Portugal,Angola,724,Spain,2016,X,-1,"$530,058.29",True,Export,NaN,ESP,1000,Air,True,"$530,058.29"
50,Portugal,Angola,724,Spain,2016,X,-1,"$15,869,108.44",True,Export,NaN,ESP,2100,Sea,True,"$15,869,108.44"
53,Portugal,Angola,826,United Kingdom,2016,X,-1,"$616,488.95",True,Export,NaN,GBR,0,TOTAL MOT,False,"$616,488.95"
54,Portugal,Angola,826,United Kingdom,2016,X,-1,"$616,488.95",True,Export,NaN,GBR,2100,Sea,False,"$616,488.95"