# Perfil de comércio

## Setup

### Criar directorias de apoio

In [1]:
from pathlib import Path

Path('support').mkdir(parents=True, exist_ok=True)
Path('reports').mkdir(parents=True, exist_ok=True)

### Criar ficheiro de configuração se não existir

O ficheiro de configuração serve para armazenar
a APIKEY que dá acesso a mais de 500 linhas de
resultados.

In [2]:
import os

fname = 'config.ini'
content = """
# Ficheiro de configuração
[comtrade]
# Add API Key. DO NOT SHARE
key = 
"""
if not os.path.isfile(fname):
  print("Criando ficheiro de configuração")
  with open(fname,'w') as f:
    f.write(content)

### Obter uma chave de acesso à API

Para aceder à UN Comtrade via API sem limites é necessário uma chave de acesso,
de outro modo os resultados são limitados a 500 linhas.

Para obter a chave de acsso:
* Registo em https://comtradedeveloper.un.org/
* Ir para _Products_ 
* Selecionar "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Escolher _Subscribe to "comtrade - v1"_  
* Esperar pelo email com a chave da API key (demora alguns dias)
* Copiar a chave para o local indicado no ficheiro `config.ini` antes
  de executar o resto do notebook.

### Inicializar a API e transferir os códigos usados

In [3]:
import os
import configparser
import comtrade

if os.path.isfile(fname):

    config = configparser.ConfigParser()
    config.read('config.ini')
    # get API Key or set to None    
    APIKEY = config['comtrade'].get('key', None)

comtrade.init(APIKEY, force_init=True)
comtrade.CALL_PER_PERIOD=12  # Period default is 60 seconds

contrade.py initialized

# Trade profile

Choose country and years of interest

In [4]:
country_of_interest = comtrade.m49_angola
country_of_interest_desc = comtrade.COUNTRY_CODES[country_of_interest]
years_of_interest = comtrade.year_range(2020, 2021)   
print(country_of_interest_desc, years_of_interest)

Angola 2020,2021

## Global comercial balance

In [5]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format


global_trade = comtrade.get_global_stats(country_of_interest, years=years_of_interest,
                                         exports_from_word_imports=True)

In [6]:
cols = ['refYear','flowDesc','countryDesc','reporterDesc','primaryValue']
global_trade[cols]

   refYear flowDesc countryDesc reporterDesc      primaryValue
0     2020  Imports      Angola       Angola  9,337,925,708.64
0     2020  Exports      Angola        World 24,009,441,917.40
1     2021  Imports      Angola       Angola 11,378,927,920.70
1     2021  Exports      Angola        World 33,477,533,120.02

In [7]:
import pandas as pd

trade_balance = pd.pivot_table(global_trade, index=['refYear','countryDesc',],columns='flowDesc', values='primaryValue').fillna(0)
trade_balance['trade_balance'] = trade_balance['Exports'] - trade_balance['Imports']
trade_balance.reset_index()

flowDesc,refYear,countryDesc,Exports,Imports,trade_balance
0,2020,Angola,"24,009,441,917.40","9,337,925,708.64","14,671,516,208.76"
1,2021,Angola,"33,477,533,120.02","11,378,927,920.70","22,098,605,199.32"

## Exportações: Destinos

Usamos as importações declaradas pelos parceiros para obter as
exportações do país de interesse.

In [8]:
show_only_top=5
years_of_interest = comtrade.year_range(2011, 2021)

# we do not specificy reporterCode, so we get all countries to report imports from country_of_interest
top_partners = comtrade.top_partners(reporterCode=None,
                                     partnerCode=country_of_interest,
                                     years=years_of_interest,
                                     flowCode='M', 
                                     rank_filter=show_only_top)

/workspaces/cipf-comtrade/comtrade.py:370: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")

In [9]:
import pandas as pd

pd.options.display.float_format='{:,.2f}'.format

cols=['reporterDesc','refYear','flowDesc','partnerDesc','rank_reporter','primaryValue', 'perc_year_flow']
top_partners[top_partners.rank_reporter<=show_only_top].sort_values(by=['refYear','flowDesc','primaryValue'], ascending=[True,True,False])[cols]

,reporterDesc,refYear,flowDesc,partnerDesc,rank_reporter,primaryValue,perc_year_flow
23,China,2011,Import,Angola,1,"24,922,180,492.00",0.38
170,United States of America,2011,Import,Angola,2,"13,833,012,040.00",0.21
117,India,2011,Import,Angola,3,"6,005,484,849.00",0.09
87,"Asia, not elsewhere specified",2011,Import,Angola,4,"5,665,315,729.00",0.09
20,Canada,2011,Import,Angola,5,"2,469,608,910.00",0.04
195,China,2012,Import,Angola,1,"33,561,896,917.00",0.44
330,United States of America,2012,Import,Angola,2,"10,030,264,550.00",0.13
278,India,2012,Import,Angola,3,"8,020,442,181.00",0.11
248,"Asia, not elsewhere specified",2012,Import,Angola,4,"5,004,958,562.00",0.07
282,South Africa,2012,Import,Angola,5,"2,802,783,009.10",0.04
356,China,2013,Import,Angola,1,"31,972,669,347.00",0.44
519,United States of America,2013,Import,Angola,2,"8,922,894,861.00",0.12
450,India,2013,Import,Angola,3,"6,798,300,153.00",0.09
419,"Asia, not elsewhere specified",2013,Import,Angola,4,"3,855,306,649.00",0.05
433,Portugal,2013,Import,Angola,5,"3,495,088,409.00",0.05
556,China,2014,Import,Angola,1,"31,106,015,046.00",0.48
735,United States of America,2014,Import,Angola,2,"5,837,752,018.00",0.09
665,India,2014,Import,Angola,3,"5,641,667,702.00",0.09
689,Spain,2014,Import,Angola,4,"3,616,693,014.01",0.06
636,"Asia, not elsewhere specified",2014,Import,Angola,5,"2,955,558,824.00",0.05
776,China,2015,Import,Angola,1,"16,001,611,383.00",0.43
966,India,2015,Import,Angola,2,"3,169,598,580.00",0.09
1038,United States of America,2015,Import,Angola,3,"2,917,054,295.00",0.08
986,Spain,2015,Import,Angola,4,"2,241,044,685.06",0.06
833,France and Monaco,2015,Import,Angola,5,"1,610,479,858.00",0.04
1089,China,2016,Import,Angola,1,"13,966,117,080.00",0.49
1391,United States of America,2016,Import,Angola,2,"2,976,766,381.00",0.11
1300,India,2016,Import,Angola,3,"2,001,936,255.00",0.07
1240,"Asia, not elsewhere specified",2016,Import,Angola,4,"1,312,764,415.00",0.05
1305,South Africa,2016,Import,Angola,5,"1,277,795,554.60",0.05
1460,China,2017,Import,Angola,1,"20,698,709,467.00",0.56
1792,India,2017,Import,Angola,2,"4,118,279,131.90",0.11
1876,United States of America,2017,Import,Angola,3,"2,686,493,698.00",0.07
1678,"Asia, not elsewhere specified",2017,Import,Angola,4,"1,479,442,599.65",0.04
1797,South Africa,2017,Import,Angola,5,"1,340,980,393.36",0.04
1975,China,2018,Import,Angola,1,"25,826,510,355.00",0.58
2272,India,2018,Import,Angola,2,"4,337,925,217.50",0.10
2363,United States of America,2018,Import,Angola,3,"2,768,924,982.00",0.06
2336,United Arab Emirates,2018,Import,Angola,4,"1,569,493,453.56",0.04
2301,Spain,2018,Import,Angola,5,"1,425,408,792.80",0.03
2430,China,2019,Import,Angola,1,"23,837,402,142.00",0.63
2701,India,2019,Import,Angola,2,"3,799,563,165.19",0.10
2757,United Arab Emirates,2019,Import,Angola,3,"1,294,307,774.80",0.03
2645,Portugal,2019,Import,Angola,4,"1,204,116,161.11",0.03
2717,Spain,2019,Import,Angola,5,"1,073,792,688.36",0.03
2864,China,2020,Import,Angola,1,"14,757,730,338.00",0.61
3095,India,2020,Import,Angola,2,"2,022,432,688.74",0.08
3146,Thailand,2020,Import,Angola,3,"1,258,209,112.04",0.05
3148,United Arab Emirates,2020,Import,Angola,4,"1,018,255,600.93",0.04
3120,Spain,2020,Import,Angola,5,"626,580,515.28",0.03
3250,China,2021,Import,Angola,1,"20,908,231,317.00",0.62
3545,India,2021,Import,Angola,2,"2,315,947,568.41",0.07
3609,United Arab Emirates,2021,Import,Angola,3,"1,685,701,656.52",0.05
3606,Thailand,2021,Import,Angola,4,"1,607,756,231.51",0.05
3634,United States of America,2021,Import,Angola,5,"1,089,250,402.00",0.03

In [10]:
top_export_destinations = top_partners[top_partners.rank_reporter<=show_only_top]['reporterDesc'].unique()
top_export_destinations

array(['China', 'United States of America', 'India',
       'Asia, not elsewhere specified', 'Canada', 'South Africa',
       'Portugal', 'Spain', 'France and Monaco', 'United Arab Emirates',
       'Thailand'], dtype=object)

Passamos os países para colunas, mantendo a percentagem e o valor em separado.

In [11]:
pivoted = top_partners.pivot_table(index=['refYear','flowDesc'], columns='reporterDesc', values=['primaryValue','perc_year_flow'])
pivoted.swaplevel(axis=1).fillna('',inplace=True)
pivoted.sort_index(axis=1, level=0, inplace=True)
pivoted.fillna(0)

                 perc_year_flow                                               \
reporterDesc            Albania Algeria Angola Antigua and Barbuda Argentina
refYear flowDesc
2011    Import             0.00    0.00   0.00                0.00      0.00
2012    Import             0.00    0.00   0.00                0.00      0.00
2013    Import             0.00    0.00   0.00                0.00      0.00
2014    Import             0.00    0.00   0.00                0.00      0.00
2015    Import             0.00    0.00   0.00                0.00      0.00
2016    Import             0.00    0.00   0.00                0.00      0.00
2017    Import             0.00    0.00   0.00                0.00      0.00
2018    Import             0.00    0.00   0.00                0.00      0.00
2019    Import             0.00    0.00   0.00                0.00      0.00
2020    Import             0.00    0.00   0.00                0.00      0.00
2021    Import             0.00    0.00   0.00                0.00      0.00

                                                                          \
reporterDesc     Armenia Asia, not elsewhere specified Australia Austria
refYear flowDesc
2011    Import      0.00                          0.09      0.00    0.00
2012    Import      0.00                          0.07      0.00    0.00
2013    Import      0.00                          0.05      0.00    0.00
2014    Import      0.00                          0.05      0.00    0.00
2015    Import      0.00                          0.04      0.00    0.00
2016    Import      0.00                          0.05      0.00    0.00
2017    Import      0.00                          0.04      0.00    0.00
2018    Import      0.00                          0.01      0.00    0.00
2019    Import      0.00                          0.01      0.00    0.00
2020    Import      0.00                          0.02      0.00    0.00
2021    Import      0.00                          0.01      0.00    0.00

                             ... primaryValue                       \
reporterDesc     Azerbaijan  ...      Ukraine United Arab Emirates
refYear flowDesc             ...
2011    Import         0.00  ...   146,120.00       301,582,058.00
2012    Import         0.00  ...   764,720.00     1,234,968,772.00
2013    Import         0.00  ...    63,422.00       757,063,814.73
2014    Import         0.00  ...    11,069.00       812,542,196.16
2015    Import         0.00  ...    50,320.00     1,056,613,911.80
2016    Import         0.00  ...   299,907.11       956,305,699.01
2017    Import         0.00  ...    72,378.45     1,200,168,189.47
2018    Import         0.00  ...    20,096.32     1,569,493,453.56
2019    Import         0.00  ...   251,112.36     1,294,307,774.80
2020    Import         0.00  ...    35,298.67     1,018,255,600.93
2021    Import         0.00  ...     1,389.42     1,685,701,656.52

                                                                           \
reporterDesc       United Kingdom United States of America        Uruguay
refYear flowDesc
2011    Import     437,170,828.00        13,833,012,040.00          16.00
2012    Import   1,261,394,647.00        10,030,264,550.00           0.00
2013    Import     994,286,997.00         8,922,894,861.00 315,549,401.00
2014    Import     650,319,421.00         5,837,752,018.00 217,485,863.00
2015    Import   1,006,251,202.00         2,917,054,295.00       1,019.00
2016    Import     369,342,914.00         2,976,766,381.00 226,117,355.00
2017    Import      71,778,081.35         2,686,493,698.00           0.00
2018    Import      83,063,568.65         2,768,924,982.00 363,283,051.00
2019    Import      17,811,494.08           984,169,471.00 429,270,279.00
2020    Import       1,979,755.60           497,345,885.00 213,330,946.83
2021    Import       7,990,634.18         1,089,250,402.00 292,943,215.91


reporterDesc        Venezuela       Vietnam    Yemen       Zambia   Zimbabwe
refYear flowDesc
2011    Import   1,852,323.00  5,316,077.00 2,901.00     5,937.00     956.75
2012    Import   1,947,136.00  9,617,132.00     0.00    82,355.00  26,699.35
2013    Import     242,598.00 13,846,936.00     0.00   276,609.70   4,776.01
2014    Import           0.00 34,887,124.00     0.00   141,334.58  61,920.53
2015    Import           0.00  2,215,261.00     0.00   397,746.84  36,364.56
2016    Import           0.00 12,212,363.05     0.00 1,422,038.29  54,450.15
2017    Import           0.00 30,879,228.40     0.00   263,486.62 283,340.92
2018    Import           0.00 21,929,392.20     0.00    97,372.92 165,619.05
2019    Import           0.00 44,032,254.79 9,463.43   226,170.11  40,210.22
2020    Import           0.00  9,066,304.05     0.00   211,208.91       0.00
2021    Import           0.00 37,924,016.16     0.00   396,117.44     240.94

[11 rows x 318 columns]

In [12]:
show_only_columns = [(l1, country) for l1,country in pivoted.columns.tolist() if country in top_export_destinations]
pivoted[show_only_columns]

                                perc_year_flow                                 \
reporterDesc     Asia, not elsewhere specified Canada China France and Monaco
refYear flowDesc
2011    Import                            0.09   0.04  0.38              0.03
2012    Import                            0.07   0.03  0.44              0.02
2013    Import                            0.05   0.02  0.44              0.02
2014    Import                            0.05   0.02  0.48              0.03
2015    Import                            0.04   0.01  0.43              0.04
2016    Import                            0.05   0.00  0.49              0.04
2017    Import                            0.04   0.00  0.56              0.01
2018    Import                            0.01   0.00  0.58              0.01
2019    Import                            0.01   0.00  0.63              0.01
2020    Import                            0.02   0.00  0.61              0.02
2021    Import                            0.01   0.00  0.62              0.01

                                                             \
reporterDesc     India Portugal South Africa Spain Thailand
refYear flowDesc
2011    Import    0.09     0.02         0.02  0.01     0.00
2012    Import    0.11     0.03         0.04  0.02     0.00
2013    Import    0.09     0.05         0.03  0.04     0.00
2014    Import    0.09     0.03         0.03  0.06     0.00
2015    Import    0.09     0.03         0.04  0.06     0.00
2016    Import    0.07     0.03         0.05  0.03     0.01
2017    Import    0.11     0.01         0.04  0.03     0.01
2018    Import    0.10     0.03         0.03  0.03     0.02
2019    Import    0.10     0.03         0.02  0.03     0.02
2020    Import    0.08     0.02         0.00  0.03     0.05
2021    Import    0.07     0.00         0.01  0.02     0.05

                                       ...     primaryValue                    \
reporterDesc     United Arab Emirates  ...           Canada             China
refYear flowDesc                       ...
2011    Import                   0.00  ... 2,469,608,910.00 24,922,180,492.00
2012    Import                   0.02  ... 1,930,696,671.00 33,561,896,917.00
2013    Import                   0.01  ... 1,507,292,514.00 31,972,669,347.00
2014    Import                   0.01  ... 1,066,114,772.00 31,106,015,046.00
2015    Import                   0.03  ...   520,271,665.00 16,001,611,383.00
2016    Import                   0.03  ...     2,769,158.00 13,966,117,080.00
2017    Import                   0.03  ...   130,579,986.12 20,698,709,467.00
2018    Import                   0.04  ...       537,486.66 25,826,510,355.00
2019    Import                   0.03  ...    21,182,570.32 23,837,402,142.00
2020    Import                   0.04  ...        38,576.52 14,757,730,338.00
2021    Import                   0.05  ...       316,555.00 20,908,231,317.00

                                                                      \
reporterDesc     France and Monaco            India         Portugal
refYear flowDesc
2011    Import    1,825,704,019.00 6,005,484,849.00 1,639,710,523.00
2012    Import    1,199,927,582.00 8,020,442,181.00 2,290,610,271.00
2013    Import    1,225,880,863.00 6,798,300,153.00 3,495,088,409.00
2014    Import    2,079,376,220.00 5,641,667,702.00 2,132,511,992.00
2015    Import    1,610,479,858.00 3,169,598,580.00 1,266,536,955.09
2016    Import    1,029,963,745.00 2,001,936,255.00   895,881,332.31
2017    Import      370,588,475.79 4,118,279,131.90   315,119,621.26
2018    Import      600,213,206.89 4,337,925,217.50 1,173,908,104.09
2019    Import      509,673,910.45 3,799,563,165.19 1,204,116,161.11
2020    Import      498,016,078.52 2,022,432,688.74   444,757,098.52
2021    Import      232,767,839.46 2,315,947,568.41    95,324,574.46

                                                                     \
reporterDesc         South Africa            Spain         Thailand
refYear flowDesc
2011    Import   1,586,176,196.93   587,380,397.71       457,444.00
2012    Import   2,802,783,009.10 1,424,748,647.92   331,977,802.00
2013    Import   1,958,574,119.85 2,883,313,128.47   191,020,618.00
2014    Import   2,011,018,978.76 3,616,693,014.01   323,120,227.00
2015    Import   1,344,214,553.60 2,241,044,685.06   155,730,405.62
2016    Import   1,277,795,554.60   910,706,245.08   165,395,944.81
2017    Import   1,340,980,393.36 1,070,297,304.75   291,055,199.17
2018    Import   1,282,900,382.26 1,425,408,792.80   927,552,289.65
2019    Import     563,803,802.43 1,073,792,688.36   613,567,262.42
2020    Import      60,149,788.46   626,580,515.28 1,258,209,112.04
2021    Import     361,852,131.43   739,484,782.77 1,607,756,231.51


reporterDesc     United Arab Emirates United States of America
refYear flowDesc
2011    Import         301,582,058.00        13,833,012,040.00
2012    Import       1,234,968,772.00        10,030,264,550.00
2013    Import         757,063,814.73         8,922,894,861.00
2014    Import         812,542,196.16         5,837,752,018.00
2015    Import       1,056,613,911.80         2,917,054,295.00
2016    Import         956,305,699.01         2,976,766,381.00
2017    Import       1,200,168,189.47         2,686,493,698.00
2018    Import       1,569,493,453.56         2,768,924,982.00
2019    Import       1,294,307,774.80           984,169,471.00
2020    Import       1,018,255,600.93           497,345,885.00
2021    Import       1,685,701,656.52         1,089,250,402.00

[11 rows x 22 columns]

## Export as Excel

In [13]:
# export as Excel file
pivoted.to_excel(f'{country_of_interest_desc}_exports_destinations.xlsx')

In [15]:
pivoted[show_only_columns].to_excel(f'{country_of_interest_desc}_export_top_{show_only_top}_countries.xlsx')

Verificar cálculo das percentagens

In [ ]:
top_partners['perc_year_flow'].sum() / len(top_partners['refYear'].unique())

1.0

# Exportações: produtos

## Principais produtos exportados

In [16]:
show_only_top=5
years_of_interest = comtrade.year_range(2011, 2021)  
export_products = comtrade.top_commodities(reporterCode=None,
                                               partnerCode=country_of_interest,
                                               years=years_of_interest, 
                                               cmdCode='AG2',
                                               flowCode='M',  # exports from partners imports
                                           motCode=0,
                                           rank_filter=show_only_top)
print("Aggregate per product type, ordered by year, product, descreasing value")
export_products.groupby(['refYear','flowDesc','cmdCode','cmdDesc'])['primaryValue'].sum().sort_values(ascending=False).head(30)

Aggregate per product type, ordered by year, product, descreasing value

/workspaces/cipf-comtrade/comtrade.py:370: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")

refYear  flowDesc  cmdCode  cmdDesc
2012     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          71,122,194,738.19
2013     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          68,806,744,671.76
2011     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          64,243,246,424.07
2014     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          62,749,952,891.12
2018     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          41,004,276,582.51
2019     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          35,214,688,918.68
2015     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          34,613,923,902.28
2017     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          33,410,091,819.72
2021     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          30,623,115,913.29
2016     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          25,972,696,547.81
2020     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes                                                          22,333,815,486.97
2018     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    2,517,400,800.81
2017     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    2,501,212,423.79
2021     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    2,480,934,828.55
2012     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    2,066,670,814.27
2013     Import    89       Ships, boats and floating structures                                                                                                                           1,856,687,294.83
2016     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    1,843,113,591.17
2015     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    1,840,964,781.38
2012     Import    89       Ships, boats and floating structures                                                                                                                           1,839,336,587.12
2019     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    1,782,837,811.37
2014     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    1,615,817,020.96
2020     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    1,411,461,141.74
2013     Import    71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin    1,341,666,987.37
2011     Import    89       Ships, boats and floating structures                                                                                                                             837,916,539.00
                   71       Natural, cultured pearls; precious, semi-precious stones; precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin      797,133,578.00
2017     Import    89       Ships, boats and floating structures                                                                                                                             301,915,176.32
2018     Import    03       Fish and crustaceans, molluscs and other aquatic invertebrates                                                                                                   176,457,070.04
2016     Import    84       Machinery and mechanical appliances, boilers, nuclear reactors; parts thereof                                                                                    166,995,573.55
2018     Import    89       Ships, boats and floating structures                                                                                                                             140,094,275.10
2019     Import    89       Ships, boats and floating structures                                                                                                                             133,731,934.84
Name: primaryValue, dtype: float64

In [21]:
pd.set_option('display.max_columns',504)

cols=['refYear','partnerDesc','rank_cmd_partner','perc_partner_for_cmd','primaryValue']
cumulative_suppliers = None
for index,row in export_products[export_products['reporterDesc'].isin(top_export_destinations)].sort_values(['reporterDesc','refYear','cmdCode']).iterrows():
    print(row['refYear'],row['reporterDesc'],row['reporterCode'], f"{row['primaryValue']}",row['cmdCode'],row['cmdDesc'][:32])
    # try to get the importance of the country of interest for the partner in a given product
    suppliers = comtrade.top_partners(reporterCode=row['reporterCode'],
                                      years=row['refYear'],
                                      cmdCode=row['cmdCode'],
                                      flowCode='M',
                                      rank_filter=100)
    if cumulative_suppliers is None:
        cumulative_suppliers=suppliers
    else:
        cumulative_suppliers=pd.concat([cumulative_suppliers,suppliers])
    print(suppliers[suppliers['partnerCode']==country_of_interest][cols].sort_values('primaryValue', ascending=False))

2011 Asia, not elsewhere specified 490 1012777.0 25 Salt; sulphur; earths, stone; pl

   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  primaryValue
1     2011      Angola                36                  0.00  1,012,777.00
2011 Asia, not elsewhere specified 490 5663791367.0 27 Mineral fuels, mineral oils and
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  \
1     2011      Angola                 3                  0.09

      primaryValue
1 5,663,791,367.00
2011 Asia, not elsewhere specified 490 212988.0 72 Iron and steel
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  primaryValue
2     2011      Angola                93                  0.00    212,988.00
2011 Asia, not elsewhere specified 490 265759.0 74 Copper and articles thereof
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  primaryValue
3     2011      Angola                83                  0.00    265,759.00
2011 Asia, not elsewhere specified 490 611.0 99 Commodities not specified accord
Empty DataFrame
Columns: [refYear, partnerDesc, rank_cmd_partner, perc_partner_for_cmd, primaryValue]
Index: []
2012 Asia, not elsewhere specified 490 2359780.0 25 Salt; sulphur; earths, stone; pl
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  primaryValue
0     2012      Angola                26                  0.00  2,359,780.00
2012 Asia, not elsewhere specified 490 5002293434.0 27 Mineral fuels, mineral oils and
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  \
0     2012      Angola                 5                  0.07

      primaryValue
0 5,002,293,434.00
2012 Asia, not elsewhere specified 490 305348.0 74 Copper and articles thereof
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  primaryValue
0     2012      Angola                74                  0.00    305,348.00
2013 Asia, not elsewhere specified 490 3953710.0 25 Salt; sulphur; earths, stone; pl
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  primaryValue
1     2013      Angola                24                  0.00  3,953,710.00
2013 Asia, not elsewhere specified 490 3851163464.0 27 Mineral fuels, mineral oils and
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  \
1     2013      Angola                 6                  0.06

      primaryValue
1 3,851,163,464.00
2013 Asia, not elsewhere specified 490 174055.0 74 Copper and articles thereof
   refYear partnerDesc  rank_cmd_partner  perc_partner_for_cmd  primaryValue
1     2013      Angola                86                  0.00    174,055.00
2013 Asia, not elsewhere specified 490 12800.0 84 Machinery and mechanical applian
Empty DataFrame
Columns: [refYear, partnerDesc, rank_cmd_partner, perc_partner_for_cmd, primaryValue]
Index: []
2013 Asia, not elsewhere specified 490 1915.0 99 Commodities not specified accord
Empty DataFrame
Columns: [refYear, partnerDesc, rank_cmd_partner, perc_partner_for_cmd, primaryValue]
Index: []
2014 Asia, not elsewhere specified 490 2448643.0 23 Food industries, residues and wa

In [ ]:
cumulative_suppliers.info()

NameError: name 'cumulative_suppliers' is not defined

In [ ]:
suppliers =  comtrade.export_products = comtrade.top_commodities(reporterCode=None,
                                               partnerCode=country_of_interest,
                                               years=years_of_interest, 
                                               cmdCode='AG2',
                                               flowCode='M',  # exports from partners imports
                                           motCode=0,
                                           rank_filter=show_only_top)

KeyboardInterrupt:

In [ ]:
import pandas as pd

pd.options.display.float_format='{:,.2f}'.format
pd.options.display.max_rows = 1000

cols = ['refYear','flowDesc','cmdDesc','cmdCode','reporterDesc', 'rank_cmd','primaryValue',
        comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD,'perc_year_flow']
export_products[export_products['reporterDesc'].isin(top_export_destinations)].sort_values(['refYear','primaryValue'],ascending=[True, False])[cols]

,refYear,flowDesc,cmdDesc,cmdCode,reporterDesc,rank_cmd,primaryValue,perc_cmd_for_partner,perc_partner_for_cmd,perc_year_flow
195,2020,Import,"Mineral fuels, mineral oils and products of th...",27,China,1,"14,686,950,196.00",0.61,0.66,0.61
2319,2020,Import,"Mineral fuels, mineral oils and products of th...",27,India,1,"2,005,413,125.03",0.08,0.09,0.08
2640,2020,Import,"Mineral fuels, mineral oils and products of th...",27,Thailand,1,"1,250,575,334.49",0.05,0.06,0.05
2680,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,United Arab Emirates,1,"1,015,602,701.83",0.04,0.72,0.04
2503,2020,Import,"Mineral fuels, mineral oils and products of th...",27,Spain,1,"604,026,342.70",0.03,0.03,0.03
1275,2020,Import,"Mineral fuels, mineral oils and products of th...",27,"Asia, not elsewhere specified",1,"496,824,439.89",0.02,0.02,0.02
710,2020,Import,"Mineral fuels, mineral oils and products of th...",27,France and Monaco,1,"495,407,183.67",0.02,0.02,0.02
2775,2020,Import,"Mineral fuels, mineral oils and products of th...",27,United States of America,1,"482,834,261.00",0.02,0.02,0.02
1282,2020,Import,"Mineral fuels, mineral oils and products of th...",27,Portugal,1,"424,369,024.42",0.02,0.02,0.02
2321,2020,Import,"Mineral fuels, mineral oils and products of th...",27,South Africa,1,"35,607,163.15",0.00,0.00,0.00
187,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,China,3,"29,428,961.00",0.00,0.57,0.00
2398,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,South Africa,2,"21,913,628.22",0.00,0.02,0.00
310,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,China,2,"20,014,740.00",0.00,0.01,0.00
2491,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,Spain,3,"16,048,143.29",0.00,0.44,0.00
328,2020,Import,Copper and articles thereof,74,China,4,"9,938,185.00",0.00,0.54,0.00
2396,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,India,2,"9,233,967.68",0.00,0.01,0.00
1169,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,Portugal,4,"6,480,122.22",0.00,0.18,0.00
2817,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,United States of America,2,"6,246,035.00",0.00,0.00,0.00
2499,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Spain,2,"4,994,805.85",0.00,0.10,0.00
243,2020,Import,Wood and articles of wood; wood charcoal,44,China,5,"2,766,881.00",0.00,0.16,0.00
2823,2020,Import,Iron or steel articles,73,United States of America,5,"2,317,987.00",0.00,0.28,0.00
2409,2020,Import,Copper and articles thereof,74,India,5,"1,841,843.40",0.00,0.10,0.00
2841,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,United States of America,3,"1,443,094.00",0.00,0.05,0.00
2687,2020,Import,Copper and articles thereof,74,Thailand,5,"1,184,276.52",0.00,0.06,0.00
1265,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,"Asia, not elsewhere specified",2,"1,171,947.39",0.00,0.02,0.00
1268,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Portugal,3,"1,091,998.77",0.00,0.02,0.00
1681,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Portugal,5,"1,004,517.98",0.00,0.04,0.00
2423,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,India,4,"896,251.69",0.00,0.03,0.00
731,2020,Import,Wood and articles of wood; wood charcoal,44,France and Monaco,5,"872,127.94",0.00,0.05,0.00
2633,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,Thailand,3,"730,328.60",0.00,0.02,0.00
2688,2020,Import,Copper and articles thereof,74,United Arab Emirates,4,"717,063.80",0.00,0.04,0.00
2426,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,South Africa,5,"630,334.19",0.00,0.02,0.00
2312,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,India,3,"580,385.43",0.00,0.01,0.00
2679,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,Thailand,2,"436,854.90",0.00,0.00,0.00
2513,2020,Import,Wood and articles of wood; wood charcoal,44,Spain,5,"314,823.94",0.00,0.02,0.00
777,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,France and Monaco,4,"259,299.30",0.00,0.01,0.00
1594,2020,Import,Iron and steel,72,"Asia, not elsewhere specified",5,"252,436.18",0.00,0.02,0.00
1630,2020,Import,Aluminium and articles thereof,76,"Asia, not elsewhere specified",4,"223,968.24",0.00,0.01,0.00
1165,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,"Asia, not elsewhere specified",3,"194,684.01",0.00,0.01,0.00
2651,2020,Import,Wood and articles of wood; wood charcoal,44,United Arab Emirates,5,"175,673.64",0.00,0.01,0.00
1587,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,Portugal,2,"137,697.44",0.00,0.00,0.00
2701,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,United Arab Emirates,3,"68,976.01",0.00,0.00,0.00
2536,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Spain,4,"38,293.36",0.00,0.00,0.00
2794,2020,Import,Wood and articles of wood; wood charcoal,44,United States of America,4,"23,441.00",0.00,0.00,0.00
318,2020,Import,Iron or steel articles,73,Canada,3,"22,650.67",0.00,0.00,0.00
2287,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,South Africa,4,"18,159.60",0.00,0.00,0.00
708,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,France and Monaco,3,"14,171.73",0.00,0.00,0.00
2639,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,United Arab Emirates,2,"12,795.51",0.00,0.00,0.00
309,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,Canada,1,"7,734.39",0.00,0.00,0.00
2699,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Thailand,4,"1,026.20",0.00,0.00,0.00
401,2020,Import,"Optical, photographic, cinematographic, measur...",90,Canada,5,165.53,0.00,0.00,0.00
762,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,France and Monaco,2,131.51,0.00,0.00,0.00
352,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Canada,2,19.39,0.00,0.00,0.00
429,2020,Import,Commodities not specified according to kind,99,Canada,4,19.39,0.00,0.00,0.00
2314,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,South Africa,3,3.06,0.00,0.00,0.00
3161,2021,Import,"Mineral fuels, mineral oils and products of th...",27,China,1,"20,823,873,963.00",0.62,0.68,0.62
5737,2021,Import,"Mineral fuels, mineral oils and products of th...",27,India,1,"2,228,646,495.86",0.07,0.07,0.07
6162,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,United Arab Emirates,2,"1,683,143,880.92",0.05,0.68,0.05
6094,2021,Import,"Mineral fuels, mineral oils and products of th...",27,Thailand,1,"1,601,551,152.15",0.05,0.05,0.05
6268,2021,Import,"Mineral fuels, mineral oils and products of th...",27,United States of America,1,"1,033,920,550.00",0.03,0.03,0.03
5933,2021,Import,"Mineral fuels, mineral oils and products of th...",27,Spain,1,"711,309,201.82",0.02,0.02,0.02
5740,2021,Import,"Mineral fuels, mineral oils and products of th...",27,South Africa,1,"341,861,765.06",0.01,0.01,0.01
4293,2021,Import,"Mineral fuels, mineral oils and products of th...",27,"Asia, not elsewhere specified",1,"282,483,732.43",0.01,0.01,0.01
3591,2021,Import,"Mineral fuels, mineral oils and products of th...",27,France and Monaco,1,"229,374,157.75",0.01,0.01,0.01
5823,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,India,2,"83,029,026.56",0.00,0.03,0.00
4302,2021,Import,"Mineral fuels, mineral oils and products of th...",27,Portugal,1,"64,275,097.24",0.00,0.00,0.00
6327,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,United States of America,2,"46,541,500.00",0.00,0.02,0.00
3153,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,China,3,"30,420,529.00",0.00,0.49,0.00
5920,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Spain,3,"19,428,161.98",0.00,0.54,0.00
5826,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,South Africa,2,"17,136,171.27",0.00,0.01,0.00
5929,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Spain,2,"7,690,152.33",0.00,0.12,0.00
4163,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Portugal,4,"7,477,212.09",0.00,0.21,0.00
3232,2021,Import,Wood and articles of wood; wood charcoal,44,China,5,"6,614,706.00",0.00,0.21,0.00
3330,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,China,2,"4,433,542.00",0.00,0.00,0.00
4279,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,"Asia, not elsewhere specified",2,"3,881,429.08",0.00,0.06,0.00
4283,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Portugal,3,"1,752,594.05",0.00,0.03,0.00
4743,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Portugal,5,"1,561,115.49",0.00,0.05,0.00
6170,2021,Import,Aluminium and articles thereof,76,Thailand,5,"987,262.15",0.00,0.04,0.00
5852,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,South Africa,4,"938,501.79",0.00,0.03,0.00
3621,2021,Import,Wood and articles of wood; wood charcoal,44,France and Monaco,5,"671,505.54",0.00,0.02,0.00
4632,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,Portugal,2,"632,922.19",0.00,0.00,0.00
5948,2021,Import,Wood and articles of wood; wood charcoal,44,Spain,5,"625,571.53",0.00,0.02,0.00
3661,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,France and Monaco,4,"559,332.08",0.00,0.02,0.00
6171,2021,Import,Aluminium and articles thereof,76,United Arab Emirates,5,"541,582.04",0.00,0.02,0.00
6112,2021,Import,Wood and articles of wood; wood charcoal,44,United Arab Emirates,4,"483,890.99",0.00,0.02,0.00
5781,2021,Import,Wood and articles of wood; wood charcoal,44,South Africa,5,"481,563.91",0.00,0.01,0.00
6161,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,Thailand,2,"467,631.59",0.00,0.00,0.00
5730,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,India,3,"345,544.58",0.00,0.01,0.00
3380,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Canada,3,"245,980.29",0.00,0.01,0.00
5849,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,India,4,"107,704.92",0.00,0.00,0.00
5779,2021,Import,Wood and articles of wood; wood charcoal,44,India,5,"46,142.22",0.00,0.00,0.00
6180,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,United Arab Emirates,3,"44,835.19",0.00,0.00,0.00
5732,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,South Africa,3,"28,285.82",0.00,0.00,0.00
6294,2021,Import,Wood and articles of wood; wood charcoal,44,United States of America,4,"17,558.00",0.00,0.00,0.00
3589,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,France and Monaco,3,"11,399.25",0.00,0.00,0.00
6357,2021,Import,Electrical machinery and equipment and parts t...,85,United States of America,5,"10,340.00",0.00,0.00,0.00
6075,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Thailand,3,"8,070.98",0.00,0.00,0.00
5968,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Spain,4,"7,078.09",0.00,0.00,0.00
6342,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,United States of America,3,"5,762.00",0.00,0.00,0.00
6179,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Thailand,4,"4,397.93",0.00,0.00,0.00
3231,2021,Import,Wood and articles of wood; wood charcoal,44,Canada,4,"3,161.39",0.00,0.00,0.00
3083,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Canada,2,"2,835.21",0.00,0.00,0.00
3382,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,China,4,"1,785.00",0.00,0.00,0.00
3647,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,France and Monaco,2,781.79,0.00,0.00,0.00
4909,2021,Import,Commodities not specified according to kind,99,"Asia, not elsewhere specified",3,751.95,0.00,0.00,0.00
3329,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,Canada,1,267.97,0.00,0.00,0.00
4513,2021,Import,Apparel and clothing accessories; knitted or c...,61,"Asia, not elsewhere specified",4,107.42,0.00,0.00,0.00
3397,2021,Import,Electrical machinery and equipment and parts t...,85,Canada,5,78.95,0.00,0.00,0.00
6095,2021,Import,"Mineral fuels, mineral oils and products of th...",27,United Arab Emirates,1,30.17,0.00,0.00,0.00

In [ ]:
export_products[comtrade.PERC_CMD_IN_PARTNER].sum()

1.9928746283221535

## Principais produtos exportados e destinos

In [56]:
show_only_top = 5
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='X',
                                           motCode=0,
                                           rank_filter=show_only_top)

TypeError: top_commodities() got an unexpected keyword argument 'extra_cols'

In [21]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc',
        comtrade.PERC_PARTNER_IN_CMD, 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER ]

show_only_greater_than = export_products[comtrade.PERC_PARTNER_IN_CMD]>0.01
export_products[show_only_greater_than][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais **parceiros** das exportações e produtos exportados

In [14]:
show_only_top = 5
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='X',
                                           motCode=0, 
                                           rank_filter=5)

In [15]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner',	'partnerDesc','rank_cmd', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]
export_partners[cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, 
                                                                                       comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

# Importações

## Principais produtos importados

In [22]:
show_only_top=10
export_products = comtrade.top_commodities(country_of_interest,
                                               partnerCode=0,  # 0 = all partners
                                               years=years_of_interest, 
                                               flowCode='M',
                                           motCode=0,
                                           rank_filter=10)

In [23]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdCode','cmdDesc', 'primaryValueFormated',
        'partnerDesc',
        comtrade.PERC_CMD_IN_PARTNER ]
export_products[cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais produtos importados e origens

In [24]:
show_only_top = 10
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='M',
                                           cmdCode='AG2',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [25]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_products[comtrade.PERC_PARTNER_IN_CMD] > 0.05  # show only partners with more than 5% of trade
export_products[filter_relevant_partners][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

### Principal origem das importações

In [32]:
show_ony_top=20
top_partners = comtrade.top_partners(country_of_interest,years_of_interest,
                                     flowCode='M', 
                                    rank_filter=show_ony_top)

In [33]:
cols=['reporterDesc','refYear','flowDesc','rank_partner','partnerDesc','primaryValueFormated', comtrade.PERC_PARTNER_IN_CMD]
top_partners[cols].sort_values(by=['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais **parceiros** das importações e produtos importados

In [34]:
show_only_top = 10
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='M',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [35]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner','partnerDesc', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_partners[comtrade.PERC_PARTNER_IN_CMD] > 0.0  # show only partners with more than 5% of trade
export_partners[filter_relevant_partners][cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Análise de simetrias nos dados

In [36]:


partnerA = country_of_interest

### Principais destinos de exportação reportados pelo país

In [83]:
show_only_top = 30
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='X',
                     cmdCode='TOTAL',
                     reporterCode=partnerA,
                     partnerCode=None,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     customsCode=None,
                     echo_url=False
                     )
cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc'] 
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>100000][cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

### Principais destinos de exportação segundo o registo da importações do resto do mundo

In [82]:
show_only_top=30
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='M',
                     cmdCode='TOTAL',
                     reporterCode=None,
                     partnerCode=partnerA,
                     partner2Code=0,
                     motCode = 0,
                     # customsCode=0,
                     period=years_of_interest,
                     echo_url=False
                     )
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>1000][cols].sort_values(by=['refYear','primaryValue','reporterDesc',], ascending=[True,False,True]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

## Análise de simetrias nos dados com um país específico

In [104]:
partnerB = comtrade.COUNTRY_CODES_REVERSE['China']
flowCode = 'M'
flowDesc = comtrade.FLOWS_CODES[flowCode]


phrase = f"{comtrade.COUNTRY_CODES.get(partnerA)} {flowDesc} to {comtrade.COUNTRY_CODES.get(partnerB)} reported by {comtrade.COUNTRY_CODES.get(partnerA)}" \
 if flowCode == 'X' else f"{comtrade.COUNTRY_CODES.get(partnerA)} {flowDesc} from {comtrade.COUNTRY_CODES.get(partnerB)} reported by {comtrade.COUNTRY_CODES.get(partnerA)}"

cmd_detail = 'AG4'
show_only_top = 10

cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','cmdDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc']

In [105]:
df_import_rep_a = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCode,
                     cmdCode=cmd_detail,
                     reporterCode=partnerA,
                     partnerCode=partnerB,
                     partner2Code=0,
                     period=2020,
                     motCode = 0,
                     echo_url=False
                     )

In [106]:
if df_import_rep_a is not None:
    total_import = df_import_rep_a['primaryValue'].sum()
    df_import_rep_a['perc'] = df_import_rep_a['primaryValue']/total_import
    print(phrase)
    result = df_import_rep_a[cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print("No",phrase)
    result = ''

result

Angola Import from China reported by Angola

In [108]:
# invertemos

print(years_of_interest, partnerA, partnerB)

flowCodeInv = 'X' if flowCode == 'M' else 'M'
flowDesc = comtrade.FLOWS_CODES[flowCodeInv]


phrase = f"{comtrade.COUNTRY_CODES.get(partnerB)} {flowDesc} to {comtrade.COUNTRY_CODES.get(partnerA)} reported by {comtrade.COUNTRY_CODES.get(partnerB)}" if flowCodeInv == 'X'\
    else f"{comtrade.COUNTRY_CODES.get(partnerB)} {flowDesc} from {comtrade.COUNTRY_CODES.get(partnerA)} reported by {comtrade.COUNTRY_CODES.get(partnerB)}"


print(phrase)

df_import_rep_b = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCodeInv,
                     cmdCode=cmd_detail,
                     reporterCode=partnerB,
                     partnerCode=partnerA,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     echo_url=False
                     )
if df_import_rep_b is not None:
    total_import = df_import_rep_b['primaryValue'].sum()
    df_import_rep_b['perc'] = df_import_rep_b['primaryValue']/total_import
    result = df_import_rep_b[cols].sort_values(by=['refYear','reporterDesc','primaryValue'], ascending=[True,True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print("No",phrase)
    result = ''
result

2021 24 156
China Export to Angola reported by China

ReadTimeout: HTTPSConnectionPool(host='comtradeapi.un.org', port=443): Read timed out. (read timeout=10)