# Perfil de comércio

## Setup

### Criar directorias de apoio

In [1]:
from pathlib import Path

Path('support').mkdir(parents=True, exist_ok=True)
Path('reports').mkdir(parents=True, exist_ok=True)

### Criar ficheiro de configuração se não existir

O ficheiro de configuração serve para armazenar
a APIKEY que dá acesso a mais de 500 linhas de
resultados.

In [2]:
import os

fname = 'config.ini'
content = """
# Ficheiro de configuração
[comtrade]
# Add API Key. DO NOT SHARE
key = 
"""
if not os.path.isfile(fname):
  print("Criando ficheiro de configuração")
  with open(fname,'w') as f:
    f.write(content)

### Obter uma chave de acesso à API

Para aceder à UN Comtrade via API sem limites é necessário uma chave de acesso,
de outro modo os resultados são limitados a 500 linhas.

Para obter a chave de acsso:
* Registo em https://comtradedeveloper.un.org/
* Ir para _Products_ 
* Selecionar "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Escolher _Subscribe to "comtrade - v1"_  
* Esperar pelo email com a chave da API key (demora alguns dias)
* Copiar a chave para o local indicado no ficheiro `config.ini` antes
  de executar o resto do notebook.

### Inicializar a API e transferir os códigos usados

In [3]:
import os
import configparser
import comtrade

if os.path.isfile(fname):

    config = configparser.ConfigParser()
    config.read('config.ini')
    # get API Key or set to None    
    APIKEY = config['comtrade'].get('key', None)

comtrade.init(APIKEY, force_init=True)
comtrade.CALL_PER_PERIOD=10  # Period default is 60 seconds

contrade.py initialized

# Trade profile

Choose country and years of interest

In [4]:
country_of_interest = comtrade.m49_angola
country_of_interest_desc = comtrade.COUNTRY_CODES[country_of_interest]
years_of_interest = comtrade.year_range(2020, 2021)   
print(country_of_interest_desc, years_of_interest)

Angola 2020,2021

## Global comercial balance

In [5]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format


global_trade = comtrade.get_global_stats(country_of_interest, years=years_of_interest,
                                         exports_from_word_imports=True)

In [9]:
cols = ['refYear','flowDesc','countryDesc','reporterDesc','primaryValue']
global_trade[cols]

   refYear flowDesc countryDesc reporterDesc      primaryValue
0     2020  Imports      Angola       Angola  9,337,925,708.64
0     2020  Exports      Angola        World 24,009,441,917.40
1     2021  Imports      Angola       Angola 11,378,927,920.70
1     2021  Exports      Angola        World 33,477,533,120.02

In [10]:
import pandas as pd

trade_balance = pd.pivot_table(global_trade, index=['refYear','countryDesc',],columns='flowDesc', values='primaryValue').fillna(0)
trade_balance['trade_balance'] = trade_balance['Exports'] - trade_balance['Imports']
trade_balance.reset_index()

flowDesc,refYear,countryDesc,Exports,Imports,trade_balance
0,2020,Angola,"24,009,441,917.40","9,337,925,708.64","14,671,516,208.76"
1,2021,Angola,"33,477,533,120.02","11,378,927,920.70","22,098,605,199.32"

## Exportações: Destinos

Usamos as importações declaradas pelos parceiros para obter as
exportações do país de interesse.

In [12]:
show_only_top=5
years_of_interest = comtrade.year_range(2021, 2021)

# we do not specificy reporterCode, so we get all countries to report imports from country_of_interest
top_partners = comtrade.top_partners(reporterCode=None,
                                     partnerCode=country_of_interest,
                                     years=years_of_interest,
                                     flowCode='M', 
                                     rank_reporter_filter=show_only_top)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 416
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  109 non-null    object
 1   freqCode                  109 non-null    object
 2   refPeriodId               109 non-null    int64
 3   refYear                   109 non-null    int64
 4   refMonth                  109 non-null    int64
 5   period                    109 non-null    object
 6   reporterCode              109 non-null    int64
 7   reporterISO               0 non-null      object
 8   reporterDesc              109 non-null    object
 9   flowCode                  109 non-null    object
 10  flowDesc                  109 non-null    object
 11  partnerCode               109 non-null    int64
 12  partnerISO                0 non-null      object
 13  partnerDesc               109 non-null    object
 14  partner2Code              109 non-null    int64
 15  partner2ISO               0 non-null      object
 16  partner2Desc              109 non-null    object
 17  classificationCode        109 non-null    object
 18  classificationSearchCode  109 non-null    object
 19  isOriginalClassification  109 non-null    bool
 20  cmdCode                   109 non-null    object
 21  cmdDesc                   109 non-null    object
 22  aggrLevel                 0 non-null      object
 23  isLeaf                    0 non-null      object
 24  customsCode               109 non-null    object
 25  customsDesc               109 non-null    object
 26  mosCode                   109 non-null    object
 27  motCode                   109 non-null    int64
 28  motDesc                   109 non-null    object
 29  qtyUnitCode               109 non-null    int64
 30  qtyUnitAbbr               0 non-null      object
 31  qty                       109 non-null    float64
 32  isQtyEstimated            109 non-null    bool
 33  altQtyUnitCode            109 non-null    int64
 34  altQtyUnitAbbr            0 non-null      object
 35  altQty                    109 non-null    float64
 36  isAltQtyEstimated         109 non-null    bool
 37  netWgt                    108 non-null    float64
 38  isNetWgtEstimated         109 non-null    bool
 39  grossWgt                  109 non-null    float64
 40  isGrossWgtEstimated       109 non-null    bool
 41  cifvalue                  108 non-null    float64
 42  fobvalue                  95 non-null     float64
 43  primaryValue              109 non-null    float64
 44  legacyEstimationFlag      109 non-null    int64
 45  isReported                109 non-null    bool
 46  isAggregate               109 non-null    bool
 47  mosDesc                   109 non-null    object
 48  qtyUnitDesc               109 non-null    object
 49  altQtyUnitDesc            109 non-null    object
 50  primaryValueFormated      109 non-null    object
dtypes: bool(7), float64(7), int64(10), object(27)
memory usage: 39.1+ KB

In [48]:
import warnings


def top_partners(reporterCode=0, 
                 years=None,  
                 cmdCode='TOTAL', 
                 flowCode='M,X', 
                 partnerCode=None,
                 partner2Code=0,
                 motCode=0, 
                 customsCode='C00',
                 rank_partner_filter=None,   
                 rank_reporter_filter=None,
                 rank_cmd_filter=None,
                 rank_partner_cmd_filter=None,
                 rank_cmd_partner_filter=None,
                 return_data=False,
                 timeout=120, echo_url=False):
    """Get the top trade partners of a country 
        for a given year range
    
    Args:
        reporterCode (str): reporter country code, e.g. 49 for China, or a CSV list
        years (str): year range, e.g. 2010,2011,2012
        cmdCode (str): HS code, e.g. TOTAL for all commodities, or AG2, AG4 or specific code or list of
        flowCode (str): flow code, e.g. M for imports, X for exports, defaults to M,X
        partnerCode (str, optional): partner country code, e.g. 842 for USA, defaults to None (all)
        partner2Code (str, optional): second partner country code, e.g. 842 for USA, defaults to 0 (world)
                                    None for all, -1 for all but world.
        motCode (str, optional): Mode of transport code, e.g. 0 for all, 1 for sea, 2 for air. 
                                 Defaults to None. If -1 is passed removes results with motCode = 0
        customsCode (str, optional): Customs procedure code, e.g. C00 for all, C05 for free zone.
        rank_filter (int): number of top commodities to return, default 5
        return_data (bool): return the DataFrame with the results and the DataFrame with the
                            full data as a tuple, default False
        echo_url (bool): print the url to the console, default False

    Returns:
        DataFrame: DataFrame with the top partners for each year and flow

        Extra cols:
        * primaryValueFormated: primaryValue formatted as a string
        * sum_cmd: total value for the commodity per year and flow
        * sum_year_flow: total value for the year and flow
        * perc_year_flow: percentage of the total value for the year and flow
        * sum_partner: total value for reporter+partner per year and flow
        * perc_partner: percentage of the total value for reporter+partner per year and flow
        * rank_partner: rank of the reporter+partner per year and flow
        * sum_reporter: total value for reporter per year and flow
        * perc_reporter: percentage of the total value for reporter per year and flow
        * rank_reporter: rank of the reporter per year and flow

    
    """
    df = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCode,
                     cmdCode=cmdCode,
                     reporterCode=reporterCode,
                     partnerCode=partnerCode,
                     partner2Code=partner2Code,
                     period=years,
                     motCode=motCode,
                     customsCode=customsCode,
                     timeout=timeout,
                     echo_url=echo_url
                     )
    if df is None:
        warnings.warn("No data returned")
        return None

    # check if this is not beiing handled in getdata
    df = df[df['partnerCode'] != 0]

    # Total value of commodities per HS code per year and flow
    df['sum_cmd'] = df.groupby(['refYear','flowCode','cmdCode'])['primaryValue'].transform('sum')  
    # rank of commodity per year per flow
    df['rank_cmd'] = df.groupby(['refYear','flowCode'])['sum_cmd'].rank(ascending=False,method='dense')
    df['rank_cmd'] = df['rank_cmd'].astype(int)

    df['sum_reporter_cmd'] = df.groupby(['refYear','flowCode','reporterCode','cmdCode'])['primaryValue'].transform('sum')  
    df['sum_partner_cmd'] = df.groupby(['refYear','flowCode','partnerCode','cmdCode'])['primaryValue'].transform('sum')  

    # Total value per period per flow
    df['sum_year_flow'] = df.groupby(['refYear','flowCode'])['primaryValue'].transform('sum')
    df['perc_year_flow'] = df['primaryValue'] / df['sum_year_flow']

    # Total value for partner per period and flow
    df['sum_partner'] = df.groupby(['refYear','flowCode','partnerCode'])['primaryValue'].transform('sum')
    df['perc_partner'] = df['primaryValue'] / df['sum_partner']  
    
    # Total value for reporter+partner per period and flow
    df['sum_reporter_partner'] = df.groupby(['refYear','flowCode','reporterCode','partnerCode'])['primaryValue'].transform('sum')
    df['perc_reporter_partner'] = df['primaryValue'] / df['sum_reporter_partner']  

    # global rank of partner
    df['rank_partner'] = df.groupby(['reporterDesc','refYear','flowCode'])['sum_partner'].rank(ascending=False,method='dense')
    df['rank_partner'] = df['rank_partner'].astype(int)

   # Total value per period per flow per reporter
    df['sum_reporter'] = df.groupby(['reporterDesc','refYear','flowCode'])['primaryValue'].transform('sum')
    df['perc_reporter'] = df['primaryValue'] / df['sum_reporter']

    # rank of reporter
    df['rank_reporter'] = df.groupby(['reporterDesc','refYear','flowCode'])['sum_reporter'].rank(ascending=False,method='dense')
    df['rank_reporter'] = df['rank_reporter'].astype(int)



    # rank of commodity per partner
    df['rank_partner_cmd'] = df.groupby(['reporterDesc','refYear','flowCode','partnerCode'])['primaryValue'].rank(ascending=False,method='dense')
    df['rank_partner_cmd'] = df['rank_partner_cmd'].astype(int)

    # rank of partner per HS code
    df['rank_cmd_partner'] = df.groupby(['reporterDesc','refYear','flowCode','cmdCode'])['primaryValue'].rank(ascending=False,method='dense')
    df['rank_cmd_partner'] = df['rank_cmd_partner'].astype(int)

    # value of trade as percentage of total same HS code
    df['perc_partner_for_cmd'] = df['primaryValue']/df['sum_cmd']
    # value of trade as percentage of total same partner
    df[ 'perc_cmd_for_partner'] = df['primaryValue']/df['sum_partner']

    sort_list = ['refYear','flowCode','partnerDesc','primaryValue']
    sort_order = [True,True,True,False]
    
    pco = df
    if rank_partner_filter is not None:
        pco=pco[pco['rank_partner'] <= rank_partner_filter]
    if rank_reporter_filter is not None:
        pco=pco[pco['rank_reporter'] <= rank_reporter_filter]
    if rank_cmd_filter is not None:
        pco=pco[pco['rank_cmd'] <= rank_cmd_filter]
    if rank_cmd_partner_filter is not None:
        pco=pco[pco['rank_cmd_partner'] <= rank_cmd_partner_filter]
    if rank_partner_cmd_filter is not None:
        pco=pco[pco['rank_partner_cmd'] <= rank_partner_cmd_filter]
    pco_cut_sorted = pco.sort_values(sort_list, ascending=sort_order)

    if return_data:
        return (pco_cut_sorted, df)  
    else:
        return pco_cut_sorted

In [54]:
import pandas as pd
# show 500 lines
pd.options.display.max_rows=500

pd.options.display.float_format='{:,.2f}'.format

temp = top_partners(reporterCode=f"{comtrade.m49_china},{comtrade.m49_brazil}",
                                     partnerCode=f"{comtrade.m49_angola},{comtrade.m49_portugal}",
                                     cmdCode='27,71',
                                     years='2020,2021',
                                     flowCode='M', 
                                     rank_reporter_filter=show_only_top)

In [56]:

cols=['refYear','reporterDesc','cmdCode','primaryValue','sum_cmd','rank_cmd','sum_reporter','rank_reporter','flowDesc','partnerDesc','rank_reporter', 'sum_year_flow','perc_year_flow']
temp.sort_values(by=['refYear','flowDesc','cmdCode','reporterDesc','primaryValue'], ascending=[True,True,True,True,True])[cols]

,refYear,reporterDesc,cmdCode,primaryValue,sum_cmd,rank_cmd,sum_reporter,rank_reporter,flowDesc,partnerDesc,rank_reporter,sum_year_flow,perc_year_flow
2,2020,Brazil,27,"7,492,391.00","14,890,404,061.00",1,"203,430,421.00",1,Import,Portugal,1,"14,916,418,814.00",0.00
0,2020,Brazil,27,"195,927,608.00","14,890,404,061.00",1,"203,430,421.00",1,Import,Angola,1,"14,916,418,814.00",0.01
9,2020,China,27,"33,866.00","14,890,404,061.00",1,"14,712,988,393.00",1,Import,Portugal,1,"14,916,418,814.00",0.00
7,2020,China,27,"14,686,950,196.00","14,890,404,061.00",1,"14,712,988,393.00",1,Import,Angola,1,"14,916,418,814.00",0.98
5,2020,Brazil,71,"10,422.00","26,014,753.00",2,"203,430,421.00",1,Import,Portugal,1,"14,916,418,814.00",0.00
10,2020,China,71,"5,989,591.00","26,014,753.00",2,"14,712,988,393.00",1,Import,Portugal,1,"14,916,418,814.00",0.00
8,2020,China,71,"20,014,740.00","26,014,753.00",2,"14,712,988,393.00",1,Import,Angola,1,"14,916,418,814.00",0.00
13,2021,Brazil,27,"21,903,338.00","21,019,583,232.00",1,"195,540,614.00",1,Import,Portugal,1,"21,031,542,669.00",0.00
11,2021,Brazil,27,"173,606,455.00","21,019,583,232.00",1,"195,540,614.00",1,Import,Angola,1,"21,031,542,669.00",0.01
21,2021,China,27,"199,476.00","21,019,583,232.00",1,"20,836,002,055.00",1,Import,Portugal,1,"21,031,542,669.00",0.00
19,2021,China,27,"20,823,873,963.00","21,019,583,232.00",1,"20,836,002,055.00",1,Import,Angola,1,"21,031,542,669.00",0.99
16,2021,Brazil,71,"30,821.00","11,959,437.00",2,"195,540,614.00",1,Import,Portugal,1,"21,031,542,669.00",0.00
20,2021,China,71,"4,433,542.00","11,959,437.00",2,"20,836,002,055.00",1,Import,Angola,1,"21,031,542,669.00",0.00
22,2021,China,71,"7,495,074.00","11,959,437.00",2,"20,836,002,055.00",1,Import,Portugal,1,"21,031,542,669.00",0.00

In [17]:
import pandas as pd
# show 500 lines
pd.options.display.max_rows=500

pd.options.display.float_format='{:,.2f}'.format

cols=['reporterDesc','refYear','flowDesc','partnerDesc','rank_reporter','primaryValue', 'perc_year_flow','cmdCode','sum_cmd','rank_cmd']
top_partners[top_partners.rank_reporter<=show_only_top].sort_values(by=['refYear','flowDesc','primaryValue'], ascending=[True,True,False])[cols]

,reporterDesc,refYear,flowDesc,partnerDesc,rank_reporter,primaryValue,perc_year_flow,cmdCode,sum_cmd,rank_cmd
29,China,2021,Import,Angola,1,"20,908,231,317.00",0.62,TOTAL,"20,908,231,317.00",1
324,India,2021,Import,Angola,1,"2,315,947,568.41",0.07,TOTAL,"2,315,947,568.41",1
388,United Arab Emirates,2021,Import,Angola,1,"1,685,701,656.52",0.05,TOTAL,"1,685,701,656.52",1
385,Thailand,2021,Import,Angola,1,"1,607,756,231.51",0.05,TOTAL,"1,607,756,231.51",1
413,United States of America,2021,Import,Angola,1,"1,089,250,402.00",0.03,TOTAL,"1,089,250,402.00",1
325,Singapore,2021,Import,Angola,1,"752,550,761.40",0.02,TOTAL,"752,550,761.40",1
355,Spain,2021,Import,Angola,1,"739,484,782.77",0.02,TOTAL,"739,484,782.77",1
5,Belgium,2021,Import,Angola,1,"615,024,126.87",0.02,TOTAL,"615,024,126.87",1
28,Chile,2021,Import,Angola,1,"537,823,552.96",0.02,TOTAL,"537,823,552.96",1
147,Indonesia,2021,Import,Angola,1,"463,466,072.00",0.01,TOTAL,"463,466,072.00",1
329,South Africa,2021,Import,Angola,1,"361,852,131.43",0.01,TOTAL,"361,852,131.43",1
216,Pakistan,2021,Import,Angola,1,"322,677,571.27",0.01,TOTAL,"322,677,571.27",1
211,Netherlands,2021,Import,Angola,1,"300,018,788.20",0.01,TOTAL,"300,018,788.20",1
415,Uruguay,2021,Import,Angola,1,"292,943,215.91",0.01,TOTAL,"292,943,215.91",1
204,"Asia, not elsewhere specified",2021,Import,Angola,1,"286,366,020.88",0.01,TOTAL,"286,366,020.88",1
101,France and Monaco,2021,Import,Angola,1,"232,767,839.46",0.01,TOTAL,"232,767,839.46",1
8,Brazil,2021,Import,Angola,1,"175,069,408.00",0.01,TOTAL,"175,069,408.00",1
150,Italy,2021,Import,Angola,1,"140,589,239.50",0.00,TOTAL,"140,589,239.50",1
163,Malaysia,2021,Import,Angola,1,"140,582,597.37",0.00,TOTAL,"140,582,597.37",1
220,Portugal,2021,Import,Angola,1,"95,324,574.46",0.00,TOTAL,"95,324,574.46",1
118,Greece,2021,Import,Angola,1,"73,437,726.11",0.00,TOTAL,"73,437,726.11",1
153,Republic of Korea,2021,Import,Angola,1,"47,805,457.00",0.00,TOTAL,"47,805,457.00",1
327,Vietnam,2021,Import,Angola,1,"37,924,016.16",0.00,TOTAL,"37,924,016.16",1
32,Democratic Republic of the Congo,2021,Import,Angola,1,"31,426,688.17",0.00,TOTAL,"31,426,688.17",1
31,Congo,2021,Import,Angola,1,"29,699,173.97",0.00,TOTAL,"29,699,173.97",1
214,Nigeria,2021,Import,Angola,1,"26,183,253.44",0.00,TOTAL,"26,183,253.44",1
207,Morocco,2021,Import,Angola,1,"20,135,261.30",0.00,TOTAL,"20,135,261.30",1
225,Sao Tome and Principe,2021,Import,Angola,1,"19,902,136.65",0.00,TOTAL,"19,902,136.65",1
218,Philippines,2021,Import,Angola,1,"16,569,522.00",0.00,TOTAL,"16,569,522.00",1
210,Namibia,2021,Import,Angola,1,"16,080,603.47",0.00,TOTAL,"16,080,603.47",1
1,Angola,2021,Import,Angola,1,"11,482,018.58",0.00,TOTAL,"11,482,018.58",1
215,Norway,2021,Import,Angola,1,"11,104,997.16",0.00,TOTAL,"11,104,997.16",1
408,Turkey,2021,Import,Angola,1,"10,607,228.00",0.00,TOTAL,"10,607,228.00",1
120,China Hong Kong,2021,Import,Angola,1,"10,411,574.73",0.00,TOTAL,"10,411,574.73",1
7,Botswana,2021,Import,Angola,1,"8,926,171.60",0.00,TOTAL,"8,926,171.60",1
2,Argentina,2021,Import,Angola,1,"8,771,184.52",0.00,TOTAL,"8,771,184.52",1
411,United Kingdom,2021,Import,Angola,1,"7,990,634.18",0.00,TOTAL,"7,990,634.18",1
227,Senegal,2021,Import,Angola,1,"4,456,318.29",0.00,TOTAL,"4,456,318.29",1
37,Benin,2021,Import,Angola,1,"3,612,847.17",0.00,TOTAL,"3,612,847.17",1
117,Germany,2021,Import,Angola,1,"3,359,848.08",0.00,TOTAL,"3,359,848.08",1
219,Poland,2021,Import,Angola,1,"2,949,714.00",0.00,TOTAL,"2,949,714.00",1
148,Ireland,2021,Import,Angola,1,"2,307,639.89",0.00,TOTAL,"2,307,639.89",1
223,Russian Federation,2021,Import,Angola,1,"1,999,311.92",0.00,TOTAL,"1,999,311.92",1
151,Japan,2021,Import,Angola,1,"758,693.79",0.00,TOTAL,"758,693.79",1
386,Togo,2021,Import,Angola,1,"713,472.50",0.00,TOTAL,"713,472.50",1
154,Kuwait,2021,Import,Angola,1,"493,954.00",0.00,TOTAL,"493,954.00",1
389,Tunisia,2021,Import,Angola,1,"456,199.16",0.00,TOTAL,"456,199.16",1
30,Colombia,2021,Import,Angola,1,"419,664.97",0.00,TOTAL,"419,664.97",1
416,Zambia,2021,Import,Angola,1,"396,117.44",0.00,TOTAL,"396,117.44",1
208,Mozambique,2021,Import,Angola,1,"381,730.06",0.00,TOTAL,"381,730.06",1
38,Denmark,2021,Import,Angola,1,"375,633.96",0.00,TOTAL,"375,633.96",1
412,Tanzania,2021,Import,Angola,1,"324,914.00",0.00,TOTAL,"324,914.00",1
26,Canada,2021,Import,Angola,1,"316,555.00",0.00,TOTAL,"316,555.00",1
226,Saudi Arabia,2021,Import,Angola,1,"315,064.53",0.00,TOTAL,"315,064.53",1
165,Mauritius,2021,Import,Angola,1,"257,396.37",0.00,TOTAL,"257,396.37",1
100,Finland,2021,Import,Angola,1,"216,635.45",0.00,TOTAL,"216,635.45",1
222,Romania,2021,Import,Angola,1,"200,891.87",0.00,TOTAL,"200,891.87",1
414,Burkina Faso,2021,Import,Angola,1,"182,376.51",0.00,TOTAL,"182,376.51",1
155,Lebanon,2021,Import,Angola,1,"125,447.00",0.00,TOTAL,"125,447.00",1
4,Austria,2021,Import,Angola,1,"102,511.65",0.00,TOTAL,"102,511.65",1
161,Madagascar,2021,Import,Angola,1,"101,029.12",0.00,TOTAL,"101,029.12",1
384,Switzerland,2021,Import,Angola,1,"98,096.32",0.00,TOTAL,"98,096.32",1
156,Lesotho,2021,Import,Angola,1,"72,046.91",0.00,TOTAL,"72,046.91",1
382,Eswatini,2021,Import,Angola,1,"61,763.72",0.00,TOTAL,"61,763.72",1
149,Israel,2021,Import,Angola,1,"60,000.00",0.00,TOTAL,"60,000.00",1
221,Qatar,2021,Import,Angola,1,"55,119.28",0.00,TOTAL,"55,119.28",1
10,Belarus,2021,Import,Angola,1,"50,900.00",0.00,TOTAL,"50,900.00",1
99,Ethiopia,2021,Import,Angola,1,"50,032.32",0.00,TOTAL,"50,032.32",1
152,Kenya,2021,Import,Angola,1,"34,954.81",0.00,TOTAL,"34,954.81",1
0,Albania,2021,Import,Angola,1,"31,370.62",0.00,TOTAL,"31,370.62",1
3,Australia,2021,Import,Angola,1,"29,002.03",0.00,TOTAL,"29,002.03",1
205,Mongolia,2021,Import,Angola,1,"25,735.72",0.00,TOTAL,"25,735.72",1
213,Niger,2021,Import,Angola,1,"23,451.93",0.00,TOTAL,"23,451.93",1
119,Honduras,2021,Import,Angola,1,"21,343.66",0.00,TOTAL,"21,343.66",1
160,China Macau,2021,Import,Angola,1,"20,746.78",0.00,TOTAL,"20,746.78",1
224,Rwanda,2021,Import,Angola,1,"19,641.76",0.00,TOTAL,"19,641.76",1
158,Lithuania,2021,Import,Angola,1,"17,336.00",0.00,TOTAL,"17,336.00",1
206,Republic of Moldova,2021,Import,Angola,1,"16,622.00",0.00,TOTAL,"16,622.00",1
146,Hungary,2021,Import,Angola,1,"15,801.00",0.00,TOTAL,"15,801.00",1
209,Oman,2021,Import,Angola,1,"13,877.76",0.00,TOTAL,"13,877.76",1
166,Mexico,2021,Import,Angola,1,"13,613.00",0.00,TOTAL,"13,613.00",1
103,State of Palestine,2021,Import,Angola,1,"12,864.56",0.00,TOTAL,"12,864.56",1
212,New Zealand,2021,Import,Angola,1,"12,482.67",0.00,TOTAL,"12,482.67",1
162,Malawi,2021,Import,Angola,1,"11,063.34",0.00,TOTAL,"11,063.34",1
383,Sweden,2021,Import,Angola,1,"10,143.92",0.00,TOTAL,"10,143.92",1
102,Gambia,2021,Import,Angola,1,"6,612.78",0.00,TOTAL,"6,612.78",1
410,Egypt,2021,Import,Angola,1,"6,585.22",0.00,TOTAL,"6,585.22",1
36,Czechia,2021,Import,Angola,1,"5,973.00",0.00,TOTAL,"5,973.00",1
11,Cambodia,2021,Import,Angola,1,"3,690.00",0.00,TOTAL,"3,690.00",1
323,Seychelles,2021,Import,Angola,1,"3,096.91",0.00,TOTAL,"3,096.91",1
217,Peru,2021,Import,Angola,1,"2,671.03",0.00,TOTAL,"2,671.03",1
98,El Salvador,2021,Import,Angola,1,"2,346.49",0.00,TOTAL,"2,346.49",1
97,Ecuador,2021,Import,Angola,1,"2,021.26",0.00,TOTAL,"2,021.26",1
33,Costa Rica,2021,Import,Angola,1,"1,925.33",0.00,TOTAL,"1,925.33",1
164,Malta,2021,Import,Angola,1,"1,810.78",0.00,TOTAL,"1,810.78",1
328,Slovenia,2021,Import,Angola,1,"1,545.04",0.00,TOTAL,"1,545.04",1
387,Trinidad and Tobago,2021,Import,Angola,1,"1,522.67",0.00,TOTAL,"1,522.67",1
409,Ukraine,2021,Import,Angola,1,"1,389.42",0.00,TOTAL,"1,389.42",1
326,Slovakia,2021,Import,Angola,1,"1,000.60",0.00,TOTAL,"1,000.60",1
159,Luxembourg,2021,Import,Angola,1,921.96,0.00,TOTAL,921.96,1
35,Cyprus,2021,Import,Angola,1,818.46,0.00,TOTAL,818.46,1
39,Dominican Republic,2021,Import,Angola,1,614.72,0.00,TOTAL,614.72,1
9,Bulgaria,2021,Import,Angola,1,474.67,0.00,TOTAL,474.67,1
330,Zimbabwe,2021,Import,Angola,1,240.94,0.00,TOTAL,240.94,1
157,Latvia,2021,Import,Angola,1,217.62,0.00,TOTAL,217.62,1
34,Croatia,2021,Import,Angola,1,116.00,0.00,TOTAL,116.00,1
27,Sri Lanka,2021,Import,Angola,1,21.99,0.00,TOTAL,21.99,1
322,Serbia,2021,Import,Angola,1,12.00,0.00,TOTAL,12.00,1
6,Bermuda,2021,Import,Angola,1,9.35,0.00,TOTAL,9.35,1

In [ ]:
top_export_destinations = list(top_partners[top_partners.rank_reporter<=show_only_top]['reporterDesc'].unique())
top_export_destinations_codes = list(top_partners[top_partners.rank_reporter<=show_only_top]['reporterCode'].unique())
# convert to list of string
top_export_destinations_codes = [str(x) for x in top_export_destinations_codes]
top_export_destinations, top_export_destinations_codes

(['China',
  'United States of America',
  'India',
  'Asia, not elsewhere specified',
  'Canada',
  'South Africa',
  'Portugal',
  'Spain',
  'France and Monaco',
  'United Arab Emirates',
  'Thailand'],
 ['156', '842', '699', '490', '124', '710', '620', '724', '251', '784', '764'])

Passamos os países para colunas, mantendo a percentagem e o valor em separado.

In [ ]:
pivoted = top_partners.pivot_table(index=['refYear','flowDesc'], columns='reporterDesc', values=['primaryValue','perc_year_flow'])
pivoted.swaplevel(axis=1).fillna('',inplace=True)
pivoted.sort_index(axis=1, level=0, inplace=True)
pivoted.fillna(0)

                 perc_year_flow                                               \
reporterDesc            Albania Algeria Angola Antigua and Barbuda Argentina
refYear flowDesc
2011    Import             0.00    0.00   0.00                0.00      0.00
2012    Import             0.00    0.00   0.00                0.00      0.00
2013    Import             0.00    0.00   0.00                0.00      0.00
2014    Import             0.00    0.00   0.00                0.00      0.00
2015    Import             0.00    0.00   0.00                0.00      0.00
2016    Import             0.00    0.00   0.00                0.00      0.00
2017    Import             0.00    0.00   0.00                0.00      0.00
2018    Import             0.00    0.00   0.00                0.00      0.00
2019    Import             0.00    0.00   0.00                0.00      0.00
2020    Import             0.00    0.00   0.00                0.00      0.00
2021    Import             0.00    0.00   0.00                0.00      0.00

                                                                          \
reporterDesc     Armenia Asia, not elsewhere specified Australia Austria
refYear flowDesc
2011    Import      0.00                          0.09      0.00    0.00
2012    Import      0.00                          0.07      0.00    0.00
2013    Import      0.00                          0.05      0.00    0.00
2014    Import      0.00                          0.05      0.00    0.00
2015    Import      0.00                          0.04      0.00    0.00
2016    Import      0.00                          0.05      0.00    0.00
2017    Import      0.00                          0.04      0.00    0.00
2018    Import      0.00                          0.01      0.00    0.00
2019    Import      0.00                          0.01      0.00    0.00
2020    Import      0.00                          0.02      0.00    0.00
2021    Import      0.00                          0.01      0.00    0.00

                             ... primaryValue                       \
reporterDesc     Azerbaijan  ...      Ukraine United Arab Emirates
refYear flowDesc             ...
2011    Import         0.00  ...   146,120.00       301,582,058.00
2012    Import         0.00  ...   764,720.00     1,234,968,772.00
2013    Import         0.00  ...    63,422.00       757,063,814.73
2014    Import         0.00  ...    11,069.00       812,542,196.16
2015    Import         0.00  ...    50,320.00     1,056,613,911.80
2016    Import         0.00  ...   299,907.11       956,305,699.01
2017    Import         0.00  ...    72,378.45     1,200,168,189.47
2018    Import         0.00  ...    20,096.32     1,569,493,453.56
2019    Import         0.00  ...   251,112.36     1,294,307,774.80
2020    Import         0.00  ...    35,298.67     1,018,255,600.93
2021    Import         0.00  ...     1,389.42     1,685,701,656.52

                                                                           \
reporterDesc       United Kingdom United States of America        Uruguay
refYear flowDesc
2011    Import     437,170,828.00        13,833,012,040.00          16.00
2012    Import   1,261,394,647.00        10,030,264,550.00           0.00
2013    Import     994,286,997.00         8,922,894,861.00 315,549,401.00
2014    Import     650,319,421.00         5,837,752,018.00 217,485,863.00
2015    Import   1,006,251,202.00         2,917,054,295.00       1,019.00
2016    Import     369,342,914.00         2,976,766,381.00 226,117,355.00
2017    Import      71,778,081.35         2,686,493,698.00           0.00
2018    Import      83,063,568.65         2,768,924,982.00 363,283,051.00
2019    Import      17,811,494.08           984,169,471.00 429,270,279.00
2020    Import       1,979,755.60           497,345,885.00 213,330,946.83
2021    Import       7,990,634.18         1,089,250,402.00 292,943,215.91


reporterDesc        Venezuela       Vietnam    Yemen       Zambia   Zimbabwe
refYear flowDesc
2011    Import   1,852,323.00  5,316,077.00 2,901.00     5,937.00     956.75
2012    Import   1,947,136.00  9,617,132.00     0.00    82,355.00  26,699.35
2013    Import     242,598.00 13,846,936.00     0.00   276,609.70   4,776.01
2014    Import           0.00 34,887,124.00     0.00   141,334.58  61,920.53
2015    Import           0.00  2,215,261.00     0.00   397,746.84  36,364.56
2016    Import           0.00 12,212,363.05     0.00 1,422,038.29  54,450.15
2017    Import           0.00 30,879,228.40     0.00   263,486.62 283,340.92
2018    Import           0.00 21,929,392.20     0.00    97,372.92 165,619.05
2019    Import           0.00 44,032,254.79 9,463.43   226,170.11  40,210.22
2020    Import           0.00  9,066,304.05     0.00   211,208.91       0.00
2021    Import           0.00 37,924,016.16     0.00   396,117.44     240.94

[11 rows x 318 columns]

In [ ]:
show_only_columns = [(l1, country) for l1,country in pivoted.columns.tolist() if country in top_export_destinations]
pivoted[show_only_columns]

                                perc_year_flow                                 \
reporterDesc     Asia, not elsewhere specified Canada China France and Monaco
refYear flowDesc
2011    Import                            0.09   0.04  0.38              0.03
2012    Import                            0.07   0.03  0.44              0.02
2013    Import                            0.05   0.02  0.44              0.02
2014    Import                            0.05   0.02  0.48              0.03
2015    Import                            0.04   0.01  0.43              0.04
2016    Import                            0.05   0.00  0.49              0.04
2017    Import                            0.04   0.00  0.56              0.01
2018    Import                            0.01   0.00  0.58              0.01
2019    Import                            0.01   0.00  0.63              0.01
2020    Import                            0.02   0.00  0.61              0.02
2021    Import                            0.01   0.00  0.62              0.01

                                                             \
reporterDesc     India Portugal South Africa Spain Thailand
refYear flowDesc
2011    Import    0.09     0.02         0.02  0.01     0.00
2012    Import    0.11     0.03         0.04  0.02     0.00
2013    Import    0.09     0.05         0.03  0.04     0.00
2014    Import    0.09     0.03         0.03  0.06     0.00
2015    Import    0.09     0.03         0.04  0.06     0.00
2016    Import    0.07     0.03         0.05  0.03     0.01
2017    Import    0.11     0.01         0.04  0.03     0.01
2018    Import    0.10     0.03         0.03  0.03     0.02
2019    Import    0.10     0.03         0.02  0.03     0.02
2020    Import    0.08     0.02         0.00  0.03     0.05
2021    Import    0.07     0.00         0.01  0.02     0.05

                                       ...     primaryValue                    \
reporterDesc     United Arab Emirates  ...           Canada             China
refYear flowDesc                       ...
2011    Import                   0.00  ... 2,469,608,910.00 24,922,180,492.00
2012    Import                   0.02  ... 1,930,696,671.00 33,561,896,917.00
2013    Import                   0.01  ... 1,507,292,514.00 31,972,669,347.00
2014    Import                   0.01  ... 1,066,114,772.00 31,106,015,046.00
2015    Import                   0.03  ...   520,271,665.00 16,001,611,383.00
2016    Import                   0.03  ...     2,769,158.00 13,966,117,080.00
2017    Import                   0.03  ...   130,579,986.12 20,698,709,467.00
2018    Import                   0.04  ...       537,486.66 25,826,510,355.00
2019    Import                   0.03  ...    21,182,570.32 23,837,402,142.00
2020    Import                   0.04  ...        38,576.52 14,757,730,338.00
2021    Import                   0.05  ...       316,555.00 20,908,231,317.00

                                                                      \
reporterDesc     France and Monaco            India         Portugal
refYear flowDesc
2011    Import    1,825,704,019.00 6,005,484,849.00 1,639,710,523.00
2012    Import    1,199,927,582.00 8,020,442,181.00 2,290,610,271.00
2013    Import    1,225,880,863.00 6,798,300,153.00 3,495,088,409.00
2014    Import    2,079,376,220.00 5,641,667,702.00 2,132,511,992.00
2015    Import    1,610,479,858.00 3,169,598,580.00 1,266,536,955.09
2016    Import    1,029,963,745.00 2,001,936,255.00   895,881,332.31
2017    Import      370,588,475.79 4,118,279,131.90   315,119,621.26
2018    Import      600,213,206.89 4,337,925,217.50 1,173,908,104.09
2019    Import      509,673,910.45 3,799,563,165.19 1,204,116,161.11
2020    Import      498,016,078.52 2,022,432,688.74   444,757,098.52
2021    Import      232,767,839.46 2,315,947,568.41    95,324,574.46

                                                                     \
reporterDesc         South Africa            Spain         Thailand
refYear flowDesc
2011    Import   1,586,176,196.93   587,380,397.71       457,444.00
2012    Import   2,802,783,009.10 1,424,748,647.92   331,977,802.00
2013    Import   1,958,574,119.85 2,883,313,128.47   191,020,618.00
2014    Import   2,011,018,978.76 3,616,693,014.01   323,120,227.00
2015    Import   1,344,214,553.60 2,241,044,685.06   155,730,405.62
2016    Import   1,277,795,554.60   910,706,245.08   165,395,944.81
2017    Import   1,340,980,393.36 1,070,297,304.75   291,055,199.17
2018    Import   1,282,900,382.26 1,425,408,792.80   927,552,289.65
2019    Import     563,803,802.43 1,073,792,688.36   613,567,262.42
2020    Import      60,149,788.46   626,580,515.28 1,258,209,112.04
2021    Import     361,852,131.43   739,484,782.77 1,607,756,231.51


reporterDesc     United Arab Emirates United States of America
refYear flowDesc
2011    Import         301,582,058.00        13,833,012,040.00
2012    Import       1,234,968,772.00        10,030,264,550.00
2013    Import         757,063,814.73         8,922,894,861.00
2014    Import         812,542,196.16         5,837,752,018.00
2015    Import       1,056,613,911.80         2,917,054,295.00
2016    Import         956,305,699.01         2,976,766,381.00
2017    Import       1,200,168,189.47         2,686,493,698.00
2018    Import       1,569,493,453.56         2,768,924,982.00
2019    Import       1,294,307,774.80           984,169,471.00
2020    Import       1,018,255,600.93           497,345,885.00
2021    Import       1,685,701,656.52         1,089,250,402.00

[11 rows x 22 columns]

## Export as Excel

In [ ]:
top_partners.to_excel(f'{country_of_interest_desc}_top_partners.xlsx')

In [ ]:
# export as Excel file
pivoted.to_excel(f'{country_of_interest_desc}_top_partners_cols.xlsx')

In [ ]:
pivoted[show_only_columns].to_excel(f'{country_of_interest_desc}_export_top_{show_only_top}_partners_cols.xlsx')

Verificar cálculo das percentagens

In [ ]:
top_partners['perc_year_flow'].sum() / len(top_partners['refYear'].unique())

1.0

# Exportações: produtos

## Principais produtos exportados

In [ ]:
# show 500 lines of dataframes
pd.set_option('display.max_rows', 500)

show_only_top=5
years_of_interest = comtrade.year_range(2011, 2021)  
export_products = comtrade.top_commodities(reporterCode=None,
                                               partnerCode=country_of_interest,
                                               years=years_of_interest, 
                                               cmdCode='AG2',
                                               flowCode='M',  # exports taken from partners' imports
                                           motCode=0,
                                           rank_filter=show_only_top)
print("Aggregate per product type, ordered by year, product, descreasing value")
cmd_totals=export_products.groupby(['refYear','flowDesc','cmdCode','cmdDesc'])['primaryValue'].sum().reset_index()
# compute the percentage of each product in the total of the year
cmd_totals['percentage']=cmd_totals.groupby(['refYear'], group_keys=False)['primaryValue'].apply(lambda x: 100 * x / float(x.sum()))

# format
formats =  {'primaryValue': '${0:,.0f}',
           'percentage': '{0:.3f}%',
           }
# onyl look at products that correspond to at least this percentage of yearly exports
perc_min=0.1
cmd_totals[cmd_totals['percentage']>perc_min].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).style.format(formats)

/Users/jrc/develop/cipf-comtrade/comtrade.py:370: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")

Aggregate per product type, ordered by year, product, descreasing value

### Guardar em Excel

In [ ]:
cmd_totals.to_excel(f'{country_of_interest_desc}_export_products_year_perc.xlsx')

## Importância para os parceiros das importações do país em análise

Por cada combinação ano, país parceiro, produto importado, obtém as importações
desse produto pelo parceiro e calcula o ranking do país em análise nas importações
desse produto pelo parceiro.

In [ ]:
pd.set_option('display.max_columns',504)

# onyl look at products that correspond to at least this percentage of yearly exports
perc_min=0.1
main_exports = cmd_totals[cmd_totals['percentage']>perc_min]['cmdCode'].unique()
print(f"Principais produtos exportados (percentagem anual superior a {perc_min:.2f}%):",main_exports)

cols=['refYear','partnerDesc','rank_cmd_partner','perc_partner_for_cmd','primaryValue']
cumulative_suppliers = None
for index,row in export_products[export_products['reporterDesc'].isin(top_export_destinations)].sort_values(['primaryValue'], ascending=False).iterrows():
    if row['cmdCode'] not in main_exports:
        continue
    print(row['refYear'],row['reporterDesc'],row['reporterCode'], f"{row['primaryValue']}",row['cmdCode'],row['cmdDesc'][:32])
    # try to get the importance of the country of interest for the partner in a given product
    suppliers = comtrade.top_partners(reporterCode=row['reporterCode'],
                                      years=row['refYear'],
                                      cmdCode=row['cmdCode'],
                                      flowCode='M',
                                      rank_filter=100)
    if cumulative_suppliers is None:
        cumulative_suppliers=suppliers
    else:
        cumulative_suppliers=pd.concat([cumulative_suppliers,suppliers])
    print(suppliers[suppliers['partnerCode']==country_of_interest][cols].sort_values('primaryValue', ascending=False))

In [29]:
main_exports = list(cmd_totals[cmd_totals['percentage']>perc_min]['cmdCode'].unique())
main_exports, years_of_interest,top_export_destinations_codes

(['27', '71', '84', '89', '72', '03', '25', '44', '73'],
 '2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021',
 ['156', '842', '699', '490', '124', '710', '620', '724', '251', '784', '764'])

We now query the database for imports of the main partners in the products
of interest.

`reporterCode` will receive the list of main export destinations of country of interest.

`cmdCode` will receive the main export products of country of interest.

Note that the resulting data will have combinations that are not of

In [47]:
suppliers2 = comtrade.top_partners(reporterCode=",".join(top_export_destinations_codes),
                                      years=years_of_interest,
                                      cmdCode=",".join(main_exports),
                                      flowCode='M',
                                      timeout=240)

/Users/jrc/develop/cipf-comtrade/comtrade.py:370: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66502 entries, 0 to 248988
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  66502 non-null  object
 1   freqCode                  66502 non-null  object
 2   refPeriodId               66502 non-null  int64
 3   refYear                   66502 non-null  int64
 4   refMonth                  66502 non-null  int64
 5   period                    66502 non-null  object
 6   reporterCode              66502 non-null  int64
 7   reporterISO               0 non-null      object
 8   reporterDesc              66502 non-null  object
 9   flowCode                  66502 non-null  object
 10  flowDesc                  66502 non-null  object
 11  partnerCode               66502 non-null  int64
 12  partnerISO                0 non-null      object
 13  partnerDesc               66502 non-null  object
 14  partner2Code              66502 non-null  int64
 15  partner2ISO               0 non-null      object
 16  partner2Desc              66502 non-null  object
 17  classificationCode        66502 non-null  object
 18  classificationSearchCode  66502 non-null  object
 19  isOriginalClassification  66502 non-null  bool
 20  cmdCode                   66502 non-null  object
 21  cmdDesc                   66502 non-null  object
 22  aggrLevel                 0 non-null      object
 23  isLeaf                    0 non-null      object
 24  customsCode               66502 non-null  object
 25  customsDesc               66502 non-null  object
 26  mosCode                   66502 non-null  object
 27  motCode                   66502 non-null  int64
 28  motDesc                   66502 non-null  object
 29  qtyUnitCode               66502 non-null  int64
 30  qtyUnitAbbr               0 non-null      object
 31  qty                       21985 non-null  float64
 32  isQtyEstimated            66502 non-null  bool
 33  altQtyUnitCode            66502 non-null  int64
 34  altQtyUnitAbbr            0 non-null      object
 35  altQty                    21985 non-null  float64
 36  isAltQtyEstimated         66502 non-null  bool
 37  netWgt                    13084 non-null  float64
 38  isNetWgtEstimated         66502 non-null  bool
 39  grossWgt                  13771 non-null  float64
 40  isGrossWgtEstimated       66502 non-null  bool
 41  cifvalue                  60423 non-null  float64
 42  fobvalue                  7122 non-null   float64
 43  primaryValue              66502 non-null  float64
 44  legacyEstimationFlag      66502 non-null  int64
 45  isReported                66502 non-null  bool
 46  isAggregate               66502 non-null  bool
 47  mosDesc                   58288 non-null  object
 48  qtyUnitDesc               66502 non-null  object
 49  altQtyUnitDesc            66502 non-null  object
 50  primaryValueFormated      66502 non-null  object
dtypes: bool(7), float64(7), int64(10), object(27)
memory usage: 23.3+ MB

In [49]:
[col for col in suppliers2.columns if col.startswith('rank')]

['rank_partner',
 'rank_reporter',
 'rank_cmd',
 'rank_partner_cmd',
 'rank_cmd_partner']

In [46]:
suppliers2[cols].sort_values(by=['reporterDesc','refYear','cmdCode','rank_cmd_partner']).head(500)

,reporterDesc,refYear,cmdCode,cmdDesc,partnerDesc,rank_cmd_partner,perc_partner_for_cmd,primaryValue
4669,"Asia, not elsewhere specified",2011,03,"Fish and crustaceans, molluscs and other aquat...",Saudi Arabia,35,0.00,"2,316,783.00"
4670,"Asia, not elsewhere specified",2011,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.19,"12,155,905,816.00"
4513,"Asia, not elsewhere specified",2011,27,"Mineral fuels, mineral oils and products of th...",Kuwait,2,0.12,"7,585,559,728.00"
4335,"Asia, not elsewhere specified",2011,27,"Mineral fuels, mineral oils and products of th...",China,19,0.01,"690,681,321.00"
4816,"Asia, not elsewhere specified",2011,27,"Mineral fuels, mineral oils and products of th...",United States of America,22,0.01,"491,440,050.00"
4494,"Asia, not elsewhere specified",2011,27,"Mineral fuels, mineral oils and products of th...",Japan,27,0.00,"255,990,153.00"
4337,"Asia, not elsewhere specified",2011,71,"Natural, cultured pearls; precious, semi-preci...",China,1,0.30,"1,830,146,168.00"
4496,"Asia, not elsewhere specified",2011,71,"Natural, cultured pearls; precious, semi-preci...",Japan,2,0.16,"990,900,955.00"
4819,"Asia, not elsewhere specified",2011,71,"Natural, cultured pearls; precious, semi-preci...",United States of America,5,0.08,"474,797,717.00"
4671,"Asia, not elsewhere specified",2011,71,"Natural, cultured pearls; precious, semi-preci...",Saudi Arabia,53,0.00,"32,328.00"
4890,"Asia, not elsewhere specified",2011,72,Iron and steel,Japan,1,0.25,"3,160,570,800.00"
4851,"Asia, not elsewhere specified",2011,72,Iron and steel,China,2,0.19,"2,382,998,991.00"
4958,"Asia, not elsewhere specified",2011,72,Iron and steel,United States of America,3,0.15,"1,892,747,929.00"
4932,"Asia, not elsewhere specified",2011,72,Iron and steel,Saudi Arabia,61,0.00,"2,385,107.00"
4896,"Asia, not elsewhere specified",2011,72,Iron and steel,Kuwait,85,0.00,"339,041.00"
4338,"Asia, not elsewhere specified",2011,73,Iron or steel articles,China,1,0.35,"538,935,453.00"
4497,"Asia, not elsewhere specified",2011,73,Iron or steel articles,Japan,2,0.33,"499,979,009.00"
4820,"Asia, not elsewhere specified",2011,73,Iron or steel articles,United States of America,4,0.06,"87,584,497.00"
5027,"Asia, not elsewhere specified",2011,84,"Machinery and mechanical appliances, boilers, ...",Japan,1,0.31,"9,345,280,784.00"
4991,"Asia, not elsewhere specified",2011,84,"Machinery and mechanical appliances, boilers, ...",China,2,0.19,"5,667,812,966.00"
5106,"Asia, not elsewhere specified",2011,84,"Machinery and mechanical appliances, boilers, ...",United States of America,3,0.16,"4,781,900,258.00"
5076,"Asia, not elsewhere specified",2011,84,"Machinery and mechanical appliances, boilers, ...",Saudi Arabia,67,0.00,"173,765.00"
5032,"Asia, not elsewhere specified",2011,84,"Machinery and mechanical appliances, boilers, ...",Kuwait,84,0.00,"62,518.00"
36988,"Asia, not elsewhere specified",2012,03,"Fish and crustaceans, molluscs and other aquat...",Saudi Arabia,40,0.00,"1,773,938.00"
36989,"Asia, not elsewhere specified",2012,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.18,"12,756,434,939.00"
36842,"Asia, not elsewhere specified",2012,27,"Mineral fuels, mineral oils and products of th...",Kuwait,2,0.12,"8,240,429,168.00"
37128,"Asia, not elsewhere specified",2012,27,"Mineral fuels, mineral oils and products of th...",United States of America,17,0.01,"873,482,156.00"
36675,"Asia, not elsewhere specified",2012,27,"Mineral fuels, mineral oils and products of th...",China,22,0.01,"400,341,864.00"
36677,"Asia, not elsewhere specified",2012,71,"Natural, cultured pearls; precious, semi-preci...",China,2,0.23,"1,414,416,601.00"
36825,"Asia, not elsewhere specified",2012,71,"Natural, cultured pearls; precious, semi-preci...",Japan,3,0.17,"1,013,185,472.00"
37130,"Asia, not elsewhere specified",2012,71,"Natural, cultured pearls; precious, semi-preci...",United States of America,4,0.07,"415,918,716.00"
37197,"Asia, not elsewhere specified",2012,72,Iron and steel,Japan,1,0.26,"2,857,459,390.00"
37160,"Asia, not elsewhere specified",2012,72,Iron and steel,China,2,0.17,"1,855,679,195.00"
37266,"Asia, not elsewhere specified",2012,72,Iron and steel,United States of America,3,0.15,"1,598,257,442.00"
37242,"Asia, not elsewhere specified",2012,72,Iron and steel,Saudi Arabia,24,0.00,"36,777,151.00"
37201,"Asia, not elsewhere specified",2012,72,Iron and steel,Kuwait,100,0.00,"114,683.00"
36678,"Asia, not elsewhere specified",2012,73,Iron or steel articles,China,1,0.36,"524,451,747.00"
36826,"Asia, not elsewhere specified",2012,73,Iron or steel articles,Japan,2,0.33,"479,831,210.00"
37131,"Asia, not elsewhere specified",2012,73,Iron or steel articles,United States of America,4,0.06,"88,255,227.00"
36991,"Asia, not elsewhere specified",2012,73,Iron or steel articles,Saudi Arabia,55,0.00,"35,729.00"
37335,"Asia, not elsewhere specified",2012,84,"Machinery and mechanical appliances, boilers, ...",Japan,1,0.29,"7,702,512,410.00"
37299,"Asia, not elsewhere specified",2012,84,"Machinery and mechanical appliances, boilers, ...",China,2,0.21,"5,507,252,799.00"
37405,"Asia, not elsewhere specified",2012,84,"Machinery and mechanical appliances, boilers, ...",United States of America,3,0.17,"4,427,486,328.00"
37380,"Asia, not elsewhere specified",2012,84,"Machinery and mechanical appliances, boilers, ...",Saudi Arabia,70,0.00,"171,180.00"
37341,"Asia, not elsewhere specified",2012,84,"Machinery and mechanical appliances, boilers, ...",Kuwait,118,0.00,"3,073.00"
36827,"Asia, not elsewhere specified",2012,89,"Ships, boats and floating structures",Japan,1,0.58,"314,808,398.00"
69018,"Asia, not elsewhere specified",2013,25,"Salt; sulphur; earths, stone; plastering mater...",China,1,0.36,"425,701,214.00"
69330,"Asia, not elsewhere specified",2013,25,"Salt; sulphur; earths, stone; plastering mater...",Saudi Arabia,56,0.00,"36,316.00"
69327,"Asia, not elsewhere specified",2013,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.20,"13,606,355,096.00"
69174,"Asia, not elsewhere specified",2013,27,"Mineral fuels, mineral oils and products of th...",Kuwait,2,0.12,"7,947,151,039.00"
69485,"Asia, not elsewhere specified",2013,27,"Mineral fuels, mineral oils and products of th...",United States of America,14,0.02,"1,241,727,370.00"
69478,"Asia, not elsewhere specified",2013,27,"Mineral fuels, mineral oils and products of th...",Japan,26,0.00,"246,113,345.00"
69486,"Asia, not elsewhere specified",2013,44,Wood and articles of wood; wood charcoal,United States of America,5,0.06,"85,359,584.00"
69022,"Asia, not elsewhere specified",2013,71,"Natural, cultured pearls; precious, semi-preci...",China,2,0.17,"793,136,277.00"
69480,"Asia, not elsewhere specified",2013,71,"Natural, cultured pearls; precious, semi-preci...",Japan,3,0.16,"755,551,009.00"
69487,"Asia, not elsewhere specified",2013,71,"Natural, cultured pearls; precious, semi-preci...",United States of America,5,0.08,"345,554,374.00"
69331,"Asia, not elsewhere specified",2013,71,"Natural, cultured pearls; precious, semi-preci...",Saudi Arabia,48,0.00,"50,560.00"
69549,"Asia, not elsewhere specified",2013,72,Iron and steel,Japan,1,0.29,"2,824,419,958.00"
69518,"Asia, not elsewhere specified",2013,72,Iron and steel,China,2,0.23,"2,259,023,369.00"
69610,"Asia, not elsewhere specified",2013,72,Iron and steel,United States of America,3,0.12,"1,223,658,620.00"
69584,"Asia, not elsewhere specified",2013,72,Iron and steel,Saudi Arabia,72,0.00,"494,079.00"
69021,"Asia, not elsewhere specified",2013,73,Iron or steel articles,China,1,0.36,"474,403,956.00"
69481,"Asia, not elsewhere specified",2013,73,Iron or steel articles,Japan,2,0.31,"404,846,915.00"
69683,"Asia, not elsewhere specified",2013,84,"Machinery and mechanical appliances, boilers, ...",Japan,1,0.25,"7,184,162,939.00"
69646,"Asia, not elsewhere specified",2013,84,"Machinery and mechanical appliances, boilers, ...",China,2,0.20,"5,740,238,238.00"
69751,"Asia, not elsewhere specified",2013,84,"Machinery and mechanical appliances, boilers, ...",United States of America,3,0.18,"5,007,572,337.00"
69729,"Asia, not elsewhere specified",2013,84,"Machinery and mechanical appliances, boilers, ...",Saudi Arabia,58,0.00,"559,522.00"
69689,"Asia, not elsewhere specified",2013,84,"Machinery and mechanical appliances, boilers, ...",Kuwait,84,0.00,"45,991.00"
102193,"Asia, not elsewhere specified",2014,03,"Fish and crustaceans, molluscs and other aquat...",Saudi Arabia,41,0.00,"1,319,797.00"
101797,"Asia, not elsewhere specified",2014,25,"Salt; sulphur; earths, stone; plastering mater...",China,1,0.37,"456,360,013.00"
102194,"Asia, not elsewhere specified",2014,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.18,"11,747,473,739.00"
102004,"Asia, not elsewhere specified",2014,27,"Mineral fuels, mineral oils and products of th...",Kuwait,2,0.10,"6,372,075,058.00"
102363,"Asia, not elsewhere specified",2014,27,"Mineral fuels, mineral oils and products of th...",United States of America,12,0.02,"1,466,778,954.00"
101979,"Asia, not elsewhere specified",2014,27,"Mineral fuels, mineral oils and products of th...",Japan,21,0.01,"451,490,051.00"
102364,"Asia, not elsewhere specified",2014,44,Wood and articles of wood; wood charcoal,United States of America,6,0.06,"90,060,564.00"
101981,"Asia, not elsewhere specified",2014,71,"Natural, cultured pearls; precious, semi-preci...",Japan,1,0.18,"943,869,776.00"
101802,"Asia, not elsewhere specified",2014,71,"Natural, cultured pearls; precious, semi-preci...",China,2,0.17,"876,244,631.00"
102365,"Asia, not elsewhere specified",2014,71,"Natural, cultured pearls; precious, semi-preci...",United States of America,5,0.08,"431,133,404.00"
102190,"Asia, not elsewhere specified",2014,71,"Natural, cultured pearls; precious, semi-preci...",Saudi Arabia,54,0.00,"44,805.00"
101800,"Asia, not elsewhere specified",2014,72,Iron and steel,China,1,0.31,"3,261,481,882.00"
101982,"Asia, not elsewhere specified",2014,72,Iron and steel,Japan,2,0.25,"2,637,327,588.00"
102366,"Asia, not elsewhere specified",2014,72,Iron and steel,United States of America,3,0.09,"960,114,677.00"
102195,"Asia, not elsewhere specified",2014,72,Iron and steel,Saudi Arabia,31,0.00,"15,103,961.00"
101801,"Asia, not elsewhere specified",2014,73,Iron or steel articles,China,1,0.36,"520,365,109.00"
101983,"Asia, not elsewhere specified",2014,73,Iron or steel articles,Japan,2,0.29,"420,411,737.00"
102433,"Asia, not elsewhere specified",2014,84,"Machinery and mechanical appliances, boilers, ...",Japan,1,0.26,"7,318,877,179.00"
102401,"Asia, not elsewhere specified",2014,84,"Machinery and mechanical appliances, boilers, ...",China,2,0.22,"6,231,026,327.00"
102496,"Asia, not elsewhere specified",2014,84,"Machinery and mechanical appliances, boilers, ...",United States of America,3,0.17,"4,639,281,042.00"
102472,"Asia, not elsewhere specified",2014,84,"Machinery and mechanical appliances, boilers, ...",Saudi Arabia,68,0.00,"72,032.00"
158926,"Asia, not elsewhere specified",2015,03,"Fish and crustaceans, molluscs and other aquat...",Indonesia,3,0.09,"76,898,157.00"
159169,"Asia, not elsewhere specified",2015,03,"Fish and crustaceans, molluscs and other aquat...",Saudi Arabia,63,0.00,"257,122.00"
158777,"Asia, not elsewhere specified",2015,25,"Salt; sulphur; earths, stone; plastering mater...",China,1,0.36,"423,766,269.00"
159170,"Asia, not elsewhere specified",2015,25,"Salt; sulphur; earths, stone; plastering mater...",Saudi Arabia,52,0.00,"59,635.00"
159171,"Asia, not elsewhere specified",2015,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.16,"6,036,533,291.00"
158928,"Asia, not elsewhere specified",2015,27,"Mineral fuels, mineral oils and products of th...",Indonesia,4,0.08,"3,108,529,716.00"
159334,"Asia, not elsewhere specified",2015,27,"Mineral fuels, mineral oils and products of th...",United States of America,16,0.01,"426,032,665.00"
158960,"Asia, not elsewhere specified",2015,27,"Mineral fuels, mineral oils and products of th...",Japan,17,0.01,"348,991,953.00"
158929,"Asia, not elsewhere specified",2015,44,Wood and articles of wood; wood charcoal,Indonesia,3,0.13,"172,652,246.00"
158964,"Asia, not elsewhere specified",2015,71,"Natural, cultured pearls; precious, semi-preci...",Japan,1,0.25,"1,151,927,841.00"
158930,"Asia, not elsewhere specified",2015,71,"Natural, cultured pearls; precious, semi-preci...",Indonesia,2,0.18,"851,638,760.00"
158779,"Asia, not elsewhere specified",2015,71,"Natural, cultured pearls; precious, semi-preci...",China,4,0.09,"408,030,050.00"
159336,"Asia, not elsewhere specified",2015,71,"Natural, cultured pearls; precious, semi-preci...",United States of America,6,0.06,"274,855,968.00"
158780,"Asia, not elsewhere specified",2015,72,Iron and steel,China,1,0.29,"2,111,244,721.00"
158962,"Asia, not elsewhere specified",2015,72,Iron and steel,Japan,2,0.29,"2,076,488,070.00"
159337,"Asia, not elsewhere specified",2015,72,Iron and steel,United States of America,4,0.07,"507,007,811.00"
158931,"Asia, not elsewhere specified",2015,72,Iron and steel,Indonesia,9,0.01,"90,160,619.00"
158781,"Asia, not elsewhere specified",2015,73,Iron or steel articles,China,1,0.38,"514,006,870.00"
158963,"Asia, not elsewhere specified",2015,73,Iron or steel articles,Japan,2,0.27,"367,494,967.00"
159338,"Asia, not elsewhere specified",2015,73,Iron or steel articles,United States of America,4,0.06,"83,676,233.00"
159403,"Asia, not elsewhere specified",2015,84,"Machinery and mechanical appliances, boilers, ...",Japan,1,0.27,"7,282,244,214.00"
159372,"Asia, not elsewhere specified",2015,84,"Machinery and mechanical appliances, boilers, ...",China,2,0.22,"5,871,026,200.00"
159470,"Asia, not elsewhere specified",2015,84,"Machinery and mechanical appliances, boilers, ...",United States of America,3,0.18,"4,980,618,672.00"
159448,"Asia, not elsewhere specified",2015,84,"Machinery and mechanical appliances, boilers, ...",Saudi Arabia,85,0.00,"15,659.00"
220291,"Asia, not elsewhere specified",2016,03,"Fish and crustaceans, molluscs and other aquat...",Saudi Arabia,59,0.00,"292,654.00"
219898,"Asia, not elsewhere specified",2016,25,"Salt; sulphur; earths, stone; plastering mater...",China,1,0.36,"352,427,801.00"
220292,"Asia, not elsewhere specified",2016,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.15,"4,866,882,106.00"
220097,"Asia, not elsewhere specified",2016,27,"Mineral fuels, mineral oils and products of th...",Republic of Korea,7,0.06,"1,917,009,634.00"
220458,"Asia, not elsewhere specified",2016,27,"Mineral fuels, mineral oils and products of th...",United States of America,16,0.02,"557,029,350.00"
220077,"Asia, not elsewhere specified",2016,27,"Mineral fuels, mineral oils and products of th...",Japan,18,0.02,"484,585,890.00"
220079,"Asia, not elsewhere specified",2016,71,"Natural, cultured pearls; precious, semi-preci...",Japan,1,0.26,"923,471,120.00"
220461,"Asia, not elsewhere specified",2016,71,"Natural, cultured pearls; precious, semi-preci...",United States of America,3,0.07,"258,652,432.00"
219901,"Asia, not elsewhere specified",2016,71,"Natural, cultured pearls; precious, semi-preci...",China,5,0.07,"241,019,354.00"
220100,"Asia, not elsewhere specified",2016,71,"Natural, cultured pearls; precious, semi-preci...",Republic of Korea,7,0.05,"183,476,271.00"
219902,"Asia, not elsewhere specified",2016,72,Iron and steel,China,1,0.33,"2,118,007,751.00"
220080,"Asia, not elsewhere specified",2016,72,Iron and steel,Japan,2,0.24,"1,540,735,587.00"
220099,"Asia, not elsewhere specified",2016,72,Iron and steel,Republic of Korea,3,0.07,"463,698,256.00"
220462,"Asia, not elsewhere specified",2016,72,Iron and steel,United States of America,5,0.06,"384,074,879.00"
220285,"Asia, not elsewhere specified",2016,72,Iron and steel,Saudi Arabia,86,0.00,"38,091.00"
219903,"Asia, not elsewhere specified",2016,73,Iron or steel articles,China,1,0.38,"510,367,745.00"
220081,"Asia, not elsewhere specified",2016,73,Iron or steel articles,Japan,2,0.29,"392,690,624.00"
220101,"Asia, not elsewhere specified",2016,73,Iron or steel articles,Republic of Korea,3,0.07,"92,814,983.00"
220463,"Asia, not elsewhere specified",2016,73,Iron or steel articles,United States of America,4,0.06,"87,066,083.00"
220286,"Asia, not elsewhere specified",2016,73,Iron or steel articles,Saudi Arabia,70,0.00,"2,328.00"
220532,"Asia, not elsewhere specified",2016,84,"Machinery and mechanical appliances, boilers, ...",Japan,1,0.26,"8,706,884,410.00"
220595,"Asia, not elsewhere specified",2016,84,"Machinery and mechanical appliances, boilers, ...",United States of America,2,0.21,"7,132,736,008.00"
220499,"Asia, not elsewhere specified",2016,84,"Machinery and mechanical appliances, boilers, ...",China,3,0.19,"6,434,362,976.00"
220535,"Asia, not elsewhere specified",2016,84,"Machinery and mechanical appliances, boilers, ...",Republic of Korea,7,0.03,"1,061,390,310.00"
220570,"Asia, not elsewhere specified",2016,84,"Machinery and mechanical appliances, boilers, ...",Saudi Arabia,54,0.00,"451,880.00"
2239,Canada,2011,03,"Fish and crustaceans, molluscs and other aquat...",China,2,0.18,"339,786,878.00"
2250,Canada,2011,27,"Mineral fuels, mineral oils and products of th...",United States of America,1,0.32,"16,902,182,406.00"
1046,Canada,2011,27,"Mineral fuels, mineral oils and products of th...",Algeria,2,0.10,"5,537,677,149.00"
2223,Canada,2011,27,"Mineral fuels, mineral oils and products of th...",United Kingdom,4,0.05,"2,832,853,610.00"
2159,Canada,2011,27,"Mineral fuels, mineral oils and products of th...",Mexico,10,0.03,"1,415,072,870.00"
2242,Canada,2011,44,Wood and articles of wood; wood charcoal,China,2,0.18,"525,589,960.00"
2252,Canada,2011,71,"Natural, cultured pearls; precious, semi-preci...",United States of America,1,0.22,"3,952,117,648.00"
2225,Canada,2011,71,"Natural, cultured pearls; precious, semi-preci...",United Kingdom,4,0.06,"1,079,438,789.00"
2162,Canada,2011,71,"Natural, cultured pearls; precious, semi-preci...",Mexico,6,0.05,"812,558,503.00"
2243,Canada,2011,71,"Natural, cultured pearls; precious, semi-preci...",China,11,0.02,"319,645,791.00"
1044,Canada,2011,71,"Natural, cultured pearls; precious, semi-preci...",Algeria,115,0.00,"5,990.00"
2253,Canada,2011,72,Iron and steel,United States of America,1,0.71,"6,099,967,367.00"
2163,Canada,2011,72,Iron and steel,Mexico,10,0.01,"113,893,935.00"
2226,Canada,2011,72,Iron and steel,United Kingdom,12,0.01,"100,622,309.00"
2254,Canada,2011,73,Iron or steel articles,United States of America,1,0.53,"5,906,296,769.00"
2245,Canada,2011,73,Iron or steel articles,China,2,0.18,"2,016,437,923.00"
2164,Canada,2011,73,Iron or steel articles,Mexico,5,0.03,"302,217,259.00"
2227,Canada,2011,73,Iron or steel articles,United Kingdom,11,0.01,"123,905,897.00"
1557,Canada,2011,73,Iron or steel articles,Algeria,157,0.00,97.00
2255,Canada,2011,84,"Machinery and mechanical appliances, boilers, ...",United States of America,1,0.51,"32,701,219,424.00"
2246,Canada,2011,84,"Machinery and mechanical appliances, boilers, ...",China,2,0.15,"9,513,225,475.00"
2165,Canada,2011,84,"Machinery and mechanical appliances, boilers, ...",Mexico,3,0.06,"3,536,494,074.00"
2228,Canada,2011,84,"Machinery and mechanical appliances, boilers, ...",United Kingdom,6,0.03,"1,774,938,295.00"
1708,Canada,2011,84,"Machinery and mechanical appliances, boilers, ...",Algeria,103,0.00,"72,141.00"
34553,Canada,2012,03,"Fish and crustaceans, molluscs and other aquat...",China,2,0.18,"331,081,989.00"
34526,Canada,2012,03,"Fish and crustaceans, molluscs and other aquat...",Japan,11,0.01,"20,043,436.00"
33373,Canada,2012,03,"Fish and crustaceans, molluscs and other aquat...",Algeria,101,0.00,"14,457.00"
34564,Canada,2012,27,"Mineral fuels, mineral oils and products of th...",United States of America,1,0.34,"17,503,890,545.00"
33375,Canada,2012,27,"Mineral fuels, mineral oils and products of th...",Algeria,2,0.12,"5,979,681,129.00"

In [45]:
cofi=suppliers2[suppliers2['partnerCode']==country_of_interest]
rank_of_interest=15
cmd_of_interest=cofi[cofi.rank_cmd_partner<rank_of_interest]['cmdCode'].unique()
partner_of_interest=cofi[cofi.rank_cmd_partner<rank_of_interest]['reporterCode'].unique()
cmd_of_interest, partner_of_interest

(array(['27', '71', '89', '25'], dtype=object), array([620, 156, 710]))

In [43]:
combos_of_interest = cofi[cofi.rank_cmd_partner<=rank_of_interest][['reporterCode','cmdCode']].drop_duplicates()
combos_of_interest = [tuple(x) for x in combos_of_interest.values]
combos_of_interest

[(620, '27'), (156, '27'), (710, '27'), (710, '71'), (620, '89'), (620, '25')]

In [44]:
import pandas as pd
#set max rows to 500
pd.set_option('display.max_rows', 1500)


cols=['reporterDesc','refYear','cmdCode','cmdDesc','partnerDesc','rank_cmd_partner','perc_partner_for_cmd','primaryValue']
suppliers2[suppliers2[['reporterCode','cmdCode']].apply(tuple,axis=1).isin(combos_of_interest)][cols].sort_values(by=['reporterDesc','refYear','cmdCode','rank_cmd_partner']).head(500)

,reporterDesc,refYear,cmdCode,cmdDesc,partnerDesc,rank_cmd_partner,perc_partner_for_cmd,primaryValue
413,China,2011,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.14,"39,473,289,438.00"
408,China,2011,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,4,0.08,"22,922,650,623.00"
562,China,2011,27,"Mineral fuels, mineral oils and products of th...",Republic of Korea,6,0.05,"12,727,969,374.00"
586,China,2011,27,"Mineral fuels, mineral oils and products of th...",Japan,23,0.01,"2,406,029,243.00"
32539,China,2012,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.14,"44,925,796,298.00"
32326,China,2012,27,"Mineral fuels, mineral oils and products of th...",Angola,2,0.11,"33,430,524,104.00"
32634,China,2012,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,3,0.09,"29,522,427,911.00"
32742,China,2012,27,"Mineral fuels, mineral oils and products of th...",Republic of Korea,10,0.04,"11,540,278,142.00"
32767,China,2012,27,"Mineral fuels, mineral oils and products of th...",Japan,26,0.01,"2,107,473,941.00"
64892,China,2013,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.14,"43,307,120,549.00"
64589,China,2013,27,"Mineral fuels, mineral oils and products of th...",Angola,2,0.10,"31,906,807,904.00"
64888,China,2013,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,3,0.09,"26,880,079,449.00"
65011,China,2013,27,"Mineral fuels, mineral oils and products of th...",Republic of Korea,11,0.03,"10,262,931,656.00"
65026,China,2013,27,"Mineral fuels, mineral oils and products of th...",Japan,31,0.01,"1,861,522,069.00"
97487,China,2014,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.12,"37,888,902,266.00"
97677,China,2014,27,"Mineral fuels, mineral oils and products of th...",Angola,2,0.10,"31,060,219,206.00"
97482,China,2014,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,3,0.09,"29,719,175,315.00"
97996,China,2014,27,"Mineral fuels, mineral oils and products of th...",Republic of Korea,10,0.03,"9,547,391,782.00"
98020,China,2014,27,"Mineral fuels, mineral oils and products of th...",Japan,26,0.01,"1,708,087,450.00"
141448,China,2015,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,2,0.10,"20,190,614,914.00"
141360,China,2015,27,"Mineral fuels, mineral oils and products of th...",Republic of Korea,10,0.03,"6,611,919,283.00"
141549,China,2015,27,"Mineral fuels, mineral oils and products of th...",United States of America,19,0.01,"2,654,151,300.00"
141346,China,2015,27,"Mineral fuels, mineral oils and products of th...",Japan,24,0.01,"1,162,453,920.00"
198417,China,2016,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,1,0.11,"19,021,185,635.00"
198338,China,2016,27,"Mineral fuels, mineral oils and products of th...",Republic of Korea,10,0.04,"6,191,338,352.00"
201260,China,2016,27,"Mineral fuels, mineral oils and products of th...",United States of America,18,0.01,"2,400,659,673.00"
198335,China,2016,27,"Mineral fuels, mineral oils and products of th...",Japan,27,0.01,"1,272,092,624.00"
3577,Portugal,2011,25,"Salt; sulphur; earths, stone; plastering mater...",Angola,24,0.00,"419,121.00"
4029,Portugal,2011,27,"Mineral fuels, mineral oils and products of th...",Spain,1,0.18,"2,676,350,411.00"
3916,Portugal,2011,27,"Mineral fuels, mineral oils and products of th...",Nigeria,2,0.15,"2,110,687,693.00"
3578,Portugal,2011,27,"Mineral fuels, mineral oils and products of th...",Angola,3,0.11,"1,628,464,552.00"
3794,Portugal,2011,27,"Mineral fuels, mineral oils and products of th...",Italy,22,0.00,"49,457,500.00"
35896,Portugal,2012,25,"Salt; sulphur; earths, stone; plastering mater...",Angola,24,0.00,"304,717.00"
36451,Portugal,2012,27,"Mineral fuels, mineral oils and products of th...",Spain,1,0.20,"3,008,480,420.00"
35897,Portugal,2012,27,"Mineral fuels, mineral oils and products of th...",Angola,2,0.15,"2,284,438,358.00"
36315,Portugal,2012,27,"Mineral fuels, mineral oils and products of th...",Nigeria,3,0.08,"1,173,548,499.00"
36399,Portugal,2012,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,4,0.07,"1,045,648,824.00"
68227,Portugal,2013,25,"Salt; sulphur; earths, stone; plastering mater...",Angola,21,0.00,"500,601.00"
68222,Portugal,2013,27,"Mineral fuels, mineral oils and products of th...",Angola,1,0.24,"3,489,091,609.00"
68713,Portugal,2013,27,"Mineral fuels, mineral oils and products of th...",Spain,2,0.18,"2,714,849,913.00"
68649,Portugal,2013,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,3,0.07,"1,104,905,144.00"
68287,Portugal,2013,27,"Mineral fuels, mineral oils and products of th...",Cameroon,4,0.07,"1,057,735,599.00"
68403,Portugal,2013,27,"Mineral fuels, mineral oils and products of th...",Germany,22,0.01,"95,910,897.00"
100995,Portugal,2014,25,"Salt; sulphur; earths, stone; plastering mater...",Angola,25,0.00,"210,208.00"
101549,Portugal,2014,27,"Mineral fuels, mineral oils and products of th...",Spain,1,0.21,"2,783,714,179.00"
100996,Portugal,2014,27,"Mineral fuels, mineral oils and products of th...",Angola,2,0.16,"2,126,872,411.00"
101241,Portugal,2014,27,"Mineral fuels, mineral oils and products of th...",Kazakhstan,3,0.08,"1,081,212,608.00"
101161,Portugal,2014,27,"Mineral fuels, mineral oils and products of th...",Germany,14,0.02,"251,185,290.00"
101005,Portugal,2014,89,"Ships, boats and floating structures",Angola,13,0.01,"225,039.00"
156977,Portugal,2015,27,"Mineral fuels, mineral oils and products of th...",Spain,1,0.22,"1,940,266,561.27"
156990,Portugal,2015,27,"Mineral fuels, mineral oils and products of th...",Angola,2,0.14,"1,250,810,430.95"
156924,Portugal,2015,27,"Mineral fuels, mineral oils and products of th...",Netherlands,22,0.01,"58,643,432.78"
218092,Portugal,2016,25,"Salt; sulphur; earths, stone; plastering mater...",Angola,11,0.01,"1,520,275.34"
204828,Portugal,2016,27,"Mineral fuels, mineral oils and products of th...",Spain,1,0.21,"1,486,070,761.26"
218383,Portugal,2016,27,"Mineral fuels, mineral oils and products of th...",Russian Federation,2,0.17,"1,175,447,620.13"
218093,Portugal,2016,27,"Mineral fuels, mineral oils and products of th...",Angola,3,0.13,"867,591,620.14"
7510,South Africa,2011,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.18,"3,832,889,395.78"
7330,South Africa,2011,27,"Mineral fuels, mineral oils and products of th...",Iran,2,0.17,"3,719,644,248.20"
7453,South Africa,2011,27,"Mineral fuels, mineral oils and products of th...",Nigeria,3,0.15,"3,100,051,204.45"
7724,South Africa,2011,27,"Mineral fuels, mineral oils and products of th...",Germany,17,0.01,"215,668,530.31"
7729,South Africa,2011,27,"Mineral fuels, mineral oils and products of th...",China,24,0.00,"93,383,511.70"
7732,South Africa,2011,71,"Natural, cultured pearls; precious, semi-preci...",China,4,0.07,"66,398,306.90"
7725,South Africa,2011,71,"Natural, cultured pearls; precious, semi-preci...",Germany,9,0.04,"42,825,764.61"
7512,South Africa,2011,71,"Natural, cultured pearls; precious, semi-preci...",Saudi Arabia,80,0.00,"1,134.64"
7333,South Africa,2011,71,"Natural, cultured pearls; precious, semi-preci...",Iran,84,0.00,651.97
37693,South Africa,2012,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.32,"7,302,884,011.41"
37684,South Africa,2012,27,"Mineral fuels, mineral oils and products of th...",Nigeria,2,0.16,"3,693,594,386.95"
37694,South Africa,2012,27,"Mineral fuels, mineral oils and products of th...",Angola,3,0.12,"2,764,517,606.67"
37763,South Africa,2012,27,"Mineral fuels, mineral oils and products of th...",Germany,22,0.00,"95,661,341.49"
37913,South Africa,2012,71,"Natural, cultured pearls; precious, semi-preci...",Germany,4,0.08,"77,547,043.64"
37891,South Africa,2012,71,"Natural, cultured pearls; precious, semi-preci...",China,7,0.06,"59,577,526.02"
37881,South Africa,2012,71,"Natural, cultured pearls; precious, semi-preci...",Angola,13,0.03,"30,828,896.49"
37965,South Africa,2012,71,"Natural, cultured pearls; precious, semi-preci...",Saudi Arabia,78,0.00,"1,591.07"
70780,South Africa,2013,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.34,"7,544,761,679.78"
70711,South Africa,2013,27,"Mineral fuels, mineral oils and products of th...",Nigeria,2,0.16,"3,589,749,856.55"
70799,South Africa,2013,27,"Mineral fuels, mineral oils and products of th...",India,4,0.08,"1,804,254,749.84"
70424,South Africa,2013,27,"Mineral fuels, mineral oils and products of th...",China,17,0.01,"130,773,367.96"
70501,South Africa,2013,27,"Mineral fuels, mineral oils and products of th...",Germany,20,0.01,"114,046,463.87"
70503,South Africa,2013,71,"Natural, cultured pearls; precious, semi-preci...",Germany,3,0.08,"74,103,023.17"
70802,South Africa,2013,71,"Natural, cultured pearls; precious, semi-preci...",India,4,0.08,"71,684,606.51"
70714,South Africa,2013,71,"Natural, cultured pearls; precious, semi-preci...",Nigeria,64,0.00,"11,973.86"
70782,South Africa,2013,71,"Natural, cultured pearls; precious, semi-preci...",Saudi Arabia,77,0.00,"2,507.98"
102792,South Africa,2014,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.28,"6,588,872,326.06"
102797,South Africa,2014,27,"Mineral fuels, mineral oils and products of th...",Nigeria,2,0.22,"5,115,796,650.56"
102525,South Africa,2014,27,"Mineral fuels, mineral oils and products of th...",India,4,0.07,"1,641,444,356.93"
102821,South Africa,2014,27,"Mineral fuels, mineral oils and products of th...",China,23,0.00,"80,173,999.31"
102829,South Africa,2014,27,"Mineral fuels, mineral oils and products of th...",Germany,27,0.00,"54,109,293.75"
102544,South Africa,2014,71,"Natural, cultured pearls; precious, semi-preci...",India,4,0.08,"78,470,887.53"
102989,South Africa,2014,71,"Natural, cultured pearls; precious, semi-preci...",Nigeria,59,0.00,"17,561.91"
160449,South Africa,2015,27,"Mineral fuels, mineral oils and products of th...",Nigeria,1,0.22,"3,008,272,964.18"
160516,South Africa,2015,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,2,0.17,"2,227,244,232.84"
160670,South Africa,2015,27,"Mineral fuels, mineral oils and products of th...",United States of America,13,0.01,"196,246,712.10"
160154,South Africa,2015,27,"Mineral fuels, mineral oils and products of th...",China,21,0.01,"71,491,096.97"
160233,South Africa,2015,27,"Mineral fuels, mineral oils and products of th...",Germany,27,0.00,"43,214,305.96"
160235,South Africa,2015,71,"Natural, cultured pearls; precious, semi-preci...",Germany,7,0.04,"25,625,935.08"
160451,South Africa,2015,71,"Natural, cultured pearls; precious, semi-preci...",Nigeria,49,0.00,"73,372.65"
220919,South Africa,2016,27,"Mineral fuels, mineral oils and products of th...",Saudi Arabia,1,0.24,"2,474,301,492.16"
220877,South Africa,2016,27,"Mineral fuels, mineral oils and products of th...",Nigeria,2,0.20,"2,066,833,688.73"
220864,South Africa,2016,27,"Mineral fuels, mineral oils and products of th...",China,10,0.02,"193,910,653.80"
220618,South Africa,2016,27,"Mineral fuels, mineral oils and products of th...",United States of America,13,0.01,"138,198,078.88"
220867,South Africa,2016,27,"Mineral fuels, mineral oils and products of th...",Germany,22,0.00,"33,398,308.86"
221126,South Africa,2016,71,"Natural, cultured pearls; precious, semi-preci...",Germany,11,0.03,"23,910,988.58"
221077,South Africa,2016,71,"Natural, cultured pearls; precious, semi-preci...",Nigeria,53,0.00,"33,029.18"

In [45]:
cofi[cofi.rank_cmd_partner<rank_of_interest]['reporterDesc'].unique()

array(['China', 'United States of America', 'India',
       'Asia, not elsewhere specified', 'Canada', 'Portugal',
       'South Africa', 'Spain', 'France and Monaco',
       'United Arab Emirates'], dtype=object)

In [ ]:
cols=['refYear','reporterDesc','partnerDesc','cmdCode','cmdDesc','rank_cmd_partner','perc_partner_for_cmd','primaryValue']

filter1 = suppliers2.cmdCode.isin(cmd_of_interest)
filter2 = suppliers2.reporterCode.isin(partner_of_interest)
filter3 = (filter1) & (filter2)
suppliers2[(filter3) & (filter2)][cols].sort_values(['refYear','reporterDesc','cmdCode','rank_cmd_partner']).head(100).style.background_gradient(cmap='Blues')

In [16]:
suppliers2.to_excel(f'{country_of_interest_desc}_export_partners_alternative.xlsx')

KeyboardInterrupt:

In [60]:
cumulative_suppliers.to_excel(f'{country_of_interest_desc}_export_partners_alternative.xlsx')

In [59]:
cumulative_suppliers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7037 entries, 2 to 638
Data columns (total 65 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  7037 non-null   object
 1   freqCode                  7037 non-null   object
 2   refPeriodId               7037 non-null   int64
 3   refYear                   7037 non-null   int64
 4   refMonth                  7037 non-null   int64
 5   period                    7037 non-null   object
 6   reporterCode              7037 non-null   int64
 7   reporterISO               0 non-null      object
 8   reporterDesc              7037 non-null   object
 9   flowCode                  7037 non-null   object
 10  flowDesc                  7037 non-null   object
 11  partnerCode               7037 non-null   int64
 12  partnerISO                0 non-null      object
 13  partnerDesc               7037 non-null   object
 14  partner2Code              7037 non-null   int64
 15  partner2ISO               0 non-null      object
 16  partner2Desc              7037 non-null   object
 17  classificationCode        7037 non-null   object
 18  classificationSearchCode  7037 non-null   object
 19  isOriginalClassification  7037 non-null   bool
 20  cmdCode                   7037 non-null   object
 21  cmdDesc                   7037 non-null   object
 22  aggrLevel                 0 non-null      object
 23  isLeaf                    0 non-null      object
 24  customsCode               7037 non-null   object
 25  customsDesc               7037 non-null   object
 26  mosCode                   7037 non-null   object
 27  motCode                   7037 non-null   int64
 28  motDesc                   7037 non-null   object
 29  qtyUnitCode               7037 non-null   int64
 30  qtyUnitAbbr               0 non-null      object
 31  qty                       3835 non-null   object
 32  isQtyEstimated            7037 non-null   bool
 33  altQtyUnitCode            7037 non-null   int64
 34  altQtyUnitAbbr            0 non-null      object
 35  altQty                    3835 non-null   object
 36  isAltQtyEstimated         7037 non-null   bool
 37  netWgt                    2917 non-null   object
 38  isNetWgtEstimated         7037 non-null   bool
 39  grossWgt                  3032 non-null   object
 40  isGrossWgtEstimated       7037 non-null   bool
 41  cifvalue                  6450 non-null   object
 42  fobvalue                  2353 non-null   object
 43  primaryValue              7037 non-null   float64
 44  legacyEstimationFlag      7037 non-null   int64
 45  isReported                7037 non-null   bool
 46  isAggregate               7037 non-null   bool
 47  mosDesc                   6234 non-null   object
 48  qtyUnitDesc               7037 non-null   object
 49  altQtyUnitDesc            7037 non-null   object
 50  primaryValueFormated      7037 non-null   object
 51  sum_cmd                   7037 non-null   float64
 52  sum_year_flow             7037 non-null   float64
 53  perc_year_flow            7037 non-null   float64
 54  sum_partner               7037 non-null   float64
 55  perc_partner              7037 non-null   float64
 56  rank_partner              7037 non-null   int64
 57  sum_reporter              7037 non-null   float64
 58  perc_reporter             7037 non-null   float64
 59  rank_reporter             7037 non-null   int64
 60  rank_cmd                  7037 non-null   int64
 61  rank_partner_cmd          7037 non-null   int64
 62  rank_cmd_partner          7037 non-null   int64
 63  perc_partner_for_cmd      7037 non-null   float64
 64  perc_cmd_for_partner      7037 non-null   float64
dtypes: bool(7), float64(10), int64(15), object(33)
memory usage: 3.2+ MB

In [ ]:
cumul

In [ ]:
suppliers =  comtrade.export_products = comtrade.top_commodities(reporterCode=None,
                                               partnerCode=country_of_interest,
                                               years=years_of_interest, 
                                               cmdCode='AG2',
                                               flowCode='M',  # exports from partners imports
                                           motCode=0,
                                           rank_filter=show_only_top)

KeyboardInterrupt:

In [ ]:
import pandas as pd

pd.options.display.float_format='{:,.2f}'.format
pd.options.display.max_rows = 1000

cols = ['refYear','flowDesc','cmdDesc','cmdCode','reporterDesc', 'rank_cmd','primaryValue',
        comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD,'perc_year_flow']
export_products[export_products['reporterDesc'].isin(top_export_destinations)].sort_values(['refYear','primaryValue'],ascending=[True, False])[cols]

,refYear,flowDesc,cmdDesc,cmdCode,reporterDesc,rank_cmd,primaryValue,perc_cmd_for_partner,perc_partner_for_cmd,perc_year_flow
195,2020,Import,"Mineral fuels, mineral oils and products of th...",27,China,1,"14,686,950,196.00",0.61,0.66,0.61
2319,2020,Import,"Mineral fuels, mineral oils and products of th...",27,India,1,"2,005,413,125.03",0.08,0.09,0.08
2640,2020,Import,"Mineral fuels, mineral oils and products of th...",27,Thailand,1,"1,250,575,334.49",0.05,0.06,0.05
2680,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,United Arab Emirates,1,"1,015,602,701.83",0.04,0.72,0.04
2503,2020,Import,"Mineral fuels, mineral oils and products of th...",27,Spain,1,"604,026,342.70",0.03,0.03,0.03
1275,2020,Import,"Mineral fuels, mineral oils and products of th...",27,"Asia, not elsewhere specified",1,"496,824,439.89",0.02,0.02,0.02
710,2020,Import,"Mineral fuels, mineral oils and products of th...",27,France and Monaco,1,"495,407,183.67",0.02,0.02,0.02
2775,2020,Import,"Mineral fuels, mineral oils and products of th...",27,United States of America,1,"482,834,261.00",0.02,0.02,0.02
1282,2020,Import,"Mineral fuels, mineral oils and products of th...",27,Portugal,1,"424,369,024.42",0.02,0.02,0.02
2321,2020,Import,"Mineral fuels, mineral oils and products of th...",27,South Africa,1,"35,607,163.15",0.00,0.00,0.00
187,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,China,3,"29,428,961.00",0.00,0.57,0.00
2398,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,South Africa,2,"21,913,628.22",0.00,0.02,0.00
310,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,China,2,"20,014,740.00",0.00,0.01,0.00
2491,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,Spain,3,"16,048,143.29",0.00,0.44,0.00
328,2020,Import,Copper and articles thereof,74,China,4,"9,938,185.00",0.00,0.54,0.00
2396,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,India,2,"9,233,967.68",0.00,0.01,0.00
1169,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,Portugal,4,"6,480,122.22",0.00,0.18,0.00
2817,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,United States of America,2,"6,246,035.00",0.00,0.00,0.00
2499,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Spain,2,"4,994,805.85",0.00,0.10,0.00
243,2020,Import,Wood and articles of wood; wood charcoal,44,China,5,"2,766,881.00",0.00,0.16,0.00
2823,2020,Import,Iron or steel articles,73,United States of America,5,"2,317,987.00",0.00,0.28,0.00
2409,2020,Import,Copper and articles thereof,74,India,5,"1,841,843.40",0.00,0.10,0.00
2841,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,United States of America,3,"1,443,094.00",0.00,0.05,0.00
2687,2020,Import,Copper and articles thereof,74,Thailand,5,"1,184,276.52",0.00,0.06,0.00
1265,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,"Asia, not elsewhere specified",2,"1,171,947.39",0.00,0.02,0.00
1268,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Portugal,3,"1,091,998.77",0.00,0.02,0.00
1681,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Portugal,5,"1,004,517.98",0.00,0.04,0.00
2423,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,India,4,"896,251.69",0.00,0.03,0.00
731,2020,Import,Wood and articles of wood; wood charcoal,44,France and Monaco,5,"872,127.94",0.00,0.05,0.00
2633,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,Thailand,3,"730,328.60",0.00,0.02,0.00
2688,2020,Import,Copper and articles thereof,74,United Arab Emirates,4,"717,063.80",0.00,0.04,0.00
2426,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,South Africa,5,"630,334.19",0.00,0.02,0.00
2312,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,India,3,"580,385.43",0.00,0.01,0.00
2679,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,Thailand,2,"436,854.90",0.00,0.00,0.00
2513,2020,Import,Wood and articles of wood; wood charcoal,44,Spain,5,"314,823.94",0.00,0.02,0.00
777,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,France and Monaco,4,"259,299.30",0.00,0.01,0.00
1594,2020,Import,Iron and steel,72,"Asia, not elsewhere specified",5,"252,436.18",0.00,0.02,0.00
1630,2020,Import,Aluminium and articles thereof,76,"Asia, not elsewhere specified",4,"223,968.24",0.00,0.01,0.00
1165,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,"Asia, not elsewhere specified",3,"194,684.01",0.00,0.01,0.00
2651,2020,Import,Wood and articles of wood; wood charcoal,44,United Arab Emirates,5,"175,673.64",0.00,0.01,0.00
1587,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,Portugal,2,"137,697.44",0.00,0.00,0.00
2701,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,United Arab Emirates,3,"68,976.01",0.00,0.00,0.00
2536,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Spain,4,"38,293.36",0.00,0.00,0.00
2794,2020,Import,Wood and articles of wood; wood charcoal,44,United States of America,4,"23,441.00",0.00,0.00,0.00
318,2020,Import,Iron or steel articles,73,Canada,3,"22,650.67",0.00,0.00,0.00
2287,2020,Import,"Fish and crustaceans, molluscs and other aquat...",03,South Africa,4,"18,159.60",0.00,0.00,0.00
708,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,France and Monaco,3,"14,171.73",0.00,0.00,0.00
2639,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,United Arab Emirates,2,"12,795.51",0.00,0.00,0.00
309,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,Canada,1,"7,734.39",0.00,0.00,0.00
2699,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Thailand,4,"1,026.20",0.00,0.00,0.00
401,2020,Import,"Optical, photographic, cinematographic, measur...",90,Canada,5,165.53,0.00,0.00,0.00
762,2020,Import,"Natural, cultured pearls; precious, semi-preci...",71,France and Monaco,2,131.51,0.00,0.00,0.00
352,2020,Import,"Machinery and mechanical appliances, boilers, ...",84,Canada,2,19.39,0.00,0.00,0.00
429,2020,Import,Commodities not specified according to kind,99,Canada,4,19.39,0.00,0.00,0.00
2314,2020,Import,"Salt; sulphur; earths, stone; plastering mater...",25,South Africa,3,3.06,0.00,0.00,0.00
3161,2021,Import,"Mineral fuels, mineral oils and products of th...",27,China,1,"20,823,873,963.00",0.62,0.68,0.62
5737,2021,Import,"Mineral fuels, mineral oils and products of th...",27,India,1,"2,228,646,495.86",0.07,0.07,0.07
6162,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,United Arab Emirates,2,"1,683,143,880.92",0.05,0.68,0.05
6094,2021,Import,"Mineral fuels, mineral oils and products of th...",27,Thailand,1,"1,601,551,152.15",0.05,0.05,0.05
6268,2021,Import,"Mineral fuels, mineral oils and products of th...",27,United States of America,1,"1,033,920,550.00",0.03,0.03,0.03
5933,2021,Import,"Mineral fuels, mineral oils and products of th...",27,Spain,1,"711,309,201.82",0.02,0.02,0.02
5740,2021,Import,"Mineral fuels, mineral oils and products of th...",27,South Africa,1,"341,861,765.06",0.01,0.01,0.01
4293,2021,Import,"Mineral fuels, mineral oils and products of th...",27,"Asia, not elsewhere specified",1,"282,483,732.43",0.01,0.01,0.01
3591,2021,Import,"Mineral fuels, mineral oils and products of th...",27,France and Monaco,1,"229,374,157.75",0.01,0.01,0.01
5823,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,India,2,"83,029,026.56",0.00,0.03,0.00
4302,2021,Import,"Mineral fuels, mineral oils and products of th...",27,Portugal,1,"64,275,097.24",0.00,0.00,0.00
6327,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,United States of America,2,"46,541,500.00",0.00,0.02,0.00
3153,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,China,3,"30,420,529.00",0.00,0.49,0.00
5920,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Spain,3,"19,428,161.98",0.00,0.54,0.00
5826,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,South Africa,2,"17,136,171.27",0.00,0.01,0.00
5929,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Spain,2,"7,690,152.33",0.00,0.12,0.00
4163,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Portugal,4,"7,477,212.09",0.00,0.21,0.00
3232,2021,Import,Wood and articles of wood; wood charcoal,44,China,5,"6,614,706.00",0.00,0.21,0.00
3330,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,China,2,"4,433,542.00",0.00,0.00,0.00
4279,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,"Asia, not elsewhere specified",2,"3,881,429.08",0.00,0.06,0.00
4283,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,Portugal,3,"1,752,594.05",0.00,0.03,0.00
4743,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Portugal,5,"1,561,115.49",0.00,0.05,0.00
6170,2021,Import,Aluminium and articles thereof,76,Thailand,5,"987,262.15",0.00,0.04,0.00
5852,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,South Africa,4,"938,501.79",0.00,0.03,0.00
3621,2021,Import,Wood and articles of wood; wood charcoal,44,France and Monaco,5,"671,505.54",0.00,0.02,0.00
4632,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,Portugal,2,"632,922.19",0.00,0.00,0.00
5948,2021,Import,Wood and articles of wood; wood charcoal,44,Spain,5,"625,571.53",0.00,0.02,0.00
3661,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,France and Monaco,4,"559,332.08",0.00,0.02,0.00
6171,2021,Import,Aluminium and articles thereof,76,United Arab Emirates,5,"541,582.04",0.00,0.02,0.00
6112,2021,Import,Wood and articles of wood; wood charcoal,44,United Arab Emirates,4,"483,890.99",0.00,0.02,0.00
5781,2021,Import,Wood and articles of wood; wood charcoal,44,South Africa,5,"481,563.91",0.00,0.01,0.00
6161,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,Thailand,2,"467,631.59",0.00,0.00,0.00
5730,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,India,3,"345,544.58",0.00,0.01,0.00
3380,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Canada,3,"245,980.29",0.00,0.01,0.00
5849,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,India,4,"107,704.92",0.00,0.00,0.00
5779,2021,Import,Wood and articles of wood; wood charcoal,44,India,5,"46,142.22",0.00,0.00,0.00
6180,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,United Arab Emirates,3,"44,835.19",0.00,0.00,0.00
5732,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,South Africa,3,"28,285.82",0.00,0.00,0.00
6294,2021,Import,Wood and articles of wood; wood charcoal,44,United States of America,4,"17,558.00",0.00,0.00,0.00
3589,2021,Import,"Salt; sulphur; earths, stone; plastering mater...",25,France and Monaco,3,"11,399.25",0.00,0.00,0.00
6357,2021,Import,Electrical machinery and equipment and parts t...,85,United States of America,5,"10,340.00",0.00,0.00,0.00
6075,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Thailand,3,"8,070.98",0.00,0.00,0.00
5968,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Spain,4,"7,078.09",0.00,0.00,0.00
6342,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,United States of America,3,"5,762.00",0.00,0.00,0.00
6179,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,Thailand,4,"4,397.93",0.00,0.00,0.00
3231,2021,Import,Wood and articles of wood; wood charcoal,44,Canada,4,"3,161.39",0.00,0.00,0.00
3083,2021,Import,"Fish and crustaceans, molluscs and other aquat...",03,Canada,2,"2,835.21",0.00,0.00,0.00
3382,2021,Import,"Machinery and mechanical appliances, boilers, ...",84,China,4,"1,785.00",0.00,0.00,0.00
3647,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,France and Monaco,2,781.79,0.00,0.00,0.00
4909,2021,Import,Commodities not specified according to kind,99,"Asia, not elsewhere specified",3,751.95,0.00,0.00,0.00
3329,2021,Import,"Natural, cultured pearls; precious, semi-preci...",71,Canada,1,267.97,0.00,0.00,0.00
4513,2021,Import,Apparel and clothing accessories; knitted or c...,61,"Asia, not elsewhere specified",4,107.42,0.00,0.00,0.00
3397,2021,Import,Electrical machinery and equipment and parts t...,85,Canada,5,78.95,0.00,0.00,0.00
6095,2021,Import,"Mineral fuels, mineral oils and products of th...",27,United Arab Emirates,1,30.17,0.00,0.00,0.00

In [ ]:
export_products[comtrade.PERC_CMD_IN_PARTNER].sum()

1.9928746283221535

## Principais produtos exportados e destinos

In [56]:
show_only_top = 5
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='X',
                                           motCode=0,
                                           rank_filter=show_only_top)

TypeError: top_commodities() got an unexpected keyword argument 'extra_cols'

In [21]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc',
        comtrade.PERC_PARTNER_IN_CMD, 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER ]

show_only_greater_than = export_products[comtrade.PERC_PARTNER_IN_CMD]>0.01
export_products[show_only_greater_than][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais **parceiros** das exportações e produtos exportados

In [14]:
show_only_top = 5
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='X',
                                           motCode=0, 
                                           rank_filter=5)

In [15]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner',	'partnerDesc','rank_cmd', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]
export_partners[cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, 
                                                                                       comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

# Importações

## Principais produtos importados

In [22]:
show_only_top=10
export_products = comtrade.top_commodities(country_of_interest,
                                               partnerCode=0,  # 0 = all partners
                                               years=years_of_interest, 
                                               flowCode='M',
                                           motCode=0,
                                           rank_filter=10)

In [23]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdCode','cmdDesc', 'primaryValueFormated',
        'partnerDesc',
        comtrade.PERC_CMD_IN_PARTNER ]
export_products[cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais produtos importados e origens

In [24]:
show_only_top = 10
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='M',
                                           cmdCode='AG2',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [25]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_products[comtrade.PERC_PARTNER_IN_CMD] > 0.05  # show only partners with more than 5% of trade
export_products[filter_relevant_partners][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

### Principal origem das importações

In [32]:
show_ony_top=20
top_partners = comtrade.top_partners(country_of_interest,years_of_interest,
                                     flowCode='M', 
                                    rank_filter=show_ony_top)

In [33]:
cols=['reporterDesc','refYear','flowDesc','rank_partner','partnerDesc','primaryValueFormated', comtrade.PERC_PARTNER_IN_CMD]
top_partners[cols].sort_values(by=['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais **parceiros** das importações e produtos importados

In [34]:
show_only_top = 10
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='M',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [35]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner','partnerDesc', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_partners[comtrade.PERC_PARTNER_IN_CMD] > 0.0  # show only partners with more than 5% of trade
export_partners[filter_relevant_partners][cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Análise de simetrias nos dados

In [36]:


partnerA = country_of_interest

### Principais destinos de exportação reportados pelo país

In [83]:
show_only_top = 30
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='X',
                     cmdCode='TOTAL',
                     reporterCode=partnerA,
                     partnerCode=None,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     customsCode=None,
                     echo_url=False
                     )
cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc'] 
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>100000][cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

### Principais destinos de exportação segundo o registo da importações do resto do mundo

In [82]:
show_only_top=30
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='M',
                     cmdCode='TOTAL',
                     reporterCode=None,
                     partnerCode=partnerA,
                     partner2Code=0,
                     motCode = 0,
                     # customsCode=0,
                     period=years_of_interest,
                     echo_url=False
                     )
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>1000][cols].sort_values(by=['refYear','primaryValue','reporterDesc',], ascending=[True,False,True]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

## Análise de simetrias nos dados com um país específico

In [104]:
partnerB = comtrade.COUNTRY_CODES_REVERSE['China']
flowCode = 'M'
flowDesc = comtrade.FLOWS_CODES[flowCode]


phrase = f"{comtrade.COUNTRY_CODES.get(partnerA)} {flowDesc} to {comtrade.COUNTRY_CODES.get(partnerB)} reported by {comtrade.COUNTRY_CODES.get(partnerA)}" \
 if flowCode == 'X' else f"{comtrade.COUNTRY_CODES.get(partnerA)} {flowDesc} from {comtrade.COUNTRY_CODES.get(partnerB)} reported by {comtrade.COUNTRY_CODES.get(partnerA)}"

cmd_detail = 'AG4'
show_only_top = 10

cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','cmdDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc']

In [105]:
df_import_rep_a = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCode,
                     cmdCode=cmd_detail,
                     reporterCode=partnerA,
                     partnerCode=partnerB,
                     partner2Code=0,
                     period=2020,
                     motCode = 0,
                     echo_url=False
                     )

In [106]:
if df_import_rep_a is not None:
    total_import = df_import_rep_a['primaryValue'].sum()
    df_import_rep_a['perc'] = df_import_rep_a['primaryValue']/total_import
    print(phrase)
    result = df_import_rep_a[cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print("No",phrase)
    result = ''

result

Angola Import from China reported by Angola

In [108]:
# invertemos

print(years_of_interest, partnerA, partnerB)

flowCodeInv = 'X' if flowCode == 'M' else 'M'
flowDesc = comtrade.FLOWS_CODES[flowCodeInv]


phrase = f"{comtrade.COUNTRY_CODES.get(partnerB)} {flowDesc} to {comtrade.COUNTRY_CODES.get(partnerA)} reported by {comtrade.COUNTRY_CODES.get(partnerB)}" if flowCodeInv == 'X'\
    else f"{comtrade.COUNTRY_CODES.get(partnerB)} {flowDesc} from {comtrade.COUNTRY_CODES.get(partnerA)} reported by {comtrade.COUNTRY_CODES.get(partnerB)}"


print(phrase)

df_import_rep_b = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCodeInv,
                     cmdCode=cmd_detail,
                     reporterCode=partnerB,
                     partnerCode=partnerA,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     echo_url=False
                     )
if df_import_rep_b is not None:
    total_import = df_import_rep_b['primaryValue'].sum()
    df_import_rep_b['perc'] = df_import_rep_b['primaryValue']/total_import
    result = df_import_rep_b[cols].sort_values(by=['refYear','reporterDesc','primaryValue'], ascending=[True,True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print("No",phrase)
    result = ''
result

2021 24 156
China Export to Angola reported by China

ReadTimeout: HTTPSConnectionPool(host='comtradeapi.un.org', port=443): Read timed out. (read timeout=10)