# Perfil de comércio

## Criar directorias de apoio

In [2]:
from pathlib import Path

Path('support').mkdir(parents=True, exist_ok=True)
Path('reports').mkdir(parents=True, exist_ok=True)

## Criar ficheiro de configuração se não existir

O ficheiro de configuração serve para armazenar
a APIKEY que dá acesso a mais de 500 linhas de
resultados.

In [3]:
import os

fname = 'config.ini'
content = """
# Ficheiro de configuração
[comtrade]
# Add API Key. DO NOT SHARE
key = 
"""
if not os.path.isfile(fname):
  print("Criando ficheiro de configuração")
  with open(fname,'w') as f:
    f.write(content)

## Obter uma chave de acesso à API

Para aceder à UN Comtrade via API sem limites é necessário uma chave de acesso,
de outro modo os resultados são limitados a 500 linhas.

Para obter a chave de acsso:
* Registo em https://comtradedeveloper.un.org/
* Ir para _Products_ 
* Selecionar "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Escolher _Subscribe to "comtrade - v1"_  
* Esperar pelo email com a chave da API key (demora alguns dias)
* Copiar a chave para o local indicado no ficheiro `config.ini` antes
  de executar o resto do notebook.

## Inicializar a API e transferir os códigos usados

In [4]:
import os
import configparser
import comtrade

if os.path.isfile(fname):

    config = configparser.ConfigParser()
    config.read('config.ini')
    # get API Key or set to None    
    APIKEY = config['comtrade'].get('key', None)

comtrade.init(APIKEY, force_init=True)
comtrade.PERIOD_SECONDS=5

# Trade profile

Choose country and years of interest

In [5]:
country_of_interest = comtrade.m49_angola
years_of_interest = comtrade.year_range(2021, 2022)   
print(comtrade.COUNTRY_CODES[country_of_interest], years_of_interest)

Angola 2021

### Global exports and imports

In [6]:
cols = ['reporterDesc','partnerDesc','flowDesc','primaryValueFormated']
global_trade = comtrade.get_global_stats(country_of_interest, years_of_interest)
global_trade[cols].sort_index()

                 reporterDesc partnerDesc flowDesc primaryValueFormated
refYear flowCode
2021    M              Angola       World   Import    11,378,927,920.70
        X              Angola       World   Export    34,472,161,956.83

## Principais parceiros comerciais
### Principais destinos das exportações

In [7]:
show_ony_top=20
top_partners = comtrade.top_partners(country_of_interest,years_of_interest,flowCode='X', 
                                    rank_filter=show_ony_top)

In [8]:
cols=['reporterDesc','refYear','flowDesc','rank_partner','partnerDesc','primaryValueFormated']
top_partners[cols].sort_values(by=['refYear','flowDesc','rank_partner'])

,reporterDesc,refYear,flowDesc,rank_partner,partnerDesc,primaryValueFormated
348,Angola,2021,Export,1,China,"20,058,426,271.91"
211,Angola,2021,Export,2,India,"3,008,390,595.07"
288,Angola,2021,Export,3,United Arab Emirates,"1,399,449,578.20"
165,Angola,2021,Export,4,Thailand,"1,004,833,529.77"
46,Angola,2021,Export,5,Singapore,"802,659,408.76"
109,Angola,2021,Export,6,Spain,"793,986,998.99"
67,Angola,2021,Export,7,Italy,"632,025,040.54"
279,Angola,2021,Export,8,South Africa,"519,358,721.33"
70,Angola,2021,Export,9,Chile,"518,264,559.23"
63,Angola,2021,Export,10,Netherlands,"477,332,019.79"
105,Angola,2021,Export,11,United States of America,"463,806,171.82"
251,Angola,2021,Export,12,Indonesia,"444,254,841.04"
7,Angola,2021,Export,13,Canada,"407,356,591.17"
343,Angola,2021,Export,14,Namibia,"374,974,284.32"
186,Angola,2021,Export,15,France and Monaco,"361,099,628.00"
89,Angola,2021,Export,16,Uruguay,"333,653,105.65"
138,Angola,2021,Export,17,"Areas, not elsewhere specified","318,057,993.06"
132,Angola,2021,Export,18,Pakistan,"281,446,850.49"
113,Angola,2021,Export,19,Democratic Republic of the Congo,"251,508,246.53"
117,Angola,2021,Export,20,Belgium,"198,687,436.77"

# Exportações

## Principais produtos exportados

In [9]:
show_only_top=20
export_products = comtrade.top_commodities(country_of_interest,
                                               partnerCode=0,  # 0 = all partners
                                               years=years_of_interest, 
                                               cmdCode='AG2',
                                               flowCode='X',
                                           motCode=0,
                                           rank_filter=show_only_top)

In [10]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdCode','cmdDesc', 'primaryValueFormated',
        comtrade.PERC_CMD_IN_PARTNER]
export_products[cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais produtos exportados e destinos

In [11]:
show_only_top = 5
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='X',
                                           motCode=0, 
                                           extra_cols=[],
                                           rank_filter=show_only_top)

In [12]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc',
        comtrade.PERC_PARTNER_IN_CMD, 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER ]

show_only_greater_than = export_products[comtrade.PERC_PARTNER_IN_CMD]>0.01
export_products[show_only_greater_than][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais **parceiros** das exportações e produtos exportados

In [14]:
show_only_top = 5
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='X',
                                           motCode=0, 
                                           rank_filter=5)

In [15]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner',	'partnerDesc','rank_cmd', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]
export_partners[cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, 
                                                                                       comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

# Importações

## Principais produtos importados

In [19]:
show_only_top=10
export_products = comtrade.top_commodities(country_of_interest,
                                               partnerCode=0,  # 0 = all partners
                                               years=years_of_interest, 
                                               flowCode='M',
                                           motCode=0,
                                           rank_filter=10)

In [23]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdCode','cmdDesc', 'primaryValueFormated',
        'partnerDesc',
        comtrade.PERC_CMD_IN_PARTNER ]
export_products[cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais produtos importados e origens

In [26]:
show_only_top = 10
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='M',
                                           cmdCode='AG2',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [27]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_products[comtrade.PERC_PARTNER_IN_CMD] > 0.05  # show only partners with more than 5% of trade
export_products[filter_relevant_partners][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

### Principal origem das importações

In [28]:
show_ony_top=10
top_partners = comtrade.top_partners(country_of_interest,years_of_interest,
                                     flowCode='M', 
                                    rank_filter=show_ony_top)

In [28]:
cols=['reporterDesc','refYear','flowDesc','rank_partner','partnerDesc','primaryValueFormated']
top_partners[cols].sort_values(by=['refYear','flowDesc','rank_partner'])

,reporterDesc,refYear,flowDesc,rank_partner,partnerDesc,primaryValueFormated
258,Angola,2021,Import,1,China,"1,688,904,641.34"
95,Angola,2021,Import,2,Portugal,"1,357,979,633.71"
323,Angola,2021,Import,3,India,"745,723,527.22"
319,Angola,2021,Import,4,Togo,"687,689,058.08"
495,Angola,2021,Import,5,Brazil,"546,044,463.65"
610,Angola,2021,Import,6,United Kingdom,"539,546,476.65"
251,Angola,2021,Import,7,United States of America,"523,006,089.83"
455,Angola,2021,Import,8,Netherlands,"432,100,821.51"
192,Angola,2021,Import,9,Italy,"427,046,959.44"
36,Angola,2021,Import,10,France and Monaco,"411,360,213.52"

## Principais **parceiros** das importações e produtos importados

In [31]:
show_only_top = 10
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='M',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [32]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner','partnerDesc', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_partners[comtrade.PERC_PARTNER_IN_CMD] > 0.0  # show only partners with more than 5% of trade
export_partners[filter_relevant_partners][cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Análise de simetrias nos dados

In [33]:


partnerA = country_of_interest

### Principais destinos de exportação reportados pelo país

In [34]:
show_only_top = 10
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='X',
                     cmdCode='TOTAL',
                     reporterCode=partnerA,
                     partnerCode=None,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     customsCode=None,
                     echo_url=False
                     )
cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc'] 
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>100000][cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

### Principais destinos de exportação segundo o registo da importações do resto do mundo

In [35]:
show_only_top=10
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='M',
                     cmdCode='TOTAL',
                     reporterCode=None,
                     partnerCode=partnerA,
                     partner2Code=0,
                     motCode = 0,
                     # customsCode=0,
                     period=years_of_interest,
                     echo_url=False
                     )
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>1000][cols].sort_values(by=['refYear','primaryValue','reporterDesc',], ascending=[True,False,True]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

## Análise de simetrias nos dados com um país específico

In [36]:
partnerB = comtrade.COUNTRY_CODES_REVERSE['United Arab Emirates']
flowCode = 'X'
cmd_detail = 'AG4'
show_only_top = 10

flowDesc = comtrade.FLOWS_CODES[flowCode]
cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','cmdDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc']

In [37]:
df_import_rep_a = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCode,
                     cmdCode=cmd_detail,
                     reporterCode=partnerA,
                     partnerCode=partnerB,
                     partner2Code=0,
                     period=2020,
                     motCode = 0,
                     echo_url=False
                     )

In [38]:
if df_import_rep_a is not None:
    total_import = df_import_rep_a['primaryValue'].sum()
    df_import_rep_a['perc'] = df_import_rep_a['primaryValue']/total_import
    cols = cols + ['perc']
    print(f"'{flowDesc}' de produtos de {comtrade.COUNTRY_CODES.get(partnerB)} por {comtrade.COUNTRY_CODES.get(partnerA)} reportados por {comtrade.COUNTRY_CODES.get(partnerA)}")
    result = df_import_rep_a[cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print(f"Não há '{flowDesc}' de produtos de {comtrade.COUNTRY_CODES.get(partnerA)} por {comtrade.COUNTRY_CODES.get(partnerB)} reportados por {comtrade.COUNTRY_CODES.get(partnerA)}")
    result = ''

result

'Export' de produtos de United Arab Emirates por Angola reportados por Angola

In [55]:
# invertemos

print(years_of_interest, partnerA, partnerB)

if flowCode == 'M':
    flowCodeInv = 'X'
else:
    flowCodeInv = 'M'

flowDesc = comtrade.FLOWS_CODES[flowCodeInv]
print(f"'{flowDesc}' de produtos de {comtrade.COUNTRY_CODES.get(partnerB)} para {comtrade.COUNTRY_CODES.get(partnerA)} reportados por {comtrade.COUNTRY_CODES.get(partnerB)}")

df_import_rep_b = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCodeInv,
                     cmdCode=cmd_detail,
                     reporterCode=partnerB,
                     partnerCode=partnerA,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     echo_url=False
                     )
if df_import_rep_b is not None:
    total_import = df_import_rep_b['primaryValue'].sum()
    df_import_rep_b['perc'] = df_import_rep_b['primaryValue']/total_import
    cols = cols + ['perc']
    result = df_import_rep_b[cols].sort_values(by=['refYear','reporterDesc','primaryValue'], ascending=[True,True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print(f"Não há '{flowDesc}' de produtos de {comtrade.COUNTRY_CODES.get(partnerB)} para {comtrade.COUNTRY_CODES.get(partnerA)} reportados por {comtrade.COUNTRY_CODES.get(partnerB)}")
    result = ''
result

2021 24 784
'Import' de produtos de United Arab Emirates para Angola reportados por United Arab Emirates