# Perfil de comércio

## Criar directorias de apoio

In [1]:
from pathlib import Path

Path('support').mkdir(parents=True, exist_ok=True)
Path('reports').mkdir(parents=True, exist_ok=True)

## Criar ficheiro de configuração se não existir

O ficheiro de configuração serve para armazenar
a APIKEY que dá acesso a mais de 500 linhas de
resultados.

In [2]:
import os

fname = 'config.ini'
content = """
# Ficheiro de configuração
[comtrade]
# Add API Key. DO NOT SHARE
key = 
"""
if not os.path.isfile(fname):
  print("Criando ficheiro de configuração")
  with open(fname,'w') as f:
    f.write(content)

## Obter uma chave de acesso à API

Para aceder à UN Comtrade via API sem limites é necessário uma chave de acesso,
de outro modo os resultados são limitados a 500 linhas.

Para obter a chave de acsso:
* Registo em https://comtradedeveloper.un.org/
* Ir para _Products_ 
* Selecionar "Premium Individual APIs" (https://comtradedeveloper.un.org/product#product=dataapis)
* Escolher _Subscribe to "comtrade - v1"_  
* Esperar pelo email com a chave da API key (demora alguns dias)
* Copiar a chave para o local indicado no ficheiro `config.ini` antes
  de executar o resto do notebook.

## Inicializar a API e transferir os códigos usados

In [3]:
import os
import configparser
import comtrade

if os.path.isfile(fname):

    config = configparser.ConfigParser()
    config.read('config.ini')
    # get API Key or set to None    
    APIKEY = config['comtrade'].get('key', None)

comtrade.init(APIKEY, force_init=True)
comtrade.PERIOD_SECONDS=7

# Trade profile

Choose country and years of interest

In [15]:
country_of_interest = comtrade.m49_angola
years_of_interest = '2010,2015,2018,2019,2020,2021'  #comtrade.year_range(2011, 2021)   
print(comtrade.COUNTRY_CODES[country_of_interest], years_of_interest)

Angola 2010,2015,2018,2019,2020,2021

### Global exports and imports

In [5]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format


global_trade = comtrade.get_global_stats(country_of_interest, years=years_of_interest,
                                         exports_from_word_imports=True)

/Users/jrc/develop/cipf-comtrade/comtrade.py:369: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")
/Users/jrc/develop/cipf-comtrade/comtrade.py:369: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")

In [6]:
cols = ['refYear','flowDesc','countryDesc','reporterDesc','primaryValueFormated']
global_trade[cols]

   refYear flowDesc countryDesc reporterDesc primaryValueFormated
0     2010  Imports      Angola       Angola    18,143,268,908.00
0     2010  Exports      Angola        World    53,459,185,324.68
1     2015  Imports      Angola       Angola    21,549,256,530.51
1     2015  Exports      Angola        World    36,829,899,264.38
2     2018  Imports      Angola       Angola    16,006,910,579.06
2     2018  Exports      Angola        World    44,183,954,089.23
3     2019  Imports      Angola       Angola    13,961,640,425.76
3     2019  Exports      Angola        World    37,541,664,634.40
4     2020  Imports      Angola       Angola     9,337,925,708.64
4     2020  Exports      Angola        World    23,994,770,038.40
5     2021  Imports      Angola       Angola    11,378,927,920.70
5     2021  Exports      Angola        World    33,477,533,120.02

## Principais parceiros comerciais
### Principais destinos das exportações

Usamos as importações declaradas pelos parceiros para obter as
exportações do país de interesse.

In [24]:
show_ony_top=10
years_of_interest = comtrade.year_range(2011, 2022)

top_partners = comtrade.top_partners(reporterCode=None,partnerCode=country_of_interest,years=years_of_interest,
                                     flowCode='M', 
                                    rank_filter=show_ony_top)
top_partners.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1189 entries, 23 to 3224
Data columns (total 65 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  1189 non-null   object
 1   freqCode                  1189 non-null   object
 2   refPeriodId               1189 non-null   int64
 3   refYear                   1189 non-null   int64
 4   refMonth                  1189 non-null   int64
 5   period                    1189 non-null   object
 6   reporterCode              1189 non-null   int64
 7   reporterISO               0 non-null      object
 8   reporterDesc              1189 non-null   object
 9   flowCode                  1189 non-null   object
 10  flowDesc                  1189 non-null   object
 11  partnerCode               1189 non-null   int64
 12  partnerISO                0 non-null      object
 13  partnerDesc               1189 non-null   object
 14  partner2Code              1189 non-null   int64
 15  partner2ISO               0 non-null      object
 16  partner2Desc              1189 non-null   object
 17  classificationCode        1189 non-null   object
 18  classificationSearchCode  1189 non-null   object
 19  isOriginalClassification  1189 non-null   bool
 20  cmdCode                   1189 non-null   object
 21  cmdDesc                   1189 non-null   object
 22  aggrLevel                 0 non-null      object
 23  isLeaf                    0 non-null      object
 24  customsCode               1189 non-null   object
 25  customsDesc               1189 non-null   object
 26  mosCode                   1189 non-null   object
 27  motCode                   1189 non-null   int64
 28  motDesc                   1189 non-null   object
 29  qtyUnitCode               1189 non-null   int64
 30  qtyUnitAbbr               0 non-null      object
 31  qty                       782 non-null    float64
 32  isQtyEstimated            1189 non-null   bool
 33  altQtyUnitCode            1189 non-null   int64
 34  altQtyUnitAbbr            0 non-null      object
 35  altQty                    782 non-null    float64
 36  isAltQtyEstimated         1189 non-null   bool
 37  netWgt                    595 non-null    float64
 38  isNetWgtEstimated         1189 non-null   bool
 39  grossWgt                  601 non-null    float64
 40  isGrossWgtEstimated       1189 non-null   bool
 41  cifvalue                  1174 non-null   float64
 42  fobvalue                  445 non-null    float64
 43  primaryValue              1189 non-null   float64
 44  legacyEstimationFlag      1189 non-null   int64
 45  isReported                1189 non-null   bool
 46  isAggregate               1189 non-null   bool
 47  mosDesc                   994 non-null    object
 48  qtyUnitDesc               1189 non-null   object
 49  altQtyUnitDesc            1189 non-null   object
 50  primaryValueFormated      1189 non-null   object
 51  sum_cmd                   1189 non-null   float64
 52  sum_year_flow             1189 non-null   float64
 53  perc_year_flow            1189 non-null   float64
 54  sum_partner               1189 non-null   float64
 55  perc_partner              1189 non-null   float64
 56  rank_partner              1189 non-null   int64
 57  sum_reporter              1189 non-null   float64
 58  perc_reporter             1189 non-null   float64
 59  rank_reporter             1189 non-null   int64
 60  rank_cmd                  1189 non-null   int64
 61  rank_partner_cmd          1189 non-null   int64
 62  rank_cmd_partner          1189 non-null   int64
 63  perc_partner_for_cmd      1189 non-null   float64
 64  perc_cmd_for_partner      1189 non-null   float64
dtypes: bool(7), float64(16), int64(15), object(27)
memory usage: 556.2+ KB

/Users/jrc/develop/cipf-comtrade/comtrade.py:369: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")

In [31]:
cols=['reporterDesc','refYear','flowDesc','partnerDesc','rank_reporter','rank_partner','primaryValueFormated', 'perc_year_flow']
show_ony_top=5
top_partners[top_partners.rank_reporter<=show_ony_top].sort_values(by=['refYear','flowDesc','primaryValue'], ascending=[True,True,False])[cols].style.format({'perc_year_flow': '{:,.2%}'.format})

In [38]:
pivoted = top_partners[top_partners.rank_reporter<=show_ony_top].pivot_table(index=['refYear','flowDesc'], columns='reporterDesc', values=['primaryValue','perc_year_flow'])
pivoted.swaplevel(axis=1).sort_index(axis=1, level=0).fillna('')

reporterDesc     Asia, not elsewhere specified                   \
                                perc_year_flow     primaryValue
refYear flowDesc
2011    Import                            0.09 5,665,315,729.00
2012    Import                            0.07 5,004,958,562.00
2013    Import                            0.05 3,855,306,649.00
2014    Import                            0.05 2,955,558,824.00
2015    Import
2016    Import                            0.05 1,312,764,415.00
2017    Import                            0.04 1,479,442,599.65
2018    Import
2019    Import
2020    Import
2021    Import

reporterDesc             Canada                           China  \
                 perc_year_flow     primaryValue perc_year_flow
refYear flowDesc
2011    Import             0.04 2,469,608,910.00           0.38
2012    Import                                             0.44
2013    Import                                             0.44
2014    Import                                             0.48
2015    Import                                             0.43
2016    Import                                             0.49
2017    Import                                             0.56
2018    Import                                             0.58
2019    Import                                             0.63
2020    Import                                             0.62
2021    Import                                             0.62

reporterDesc                       France and Monaco                   \
                      primaryValue    perc_year_flow     primaryValue
refYear flowDesc
2011    Import   24,922,180,492.00
2012    Import   33,561,896,917.00
2013    Import   31,972,669,347.00
2014    Import   31,106,015,046.00
2015    Import   16,001,611,383.00              0.04 1,610,479,858.00
2016    Import   13,966,117,080.00
2017    Import   20,698,709,467.00
2018    Import   25,826,510,355.00
2019    Import   23,837,402,142.00
2020    Import   14,757,730,338.00
2021    Import   20,908,231,317.00

reporterDesc              India                   ...   South Africa  \
                 perc_year_flow     primaryValue  ... perc_year_flow
refYear flowDesc                                  ...
2011    Import             0.09 6,005,484,849.00  ...
2012    Import             0.11 8,020,442,181.00  ...           0.04
2013    Import             0.09 6,798,300,153.00  ...
2014    Import             0.09 5,641,667,702.00  ...
2015    Import             0.09 3,169,598,580.00  ...
2016    Import             0.07 2,001,936,255.00  ...           0.05
2017    Import             0.11 4,118,279,131.90  ...           0.04
2018    Import             0.10 4,337,925,217.50  ...
2019    Import             0.10 3,799,563,165.19  ...
2020    Import             0.08 2,022,432,688.74  ...
2021    Import             0.07 2,315,947,568.41  ...

reporterDesc                               Spain                   \
                     primaryValue perc_year_flow     primaryValue
refYear flowDesc
2011    Import
2012    Import   2,802,783,009.10
2013    Import
2014    Import                              0.06 3,616,693,014.01
2015    Import                              0.06 2,241,044,685.06
2016    Import   1,277,795,554.60
2017    Import   1,340,980,393.36
2018    Import                              0.03 1,425,408,792.80
2019    Import                              0.03 1,073,792,688.36
2020    Import                              0.03   626,580,515.28
2021    Import

reporterDesc           Thailand                  United Arab Emirates  \
                 perc_year_flow     primaryValue       perc_year_flow
refYear flowDesc
2011    Import
2012    Import
2013    Import
2014    Import
2015    Import
2016    Import
2017    Import
2018    Import                                                   0.04
2019    Import                                                   0.03
2020    Import             0.05 1,258,209,112.04                 0.04
2021    Import             0.05 1,607,756,231.51                 0.05

reporterDesc                      United States of America
                     primaryValue           perc_year_flow      primaryValue
refYear flowDesc
2011    Import                                        0.21 13,833,012,040.00
2012    Import                                        0.13 10,030,264,550.00
2013    Import                                        0.12  8,922,894,861.00
2014    Import                                        0.09  5,837,752,018.00
2015    Import                                        0.08  2,917,054,295.00
2016    Import                                        0.11  2,976,766,381.00
2017    Import                                        0.07  2,686,493,698.00
2018    Import   1,569,493,453.56                     0.06  2,768,924,982.00
2019    Import   1,294,307,774.80
2020    Import   1,018,255,600.93
2021    Import   1,685,701,656.52                     0.03  1,089,250,402.00

[11 rows x 22 columns]

In [ ]:
top_partners['perc_year_flow'].sum()

1.0

# Exportações

## Principais produtos exportados

In [39]:
show_only_top=50
export_products = comtrade.top_commodities(reporterCode=None,
                                               partnerCode=country_of_interest,
                                               years=years_of_interest, 
                                               cmdCode='AG2',
                                               flowCode='M',  # exports from partners imports
                                           motCode=0,
                                           rank_filter=show_only_top)
export_products.groupby(['refYear','flowDesc','cmdCode','cmdDesc'])['primaryValue'].sum().sort_values(ascending=False).head(10)

/Users/jrc/develop/cipf-comtrade/comtrade.py:369: UserWarning: Query returned different isAggregate values, check for duplicate results when aggregating
  warnings.warn("Query returned different isAggregate values, check for duplicate results when aggregating")

refYear  flowDesc  cmdCode  cmdDesc
2012     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   71,122,194,738.19
2013     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   68,806,744,671.76
2011     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   64,243,246,424.07
2014     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   62,749,952,891.12
2018     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   41,004,276,582.51
2019     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   35,214,688,918.68
2015     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   34,613,923,902.28
2017     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   33,410,091,819.72
2021     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   30,623,115,913.29
2016     Import    27       Mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes   25,972,696,547.81
Name: primaryValue, dtype: float64

In [ ]:
cols = ['refYear','flowDesc','cmdDesc','cmdCode','reporterDesc', 'rank_cmd','primaryValueFormated',
        comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD,'perc_year_flow']
export_products[export_products['primaryValue']>=1000000].sort_values(['rank_cmd','primaryValue'],ascending=[True, False])[cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format,'perc_year_flow': '{:,.2%}'.format})

In [ ]:
export_products[comtrade.PERC_CMD_IN_PARTNER].sum()

0.99991395544394

## Principais produtos exportados e destinos

In [20]:
show_only_top = 5
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='X',
                                           motCode=0, 
                                           extra_cols=[],
                                           rank_filter=show_only_top)

In [21]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc',
        comtrade.PERC_PARTNER_IN_CMD, 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER ]

show_only_greater_than = export_products[comtrade.PERC_PARTNER_IN_CMD]>0.01
export_products[show_only_greater_than][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais **parceiros** das exportações e produtos exportados

In [14]:
show_only_top = 5
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='X',
                                           motCode=0, 
                                           rank_filter=5)

In [15]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner',	'partnerDesc','rank_cmd', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]
export_partners[cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, 
                                                                                       comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

# Importações

## Principais produtos importados

In [22]:
show_only_top=10
export_products = comtrade.top_commodities(country_of_interest,
                                               partnerCode=0,  # 0 = all partners
                                               years=years_of_interest, 
                                               flowCode='M',
                                           motCode=0,
                                           rank_filter=10)

In [23]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdCode','cmdDesc', 'primaryValueFormated',
        'partnerDesc',
        comtrade.PERC_CMD_IN_PARTNER ]
export_products[cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais produtos importados e origens

In [24]:
show_only_top = 10
export_products = comtrade.top_commodities(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           flowCode='M',
                                           cmdCode='AG2',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [25]:
cols = ['reporterDesc','refYear', 'flowDesc',	'rank_cmd', 'cmdDesc','rank_partner','partnerDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_products[comtrade.PERC_PARTNER_IN_CMD] > 0.05  # show only partners with more than 5% of trade
export_products[filter_relevant_partners][cols].style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

### Principal origem das importações

In [32]:
show_ony_top=20
top_partners = comtrade.top_partners(country_of_interest,years_of_interest,
                                     flowCode='M', 
                                    rank_filter=show_ony_top)

In [33]:
cols=['reporterDesc','refYear','flowDesc','rank_partner','partnerDesc','primaryValueFormated', comtrade.PERC_PARTNER_IN_CMD]
top_partners[cols].sort_values(by=['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Principais **parceiros** das importações e produtos importados

In [34]:
show_only_top = 10
export_partners = comtrade.top_partners(country_of_interest,
                                           partnerCode=None,
                                           years=years_of_interest, 
                                           cmdCode='AG2',
                                           flowCode='M',
                                           motCode=0, 
                                           rank_filter=show_only_top)

In [35]:
cols = ['reporterDesc','refYear', 'flowDesc','rank_partner','partnerDesc', 'cmdDesc', 'primaryValueFormated',
       comtrade.PERC_CMD_IN_PARTNER,comtrade.PERC_PARTNER_IN_CMD ]

filter_relevant_partners = export_partners[comtrade.PERC_PARTNER_IN_CMD] > 0.0  # show only partners with more than 5% of trade
export_partners[filter_relevant_partners][cols].sort_values(['refYear','flowDesc','rank_partner']).style.format({comtrade.PERC_CMD_IN_PARTNER: '{:,.2%}'.format, comtrade.PERC_PARTNER_IN_CMD: '{:,.2%}'.format})

## Análise de simetrias nos dados

In [36]:


partnerA = country_of_interest

### Principais destinos de exportação reportados pelo país

In [83]:
show_only_top = 30
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='X',
                     cmdCode='TOTAL',
                     reporterCode=partnerA,
                     partnerCode=None,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     customsCode=None,
                     echo_url=False
                     )
cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc'] 
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>100000][cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

### Principais destinos de exportação segundo o registo da importações do resto do mundo

In [82]:
show_only_top=30
df_import_rep_a_world = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode='M',
                     cmdCode='TOTAL',
                     reporterCode=None,
                     partnerCode=partnerA,
                     partner2Code=0,
                     motCode = 0,
                     # customsCode=0,
                     period=years_of_interest,
                     echo_url=False
                     )
total_import = df_import_rep_a_world['primaryValue'].sum()
df_import_rep_a_world['perc'] = df_import_rep_a_world['primaryValue']/total_import
df_import_rep_a_world[df_import_rep_a_world['primaryValue']>1000][cols].sort_values(by=['refYear','primaryValue','reporterDesc',], ascending=[True,False,True]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})

## Análise de simetrias nos dados com um país específico

In [104]:
partnerB = comtrade.COUNTRY_CODES_REVERSE['China']
flowCode = 'M'
flowDesc = comtrade.FLOWS_CODES[flowCode]


phrase = f"{comtrade.COUNTRY_CODES.get(partnerA)} {flowDesc} to {comtrade.COUNTRY_CODES.get(partnerB)} reported by {comtrade.COUNTRY_CODES.get(partnerA)}" \
 if flowCode == 'X' else f"{comtrade.COUNTRY_CODES.get(partnerA)} {flowDesc} from {comtrade.COUNTRY_CODES.get(partnerB)} reported by {comtrade.COUNTRY_CODES.get(partnerA)}"

cmd_detail = 'AG4'
show_only_top = 10

cols = ['reporterDesc','partnerDesc','partner2Desc','refYear','flowDesc','cmdDesc','primaryValueFormated','primaryValue','perc','motDesc','isAggregate','customsDesc']

In [105]:
df_import_rep_a = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCode,
                     cmdCode=cmd_detail,
                     reporterCode=partnerA,
                     partnerCode=partnerB,
                     partner2Code=0,
                     period=2020,
                     motCode = 0,
                     echo_url=False
                     )

In [106]:
if df_import_rep_a is not None:
    total_import = df_import_rep_a['primaryValue'].sum()
    df_import_rep_a['perc'] = df_import_rep_a['primaryValue']/total_import
    print(phrase)
    result = df_import_rep_a[cols].sort_values(by=['refYear','primaryValue'], ascending=[True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print("No",phrase)
    result = ''

result

Angola Import from China reported by Angola

In [108]:
# invertemos

print(years_of_interest, partnerA, partnerB)

flowCodeInv = 'X' if flowCode == 'M' else 'M'
flowDesc = comtrade.FLOWS_CODES[flowCodeInv]


phrase = f"{comtrade.COUNTRY_CODES.get(partnerB)} {flowDesc} to {comtrade.COUNTRY_CODES.get(partnerA)} reported by {comtrade.COUNTRY_CODES.get(partnerB)}" if flowCodeInv == 'X'\
    else f"{comtrade.COUNTRY_CODES.get(partnerB)} {flowDesc} from {comtrade.COUNTRY_CODES.get(partnerA)} reported by {comtrade.COUNTRY_CODES.get(partnerB)}"


print(phrase)

df_import_rep_b = comtrade.get_data("C",# C for commodities, S for Services
                     "A",# (freqCode) A for annual and M for monthly
                     flowCode=flowCodeInv,
                     cmdCode=cmd_detail,
                     reporterCode=partnerB,
                     partnerCode=partnerA,
                     partner2Code=0,
                     period=years_of_interest,
                     motCode = 0,
                     echo_url=False
                     )
if df_import_rep_b is not None:
    total_import = df_import_rep_b['primaryValue'].sum()
    df_import_rep_b['perc'] = df_import_rep_b['primaryValue']/total_import
    result = df_import_rep_b[cols].sort_values(by=['refYear','reporterDesc','primaryValue'], ascending=[True,True,False]).head(show_only_top).style.format({'perc': '{:,.2%}'.format})
else:
    print("No",phrase)
    result = ''
result

2021 24 156
China Export to Angola reported by China

ReadTimeout: HTTPSConnectionPool(host='comtradeapi.un.org', port=443): Read timed out. (read timeout=10)