# Bug in isAggregate column?

The value of `isAggregate` column is affected by the values
of the partner2Code column (and probably other detail columns
like Mode of Transport and CustomsCode).

If a dataset has details of partner2 then `isAggregate` is set
at the level of specific partner2, and not when partner2Code = 0


For example China-Angola Imports 2017

In [6]:

# pip install pandas requests

import json
import requests
import pandas as pd


pd.set_option('display.float_format', lambda x: '%.2f' % x)

url_cn_angola_2017 = 'https://comtradeapi.un.org/public/v1/preview//C/A/HS?reporterCode=156&period=2017&partnerCode=24&flowCode=M&customsCode=C00'
resp = requests.get(url_cn_angola_2017)
results = json.loads(resp.content)['data']
df_2017 = pd.DataFrame(results)
df_2017[['refYear','cmdCode','partner2Code','isAggregate','primaryValue']].sort_values(by='cmdCode').head(20)

     refYear cmdCode  partner2Code  isAggregate  primaryValue
0       2017      01             0         True    2678856.00
102     2017      01            24         True    2678856.00
103     2017    0106            24         True    2678856.00
1       2017    0106             0         True    2678856.00
104     2017  010612            24        False    2678856.00
2       2017  010612             0         True    2678856.00
105     2017      20            24         True      16500.00
3       2017      20             0         True      16500.00
106     2017    2009            24         True      16500.00
4       2017    2009             0         True      16500.00
5       2017  200989             0         True      16500.00
107     2017  200989            24        False      16500.00
108     2017      22            24         True     108122.00
6       2017      22             0         True     108122.00
7       2017    2202             0         True      23000.00
109     2017    2202            24         True      23000.00
8       2017  220210             0         True      20000.00
110     2017  220210            24        False      20000.00
9       2017  220299             0         True       3000.00
111     2017  220299            24        False       3000.00

In [7]:
# show only rows where isAggregate is False
df_2017[df_2017['isAggregate'] == False][['refYear','cmdCode','partner2Code','isAggregate','primaryValue']].sort_values(by='cmdCode').head(10)

     refYear cmdCode  partner2Code  isAggregate  primaryValue
104     2017  010612            24        False    2678856.00
107     2017  200989            24        False      16500.00
110     2017  220210            24        False      20000.00
111     2017  220299            24        False       3000.00
113     2017  220300            24        False      85122.00
116     2017  250610            24        False    2503564.00
117     2017  250620            24        False    2519548.00
224     2017  251511           380        False       5119.00
119     2017  251512            24        False    3564171.00
120     2017  251520            24        False      32968.00

Groupping by code delivers the expected results

In [8]:
pd.options.display.float_format = '{:,.2f}'.format
df_2017['cmdCodeAG2'] = df_2017.cmdCode.str[0:2]
df_2017[df_2017['isAggregate'] == False].groupby(['refYear','cmdCodeAG2']).agg({'primaryValue':'sum'}).reset_index().sort_values(by=['refYear','cmdCodeAG2'])

    refYear cmdCodeAG2      primaryValue
0      2017         01      2,678,856.00
1      2017         20         16,500.00
2      2017         22        108,122.00
3      2017         25     20,681,052.00
4      2017         27 20,541,590,167.00
5      2017         39            711.00
6      2017         44     27,138,190.00
7      2017         61             87.00
8      2017         62            210.00
9      2017         68          6,128.00
10     2017         71    105,942,436.00
11     2017         73            179.00
12     2017         78        443,390.00
13     2017         82             58.00
14     2017         84         23,111.00
15     2017         85         54,595.00
16     2017         87             13.00
17     2017         99         25,662.00

If the dataset has no breakdown
of the partner2Code then the
isAggregate value is set for lines
with partner2Code = 0

In [9]:

url_cn_angola_2018 = 'https://comtradeapi.un.org/public/v1/preview//C/A/HS?reporterCode=156&period=2018&partnerCode=24&flowCode=M&customsCode=C00'
resp = requests.get(url_cn_angola_2018)
results = json.loads(resp.content)['data']
df_2018 = pd.DataFrame(results)
df_2018[['cmdCode','partner2Code','partner2Desc','isAggregate','primaryValue']].sort_values(by='cmdCode').head(20)

   cmdCode  partner2Code partner2Desc  isAggregate  primaryValue
0       01             0         None         True  3,175,615.00
1     0106             0         None         True  3,175,615.00
2   010612             0         None        False  3,175,615.00
3       03             0         None         True     58,330.00
4     0303             0         None         True     58,330.00
5   030389             0         None        False     58,330.00
6       05             0         None         True     19,121.00
7     0507             0         None         True     19,121.00
8   050790             0         None        False     19,121.00
9       22             0         None         True     84,459.00
10    2203             0         None         True     84,459.00
11  220300             0         None        False     84,459.00
12      25             0         None         True 21,344,705.00
13    2506             0         None         True  2,767,905.00
14  250610             0         None        False  2,600,512.00
15  250620             0         None        False    167,393.00
16    2515             0         None         True  2,044,099.00
17  251511             0         None        False     22,083.00
18  251512             0         None        False  2,022,016.00
19    2516             0         None         True 16,530,698.00

In [11]:
pd.options.display.float_format = '{:,.2f}'.format
df_2018['cmdCodeAG2'] = df_2018.cmdCode.str[0:2]
df_2018[df_2018['isAggregate'] == False].groupby(['refYear','cmdCodeAG2']).agg({'primaryValue':'sum'}).reset_index().sort_values(by=['refYear','cmdCodeAG2'])

    refYear cmdCodeAG2      primaryValue
0      2018         01      3,175,615.00
1      2018         03         58,330.00
2      2018         05         19,121.00
3      2018         22         84,459.00
4      2018         25     21,344,705.00
5      2018         26      5,738,316.00
6      2018         27 25,755,301,914.00
7      2018         33             32.00
8      2018         35             34.00
9      2018         39            137.00
10     2018         40            586.00
11     2018         44     30,857,058.00
12     2018         48             45.00
13     2018         52        129,660.00
14     2018         62            167.00
15     2018         68            256.00
16     2018         71      9,774,778.00
17     2018         73          1,176.00
18     2018         84          3,953.00
19     2018         85          3,421.00
20     2018         87             66.00
21     2018         94          4,709.00
22     2018         99         11,817.00

Resposta da Comtrade:

“This is not an issue with the data.
 
Some datasets have breakdown of 2ndPartner and some others do not, this will cause that flag to change depending on the original data received. For example:
 
https://comtradeapi.un.org/public/v1/preview/C/A/HS?reporterCode=156&period=2017&partnerCode=24&flowCode=M&customsCode=C00&cmdCode=010612

https://comtradeapi.un.org/public/v1/preview/C/A/HS?reporterCode=156&period=2019&partnerCode=24&flowCode=M&customsCode=C00&cmdCode=010612”
 
Best Regards
Comtrade Team

Nota: Os exemplos não especificam partnerCode2=0

In [14]:

# pip install pandas requests
import time
import json
import requests
import pandas as pd


pd.set_option('display.float_format', lambda x: '%.2f' % x)

url_cn_angola_2017 = 'https://comtradeapi.un.org/public/v1/preview/C/A/HS?reporterCode=156&period=2017&partnerCode=24&flowCode=M&customsCode=C00'
resp = requests.get(url_cn_angola_2017)
results = json.loads(resp.content)['data']
df_2017 = pd.DataFrame(results)
print("As of 2023-02-17, the isAggregate column is correct for 2017 and earlier data if partner2Code is not specified, but duplicate rows are returned")
print("Request url: ", url_cn_angola_2017)
print(df_2017[['cmdCode','partner2Code','isAggregate','primaryValue']].sort_values(by='cmdCode').head(120))
print()

time.sleep(5)

url_cn_angola_2018 = 'https://comtradeapi.un.org/public/v1/preview/C/A/HS?reporterCode=156&period=2019&partnerCode=24&flowCode=M&customsCode=C00'
resp = requests.get(url_cn_angola_2018)
results = json.loads(resp.content)['data']
df_2018 = pd.DataFrame(results)
print("As of 2023-02-18, the isAggregate column is correct for 2018 and later data, and there are no duplicates because partner2 always zero")
print("Request url: ", url_cn_angola_2018)
print(df_2018[['cmdCode','partner2Code','isAggregate','primaryValue']].sort_values(by='cmdCode').head(50))

As of 2023-02-17, the isAggregate column is correct for 2017 and earlier data if partner2Code is not specified, but duplicate rows are returned
Request url:  https://comtradeapi.un.org/public/v1/preview/C/A/HS?reporterCode=156&period=2017&partnerCode=24&flowCode=M&customsCode=C00
    cmdCode  partner2Code  isAggregate  primaryValue
0        01             0         True    2678856.00
102      01            24         True    2678856.00
103    0106            24         True    2678856.00
1      0106             0         True    2678856.00
104  010612            24        False    2678856.00
..      ...           ...          ...           ...
243  440341           702        False      39756.00
42   440341             0         True      93089.00
141  440341            24        False      53333.00
43   440349             0         True   19808496.00
142  440349            24        False   19691856.00

[120 rows x 4 columns]

As of 2023-02-18, the isAggregate column is correct for 2018 and later data, and there are no duplicates because partner2 always zero
Request url:  https://comtradeapi.un.org/public/v1/preview/C/A/HS?reporterCode=156&period=2019&partnerCode=24&flowCode=M&customsCode=C00
   cmdCode  partner2Code  isAggregate   primaryValue
0       01             0         True      890664.00
1     0106             0         True      890664.00
2   010612             0        False      890664.00
3       05             0         True       11887.00
4     0507             0         True       11887.00
5   050790             0        False       11887.00
6       17             0         True          60.00
7     1704             0         True          60.00
8   170490             0        False          60.00
9       21             0         True         153.00
10    2106             0         True         153.00
11  210690             0        False         153.00
12      22             0         True      172772.00
13    2203             0         True      172772.00
14  220300             0        False      172772.00
15      25             0         True    17479507.00
16    2506             0         True      390625.00
17  250610             0        False      343261.00
18  250620             0        False       47364.00
19    2515             0         True     2449249.00
20  251511             0        False       13490.00
21  251512             0        False     2435759.00
22    2516             0         True    14633426.00
23  251611             0        False     5885571.00
24  251612             0        False     8747855.00
25    2530             0         True        6207.00
26  253010             0        False        3583.00
27  253090             0        False        2624.00
28      26             0         True     2177337.00
29    2602             0         True     2165807.00
30  260200             0        False     2165807.00
31    2607             0         True        3750.00
32  260700             0        False        3750.00
33    2615             0         True        7780.00
34  261590             0        False        7780.00
35      27             0         True 23785794261.00
36    2709             0         True 23224440673.00
37  270900             0        False 23224440673.00
38    2711             0         True   561353588.00
39  271111             0        False    93278057.00
40  271112             0        False   373675128.00
41  271113             0        False    94400403.00
42      33             0         True         110.00
43    3304             0         True          70.00
44  330499             0        False          70.00
45    3305             0         True          26.00
46  330590             0        False          26.00
47    3307             0         True          14.00
48  330730             0        False          14.00
49      34             0         True          13.00

In [46]:
df_2017[df_2017.isAggregate == False][['cmdCode','partner2Code','isAggregate','primaryValue']].sort_values(by='cmdCode').head(50)

    cmdCode  partner2Code  isAggregate   primaryValue
104  010612            24        False     2678856.00
107  200989            24        False       16500.00
110  220210            24        False       20000.00
111  220299            24        False        3000.00
113  220300            24        False       85122.00
116  250610            24        False     2503564.00
117  250620            24        False     2519548.00
224  251511           380        False        5119.00
119  251512            24        False     3564171.00
120  251520            24        False       32968.00
122  251611            24        False     6258709.00
200  251611           344        False       39009.00
201  251612           344        False      838412.00
123  251612            24        False     4906230.00
124  251620            24        False        3077.00
126  251749            24        False       10245.00
239  270900           458        False  1108444330.00
204  270900           344        False   186413505.00
228  270900           392        False   152009770.00
235  270900           410        False   102717790.00
186  270900           178        False    54097894.00
220  270900           360        False    87082773.00
129  270900            24        False 18431931934.00
131  271111            24        False    84995845.00
132  271112            24        False   288949011.00
133  271113            24        False    44945335.00
135  271490            24        False        1980.00
138  392390            24        False         363.00
247  392690           752        False         348.00
141  440341            24        False       53333.00
243  440341           702        False       39756.00
142  440349            24        False    19691856.00
207  440349           344        False       74009.00
189  440349           178        False       42631.00
143  440398            24        False      692863.00
144  440399            24        False     3681483.00
146  440725            24        False      100074.00
147  440727            24        False      948001.00
148  440729            24        False     1090847.00
149  440799            24        False      414300.00
151  440890            24        False      256790.00
153  442199            24        False       52247.00
259  610341           826        False          47.00
261  611011           826        False          40.00
264  620443           826        False         210.00
156  680291            24        False        3661.00
157  680293            24        False        2467.00
210  710231           344        False   105942436.00
160  731815            24        False         179.00
163  780199            24        False      443390.00